
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@100;200;300;400;500;600&family=Sora:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;300&family=Outfit:wght@300;400&family=Red+Hat+Display&family=Sen&family=Tenor+Sans&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    cursor: auto;
}

body {
    background-color: #eef0eb;
    color: rgba(3, 23, 42, 0.93);
    background-image: url("https://res.cloudinary.com/dbiwj2oo8/image/upload/v1628017565/noisy-texture-200x200-o3-d18-c-0f0d0e-t1_xavfng.png");
    background-attachment: fixed;
    font-family: 'Outfit', sans-serif;
    font-size: 0.8rem;

}

h1, h2, h3, h4 {
    font-family: 'Sora', sans-serif;
    font-weight: bolder;
}

#tagline{
    padding: 0 0.5rem;
}

h1{
    font-size: 4em;
    line-height: 1.3em;
}

h2{
    font-size: 1.4em;
}

p {
    font-size: 1.2em;
    opacity: 85%;
    line-height: 1.5em;
    letter-spacing: .02em;
    padding: 0 0 1em 0;
}

img, video{
    max-width: 100%;
    height: auto;
    margin: auto;
}

small {
    margin: auto;
}

.body-padding{
    width: 95%;
    margin: auto;
}

.work-padding{
    width: 85%;
    margin: auto;
}

.spacing-small{
    margin: 2% auto;
}


.spacing-topbottom{
    padding: 1% 0;
}

.automargin{
    margin: 30% 10%;
    width: 70%;
}
.slide-in{
    animation: slide-top 350ms ease-in;
}
svg{
    max-width: 100%;
}

.accentcolor{
    /*color: #CB728B;*/

    /*color: #21557c;*/
}

header {
    width: 95%;
    margin: 0 2.5%;
    position: fixed;
    top: 1rem;
    display: flex;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
}

nav{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2em;
}

footer {
    margin: 2em auto;
}

hr{
    margin: 0em 0 1em 0;
    height: 1px;
    background-color: #124559;
    border: none;
}

a {
    text-decoration: underline;
    text-underline-offset: .1em;
    color: rgba(3, 23, 42, 0.93);
    display: inline-block;
}
a:hover{
    background-color: #a4b693;
    color: #ffffff;
}

header > a, nav > a{
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    background-color: #eef0eb;
    border-style: ridge;
    border-color: #1E1E1E;
    border-width: 0.15rem;
    /*background-color: #d9d9d9;*/
    /*color: #535353;*/
    color: #1E1E1E;
    padding: 0.5em;
    border-radius: 5px;
}
header > a:hover, nav > a:hover{
    border-color:#a4b693;
    color: #ffffff;
}

.paddings{
    padding: 0 0 4em 0;
}

.body-twocolumns {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    margin: auto;
}

.image-twocolumns {
    margin: auto;
    border-style: groove;
    border-width: 0.3rem;
    border-color: rgb(255,255,255,0);

}

.changeOnHover{
    text-decoration: none;
    letter-spacing: 0;
    padding: 0.3em;
    margin: 0 auto;
    border-radius: 8px;
    border-style: solid;
    border-width: 0.6rem;
    border-color: rgb(255,255,255,0);
}

.changeOnHover:hover {
    /*color: whitesmoke;*/
    /*background-color: #cd6969;*/
    background-color: #a4b693;
    border-style: inset;
    border-width: 0.6rem;
    margin: 0.3rem auto;
    /*border-width: 0.6rem;*/
    border-color: #e2e3d7;
    color: #e8e8e8;
    /*animation: colourShift 150ms ease-in both;*/
}

.center-page{
    width: 80%;
    padding: 1em;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.footerstyling{
    text-align: center;
    padding: 3%;
    margin: auto;
    width: 50%;
}

@media only screen
and (min-width: 764px) {
    .body-twocolumns {
        display: grid;
        grid-template-columns: 1fr 0.7fr;
        margin: auto;
    }

    .image-twocolumns {
        display: grid;
        /*width: 70%;*/
        grid-template-columns: repeat(2, 1fr);
        margin: 0 auto;
        border-radius: 5px;
        /*justify-items: right;*/
        /*background-color: #FFFFFF;*/
    }

    .paddings{
        padding: 1em 1em 3em 1em;
    }

    .paddings-headlines{
        padding: 1em;
        border-style: solid;
        border-width: 0.3rem;
        border-color: rgb(255,255,255,0);
    }

    .center-headers {
        margin: 2% auto;
        padding: 1em 0;
    }
    .caption-text{
        opacity: 65%;
        margin: 0.1em 1% 1em 1%;
        padding: 0;
        line-height: 1em;
    }
    .coverimg{
        max-width: 100vw;
        max-height: 80%;
        margin: auto;
    }

    .cornerradii {
        border-radius: 32px;
        margin: 0 18.5%;
    }

    .automargin{
        margin: 12% auto;
        width: 50%;
    }

    p {
        font-size: 1.2em;
        opacity: 85%;
        line-height: 1.5em;
        letter-spacing: .02em;
        /*margin: 2%;*/
    }
    ul{
        max-width: 60%;
    }

    h1{
        font-size: 7em;
        line-height: 1em;
    }
    h2{
        font-size: 2em;
        padding: 1% 0;
    }
    h1, h2, h3, h4 {
        /*margin: 0.5% 2% 0.5% 2%;*/
    }
    img, video{
        /*max-width: 80%;*/
        height: auto;
        margin: auto;
    }
}

@keyframes slide-top {
    0% {
        transform: translateY(100%);
        opacity: 0%;
    }
    100% {
        transform: translateY(0%);
        opacity: 100%;
    }
}

@keyframes colourShift {
    0% {
        background-color: #DEDEDE;
        /*color: #262626;*/
    }
    100% {
        background-color: #cd6969;
        color: whitesmoke;
    }
}