---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="About | Erika Wang">
  <main>
    <a href="/">Back</a>
    <div class="content">
      <h1>About</h1>
      <h2>
        I'm Erika, a design student at Simon Fraser University, based in
        Vancouver.<br /><br /></h2>
        <p> I believe that good design follows a well-defined objective. As a
          designer, my principle is to embrace ambiguity by defining the unknown
          and turning them into tangible actions. In every corner of my life, I am
          constantly seeking for inspiration that could ultimately contribute to
          informed, dynamic design solutions.
          <br /><br />
           Aside from design, I like to go on walks or play video games -
          sometimes I'll do both by playing Pokemon Go. :)</p>
    </div>
    <div class="about-buttons content">
      <a
        href="https://drive.google.com/file/d/1aJgqiQvRIoIQnFxjvA-QQ90RX8dmEZWN/view?usp=drive_link"
        >Resume</a
      >
      <a href="mailto:erikaw@sfu.ca">Email</a>
    </div>
  </main>
</Layout>

<style>
  a {
    max-width: fit-content;
  }
  .about-buttons {
    padding-bottom: 10%;
  }
  .about-buttons > a {
    padding-right: 1.4rem;
  }
  .content{
    margin: 0% 8%;
  }
  main {
    margin: auto;
    margin-top: 2.2rem;
    padding: 0rem 0.5rem;
  }
  h1 {
    font-size: 2.5rem;
    font-weight: 300;
    margin: 0.5rem 0;
    line-height: 140%;
    max-width: 54rem;
    letter-spacing: -0.04em;
  }
  h2 {
    font-size: 1.3rem;
    font-weight: 200;
    margin: 0;
    line-height: 150%;
    padding-bottom: 3%;
  }

  @media only screen and (min-width: 768px) {
    .content{
    margin: 0% 8%;
  }
    .projects > a {
      font-size: 1.6rem;
    }
    .flex-container {
      flex-direction: row;
      /* height: 75vh; */
      gap: 2.06rem;
    }
    main {
      margin: auto;
      padding: 0rem;
      max-width: 300ch;
    }
    h1 {
      font-size: 2rem;
      font-weight: 300;
      margin: 0.5rem 0;
      line-height: 150%;
    }
    h2 {
      font-size: 1.2rem;
      font-weight: 300;
      margin: 0;
      line-height: 150%;
    }
    .link-card-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
      gap: 1rem;
      padding: 0;
    }
  }

  @media only screen and (min-width: 768px) {
    .content{
    margin: 0% 8%;
  }
    a {
      max-width: fit-content;
    }
    .about-buttons {
      padding-bottom: 8%;
    }
    .about-buttons > a {
      padding-right: 1.4rem;
    }
    .flex-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      /* height: 75vh; */
      gap: 0rem;
      margin: 0% 8%;
    }
    main {
      margin: auto;
      padding: 0rem;
      max-width: 300ch;
    }
    h1 {
      font-size: 2rem;
      font-weight: 300;
      margin: 0.5rem 0;
      line-height: 150%;
    }
    h2 {
      font-size: 1.3rem;
      font-weight: 300;
      margin: 0;
      line-height: 150%;
      padding-bottom: 2%;
    }
  }
</style>
