---
// import Layout from "../layouts/Layout.astro";
import LayoutProject from "../layouts/LayoutProject.astro";
import LayoutMay from "../layouts/Layout-May.astro";
import Card from "../components/Card.astro";
---

<LayoutMay title="About | Erika Wang">
  <br />
  <br />
  <h2>
    Born and raised in Vancouver. Currently a senior design student at Simon
    Fraser University’s School of Interactive Arts and Technology.
  </h2>

  <p>
    I have one year of experience as a UX/UI designer at Excelar, designing
    experiences for clinicians for hospitals across the province. My non-design
    experience includes six years of Japanese-to-English language interpretation
    across events in Vancouver and Toronto.
    <br />
    <br />

    Design to me belongs in a place where different perspectives and cultures
    are brought together, to create something new/a better foundation for future
    generations. The core of my values extend from a desire to be a vehicle
    between parties whose lives should have intersected a long time ago.
    <br />
    <br />

    I’m actively seeking opportunities for full-time product or UX design roles.
    Please feel free to reach out!
  </p>

  <!-- <p>
          - Previously at Excelar, working on CCPC project 
          - Idk also am a Japanese-English language interpreter at Anirevo
          - I also read and draw and I love gaming on old handheld consoles

          - My approach to design is to read as much as I can (95% reading 5% designing)
          - I love learning about new domains and applying that knowledge to understand different communities
          - Design is a way to learn about myself and my place by learning about the world we live in. 
        </p> -->
  <!-- <p> I believe that good design follows a well-defined objective. As a
          designer, my principle is to embrace ambiguity by defining the unknown
          and turning them into tangible actions. In every corner of my life, I am
          constantly seeking for inspiration that could ultimately contribute to
          informed, dynamic design solutions.
          <br /><br /> -->
  <!-- <p>
           Aside from design, I like to go on walks or play video games -
          sometimes I'll do both by playing Pokemon Go. :)</p> -->
  <a
    href="https://drive.google.com/file/d/1nC4aRLPUDE3zWpH1NjcSoiwINQORwxyv/view?usp=drive_link"
    target="_blank"
    >Resume</a
  >
  <br />
  <br />

  <a href="mailto:erikaw@sfu.ca">Email</a>
  <br />
  <br />
  <!-- <hr>

  <h3>Fun stuff</h3>
  <p>Currently playing</p>
  <p>Bayonetta, Yakuza 0, Metal Gear Solid 2</p>

  <p>Currently reading</p>
  <p>Design For the Real World - Viktor Papanek, Eve's Hollywood - Eve Babitz</p> -->
</LayoutMay>
