---
import LayoutMay from "../layouts/Layout-May.astro";
---

<LayoutMay title="About | Erika Wang">
  <p class="headline">ABOUT ERIKA</p>
  <h2 class="headline-h2">
    Born and raised in Vancouver. Currently a senior design student at Simon
    Fraser University’s School of Interactive Arts and Technology.
  </h2>

  <div class="grid-twocolumn">
    <img src="/image 1002.png" />
    <div>
      <p>
        I have one year of experience as a UX/UI designer at Excelar Technologies.
        designing experiences for clinicians in the lower mainland. I'm not really good at writing these blurbs, so I hope you don't mind a list of fun facts instead:
</p>
<p>
        1. You’ll never catch me without a notebook and a pen. There’s a lot of information in the world that I want to retain, and I find that the most effective method for this is to write by hand.
        <br />
        <br />
        2. My non-design experience includes almost six years of Japanese-to-English language interpretation. It's trained me to pay close attention to things that are not being said when things are being said.
        <br />
        <br />
        3. I once maintained a blog entirely about water for a few months. You just never know where niche facts will come in handy, especially as a designer, where I find that being a generalist is a strength.
        <br />
        <br />
   I’m actively seeking opportunities for full-time product or UX design
        roles. Please feel free to reach out!
      </p>

      <div class="flex-twocolumn">
        <a
          href="https://drive.google.com/file/d/1K2fbVxB_BJxhQJ5Pt5Fael638fE26ZJW/view?usp=sharing"
          target="_blank">Resume |</a
        >
        <a href="mailto:erikaw@sfu.ca">| Email</a>
      </div>
    </div>
  </div>
</LayoutMay>
