---
import LayoutMay from "../layouts/Layout-May.astro";
---

<LayoutMay title="About | Erika Wang">
  <p class="headline">ABOUT ERIKA</p>
  <h2 class="headline-h2">
    Born and raised in Vancouver. Currently a senior design student at Simon
    Fraser University’s School of Interactive Arts and Technology.
  </h2>

  <div class="grid-twocolumn">
    <img src="/image 1002.png" />
    <div>
      <p>
        I have one year of experience as a UX/UI designer at Excelar, designing
        experiences for clinicians for hospitals across the province. My
        non-design experience includes Japanese-to-English language
        interpretation across events in Vancouver and Toronto since 2018.
        <br />
        <br />

        Design to me belongs in a place where different perspectives and
        cultures are brought together, and is an act meant to create new and
        inspirational stories.
        <br />
        <br />

        I’m actively seeking opportunities for full-time product or UX design
        roles. Please feel free to reach out!
      </p>
      <div class="flex-twocolumn">
        <a
          href="https://drive.google.com/file/d/1nC4aRLPUDE3zWpH1NjcSoiwINQORwxyv/view?usp=drive_link"
          target="_blank">Resume |</a
        >
        <a href="mailto:erikaw@sfu.ca">| Email</a>
      </div>
    </div>
  </div>
</LayoutMay>
