---
import LayoutMay from "../layouts/Layout-May.astro";
---

<LayoutMay title="About | Erika Wang">
  <p class="headline">ABOUT ERIKA</p>
  <h2 class="headline-h2">
    Born and raised in Vancouver. Currently a senior design student at Simon
    Fraser University’s School of Interactive Arts and Technology.
  </h2>

  <div class="grid-twocolumn">
    <img src="/image 1002.png" />
    <div></div>
    <div>
      <br />
      <br />

      <p>
        I’m a designer with one year of experience in UX and UI at Excelar
        Technologies, where I was designing experiences for clinicians in the
        lower mainland.
        <br /><br />
        My love for design is driven by my passion for good research that dives deep
        into a user’s needs. I seek to apply novel strategies in my work, by employing
        interactions and design techniques that I’ve learned through engaging with
        many shapes and forms of media.

        <br /><br />
        Outside of design, I have almost six years of experience as a Japanese-English
        language interpreter for local pop culture events. I’ve also maintained a
        blog about water for a few months before, alongside being an avid video gamer
        (currently trying & failing to beat Elden Ring’s DLC).
      </p>

      <div class="flex-twocolumn">
        <a
          href="https://drive.google.com/file/d/199IVzVK3QG7wlkkUSFoL7gYsQmo6DtC4/view?usp=sharing"
          target="_blank">Resume |</a
        >
        <a href="mailto:erikaw@sfu.ca">| Email</a>
      </div>
    </div>
  </div>
  <br />
  <br />
  <br />
  <br />
</LayoutMay>
