---
import Layout from "../layouts/Layout.astro";
import LayoutProject from "../layouts/LayoutProject.astro";
import Card from "../components/Card.astro";
---

<LayoutProject title="All Season">
  <h1>All Season Nails</h1>
  <img
    class="coverimg"
    src="https://res.cloudinary.com/dbiwj2oo8/image/upload/v1642281829/Slide_16_9_-_14_xlifom.png"
  />

  <h2>Overview</h2>
  <p>
    Logo refresh for a nail salon in North Vancouver, accompanied with a new
    brochure and business card design.
  </p>

  <div class="grid-twocol">
    <p><span style="color: #c13145;">Duration /</span> 2 months</p>
    <p>
      <span style="color: #c13145;">Tools /</span> Adobe Photoshop, Adobe
      Illustrator, Figma
    </p>
  </div>

  <hr />

  <!-- <h2>Initial ideas</h2>

    <p>
      I began the process with a rapid ideation session where I generated 3 sets
      of 15 different patterns for the logo. The rough goal kept in mind during
      this stage was to consolidate the name "All Season" into a simple,
      recognizable icon.
    </p>
    <img
      src="https://res.cloudinary.com/dbiwj2oo8/image/upload/v1642287384/Frame_75_gop3jx.png"
    />
    <img
      src="https://res.cloudinary.com/dbiwj2oo8/image/upload/v1642287384/Group_58_q1sbls.png"
    />
    <img
      src="https://res.cloudinary.com/dbiwj2oo8/image/upload/v1642290459/Slide_16_9_-_18_shmk3q.png"
    />

    <img
      src="https://res.cloudinary.com/dbiwj2oo8/image/upload/v1642930318/Slide_16_9_-_22_st6cpc.png"
    />
    <img
      src="https://res.cloudinary.com/dbiwj2oo8/image/upload/v1642929161/Slide_16_9_-_23_uvzxiv.png"
    />

    <h2 class="center-headers">Final Design</h2> -->
  <h2>Deliverables</h2>
  <br />
  <div>
    <div class="grid-threecol">
      <img
        style="border: none;"
        src="https://res.cloudinary.com/dbiwj2oo8/image/upload/v1642808506/Brochure_mockup_outsidemockup_tmrmkj.png"
      />
      <img
        style="border: none;"
        src="https://res.cloudinary.com/dbiwj2oo8/image/upload/v1642808506/Business_Card_Mockup_7mockup_ut8jzv.png"
      />
      <img
        style="border: none;"
        src="https://res.cloudinary.com/dbiwj2oo8/image/upload/v1642808506/Brochure_mockup_insidemockup_m23mfy.png"
      />
    </div>

    <img
      style="border: none;"
      class="margin-small"
      src="https://res.cloudinary.com/dbiwj2oo8/image/upload/v1642287735/Slide_4_3_-_1_f4jkdv.png"
    />
    <p class="caption-text">
      <small>The final deliverables - a brochure, and business cards.</small>
    </p>

    <!-- <p>
        This was an opportunity where I was able to work with a business in an
        industry I previously had not designed for before. Consequently, every
        step of the process was out of my comfort zone, however, in turn, it
        drove home for me the importance of looking at my own designs from
        someone else's perspective in order to create a project that speaks to
        many others.
      </p> -->
  </div>
  <hr />

  <a href="/" class="prototype"><strong>Back to home</strong></a>
</LayoutProject>
