---
import LayoutMay from "../layouts/Layout-May.astro";
---

<LayoutMay title="Anirevo App | Erika Wang" />

<img
  class="img-header"
  style="margin-top: 1.5%;"
  src="/Anirevo-app-banner.png"
/>

<LayoutMay title="Anirevo App">
  <img class="img-header-mobile" src="Anirevo.png" />

  <h1 class="project-titles">Anirevo App</h1>
  <h3 class="categories">UX/UI design</h3>
  <hr class="top-hr" />

  <div class="grid-threecol">
    <div>
      <p class="pilcrow">Team</p>
      <p>1 UX/UI Designer (me)<br>3 developers <br>1 Project manager</p>
    </div>

    <div>
      <p class="pilcrow">Tools</p>
      <p>
        Figma<br />
      </p>
    </div>
    <div>
      <p class="pilcrow">Duration</p>
      <p>September 2024 - Ongoing</p>
    </div>
  </div>
    <hr class="bottom-hr" />
    <div class="grid-twocolumn-text">
      <p class="headline">OVERVIEW</p>
      <h2>"There's an app?"</h2>
      <div></div>
      <p>
        Anime Revolution's app relaunched in 2023. There is hardly any
        recognition for it currently, due to low visibility of product as well
        as because its use case scenario was isolated from the actual user
        experience thus far.
      </p>
    </div>
    <hr />
    <!-- <p>
    CareFlow is a web-based platform intended for use by clinicians working in
    quality improvement, that normalizes medical data provided from partner
    companies, and displays them in two segments: Insights Dashboard, and
    Timeline Visualizer.
  </p> -->
    <div class="grid-twocolumn-text">
      <p class="headline">THE GOAL</p>
      <div>
        <h2 class="headline-h2">
          Transform the app into a pillar of the convention experience.
        </h2>
        <hr />
        <p class="headline">What I delivered:</p>
        <h3>More feedback to capture the event in real-time</h3>
        <h3>
          Features to enhance the social aspects of the con (Schedule sharing)
        </h3>
        <h3>
          Better alignment with the website and everything else at con
          (currently an isolated experience)
        </h3>
        <hr />
        <h3>
          a. More feedback to capture the event in real-time to the best of its
          abilities
        </h3>
        <p>Making updates to the home page.</p>
        <hr />
        <h3>Enhancing the social aspects of con</h3>
        <h3>b. Schedule sharing</h3>
        <p>
          People at con, especially newcomers/first-time congoers, do not know
          what to expect from panels/where to go → give them a starting
          point/point of interest as to where they could/should go. (currently,
          people follow friends around/learn about panels through word of
          mouth/friends ****do a survey to back this up**) Lists could be
          curated by online friends, or real-life friends. Can be shared via
          links on social media, or wherever they message.
        </p>
        <hr />
        <h3>Better alignment with website/brand</h3>
        <p>
          tba 1. Same colour coding as website 2. UI updates that are accuate to
          website branding 3. more robust use of mascot (senmei)
        </p>
      </div>
    </div>
    <!-- <hr />
  <h2>Key Takeaways</h2> -->

    <!-- <h3>Product demos</h3>


  <p>

  </p> -->
    <!-- <p>
    My main role was to collaborate with a clinical advisor, the development
    team and my design team lead to iterate on the timeline and dashboard
    designs.
  </p> -->

    <!-- <h2>Insights dashboard</h2>
  <p>
    Aggregates data from several patients and provides graphs and charts
    displaying trends amongst patients in hospital care, ie. comparisons of
    types of opioids used in hospitals.
  </p>

  <h2>Timeline</h2>
  <p>
    Intended for clinicians seeking to quickly gather information on a patient’s
    health journey, shows data visualization in the form of a timeline of a
    selected patient’s encounters with their local healthcare system; can
    highlight events of interest to compile as a patient consults report.
  </p> -->
  </div></LayoutMay
>
