---
import Layout from "../layouts/Layout.astro";
import LayoutProject from "../layouts/LayoutProject.astro";
import Card from "../components/Card.astro";
---

<LayoutProject title="Careflow">
  <!-- <div class="grid-twocol"> -->
  <h1>CareFlow</h1>
  <!-- <p>Internship project</p> -->
  <!-- </div> -->
  <hr />
  <h2>This project is still in development!</h2>
  <p>
    Please reach out to me at
    <a href="mailto:erikaw@sfu.ca">erikaw@sfu.ca</a>
     if you would like to hear more about my experience!
  </p>
  <hr />
  <h2>Overview</h2>
  <p>
    CareFlow is a web-based platform intended for use by clinicians working in
    quality improvement, that normalizes medical data provided from partner
    companies, and displays them in two segments: Insights Dashboard, and
    Timeline Visualizer.
  </p>
  <p>
    My main role was to collaborate with a clinical advisor, the development
    team and my design team lead to iterate on the timeline and dashboard
    designs.
  </p>
  <!-- <h2>Context</h2> -->
  <div class="grid-twocol">
    <p><span style="color: #c13145;">Duration /</span> Aug 2022 - June 2023</p>
    <p><span style="color: #c13145;">Tools /</span> Figma, Miro</p>
    <p>
      <span style="color: #c13145;">Roles /</span> User interviews, user journey
      mapping, storyboarding
    </p>
  </div>

  <!-- <h2>Insights dashboard</h2>
  <p>
    Aggregates data from several patients and provides graphs and charts
    displaying trends amongst patients in hospital care, ie. comparisons of
    types of opioids used in hospitals.
  </p>

  <h2>Timeline</h2>
  <p>
    Intended for clinicians seeking to quickly gather information on a patient’s
    health journey, shows data visualization in the form of a timeline of a
    selected patient’s encounters with their local healthcare system; can
    highlight events of interest to compile as a patient consults report.
  </p> -->
  <hr />

  <a href="/" class="prototype"><strong>Back to home</strong></a>

  <br />
</LayoutProject>
