---
import Layout from "../layouts/Layout.astro";
import LayoutMay from "../layouts/Layout-May.astro";
import Card from "../components/Card.astro";
---


<img class="img-header" style="margin-left: 17%;" src="/Careflow-banner.png" />

<LayoutMay title="Careflow">
  <img class="img-header-mobile" src="/Careflow-banner.png" />

  <h1 class="project-titles">CareFlow</h1>
  <h3 class="categories">Internship, UX/UI design</h3>
  <hr />

  <h2>
    Full case study coming soon! In the meanwhile, you can read more about this
    platform
    <a href="https://www.careflowhealth.com/">on their website.</a>
    <!-- <a
      style="text-decoration: underline;"
      href="https://www.digitalsupercluster.ca/projects/continuous-connected-patient-care/"
      >here's a press release</a
    > -->
    <!-- about the project. -->
  </h2>
  <hr />
  <div class="grid-threecol">
    <div>
      <p class="pilcrow">Duration</p>
      <p>Aug 2022 - June 2023</p>
    </div>

    <div>
      <p class="pilcrow">Tools</p>
      <p>
        Figma<br /> Miro
      </p>
    </div>
    <div>
      <p class="pilcrow">Roles</p>
      <p>
        User Interviews<br />User Journey Mapping<br />UX/UI Design
      </p>
    </div>
  </div>

  <hr />
  <div class="grid-twocol">
    <h3>Overview</h3>
    <p>
      CareFlow is a patient-monitoring platform intended to assist clincians
      with at-home monitoring of COPD out-patients, by providing a timeline
      visualizer that would allow nurses and clinicians to monitor patient data
      which would include vitals, medicine intake, pain score, and others.
      Additionally, clinicians working on quality improvement projects would be
      able to flag, and leave notes on data points for further review.
      <!-- CareFlow also  -->
      <!-- intended for use by clinicians working in
    quality improvement, that normalizes medical data provided from partner
    companies, and displays them in two segments: Insights Dashboard, and
    Timeline Visualizer. -->
    </p>
  </div>
  <hr />
  <!-- <p>
    CareFlow is a web-based platform intended for use by clinicians working in
    quality improvement, that normalizes medical data provided from partner
    companies, and displays them in two segments: Insights Dashboard, and
    Timeline Visualizer.
  </p> -->
  <div class="grid-twocol">
    <h2>Responsibilities</h2>
    <div>
      <p>
        Being involved in this project from its earlier stages, my primary
        responsibilites evolved as the project progressed.
      </p>
      <h4>FALL 2022</h4>
      <h3>Product feature requirements & user flow development</h3>
      <p>
        Working with our project manager, I assisted in dissecting user
        interview answers from clinicians to identify key features of CareFlow.
        These would be documented to ensure that development and product teams
        were aligned on end goals for the platforms.
      </p>
      <h4>WINTER - SUMMER 2023</h4>
      <h3>Interface design</h3>
      <p>
        My involvement in interface design included initial wireframing, to
        fine-tuning of colour palettes according to clinician input. In some
        case, I would fine-tune medicine labels to match the colours of syringes
        used in anasethetics labs to better assist identification for
        clinicians.
      </p>
      <h3>Product demos & stakeholder interviews</h3>
      <p>
        In refining the specifics of each key feature, conducting secondary
        research on industry standards for medical data visualization could only
        carry us so far. My supervisor and I conducted weekly interviews with
        our cheif medical officer, an anaesthesiologist at Surrey Memorial
        hospital, in order to verify that our interface designs were being
        driven by accurate data about clinical industry standards.
      </p>
    </div>
  </div>
  <!-- <hr />
  <h2>Key Takeaways</h2> -->

  <!-- <h3>Product demos</h3>


  <p>

  </p> -->
  <!-- <p>
    My main role was to collaborate with a clinical advisor, the development
    team and my design team lead to iterate on the timeline and dashboard
    designs.
  </p> -->

  <!-- <h2>Insights dashboard</h2>
  <p>
    Aggregates data from several patients and provides graphs and charts
    displaying trends amongst patients in hospital care, ie. comparisons of
    types of opioids used in hospitals.
  </p>

  <h2>Timeline</h2>
  <p>
    Intended for clinicians seeking to quickly gather information on a patient’s
    health journey, shows data visualization in the form of a timeline of a
    selected patient’s encounters with their local healthcare system; can
    highlight events of interest to compile as a patient consults report.
  </p> -->
</LayoutMay>
