---
import Layout from "../layouts/Layout.astro";
import LayoutProject from "../layouts/LayoutProject.astro";
import Card from "../components/Card.astro";
---

<LayoutProject title="Carriers That Care">

<nav>
    <ul>
      <li id="overview"><a href="#overview">Overview</a></li>
        <li id="ctc"><a href="#ctc">Opportunity</a></li>
        <li id="whatbutton"><a href="#whatissm">Ideation</a></li>
        <li id="whybutton"><a href="#whyusesm">Phase 1</a></li>
        <li id="offerbutton"><a href="#whatdoessmoffer">Phase 2</a></li>
        <li id="contactbutton"><a href="#contactus">Phase 3</a></li>
        <li id="consentprivacybutton"><a href="#consentprivacy">Consent & Privacy</a></li>

    </ul>
</nav>

  <a class="backbutton" href="/">🡐Back</a>

  <h1>Canada Post: Carriers that Care</h1>

  <h2 id="overview" style="color: #6c6c6c;">
    A proposal for a check-in service to be delivered to seniors living
    independently & their loved ones.
  </h2>
  <!-- <div>
    <h1 id="whatissm"><span>what we are</span></h1>
    <h1 id="whyusesm"><span>why us</span></h1>
    <h1 id="whatdoessmoffer"><span>what we offer</span></h1>
    <h1 id="contactus"><span>Contact Us</span></h1>  
</div> -->
  <!-- <div>
    <p><span style="color: #c13145;">What was delivered?</span></p>
    <p>
      1. Service framework for a check-in service delivered by Canada Post
      letter carriers<br />
      2. Mobile app for postal workers<br />
      3. Web dashboard for customer sign-up and account management<br />
      4. Microsite, e-mail templates, other miscallenous collateral for service discovery<br
      />
      5. Guidelines for a Carriers that Care sub-brand<br />
    </p>
  </div> -->
  <br />


  <div class="grid-fourcol">
    <div>
      <p><span style="color: #c13145;">Duration</span></p>
      <p>Oct 2023 - Dec 2023</p>
    </div>

    <div>
      <p><span style="color: #c13145;">Team</span></p>
      <p>
        Jasper Precilla<br /> Samaila Newaz <br />Tristan Turisno<br /> Hugo Duran
      </p>
    </div>
    <div>
      <p><span style="color: #c13145;">Roles</span></p>
      <p>
        Contextual Research<br />Interaction Design<br />Interface Design<br />
        Product Strategy<br />Illustration
      </p>
    </div>
  </div>
  <hr />
  <div style="padding:56.25% 0 0 0;position:relative;">
    <iframe
      src="https://player.vimeo.com/video/892041896?h=7962b203ac"
      style="position:absolute;top:0;left:0;width:100%;height:100%;"
      frameborder="0"
      allow="autoplay; fullscreen; picture-in-picture"
      allowfullscreen></iframe>
  </div><script src="https://player.vimeo.com/api/player.js"></script>
  <br>

  <div style="background-color: #FAFAFA; border: 1px dashed #333;">
    <p class="quote">
      "With more people shifting to the internet and smart mobile devices to
      communicate and transact, posts have experienced a <strong
        >structural decline in mail volumes</strong
      > as customers shift to digital alternatives, while the widespread adoption
      of ecommerce, accelerated by COVID-19, has created a
      <strong>highly competitive parcel delivery landscape</strong>."
    </p>
    <p>- Canada Post Corporation, 2022 Annual Report</p>
  </div>
  <div class="grid-twocol">
    <h2 id="ctc">Opportunity</h2>

    <div>
      <h3>THE FINANCIAL STATE OF CANADA POST</h3>
   
      <p>
        Canada Post has, for the last 17 years, been seeing a decline in their
        profits as letter delivery becomes increasingly replaced by the
        internet, while faster, cheaper competitors such as UPS and FedEx have
        been growing their shares in the parcel delivery market.
        <br /><br />
        On the other hand, they are in a unique position as a federal Crown corporation
        to deliver services to all communities across Canada. As underpinned in initiatives
        such as their introduction of ‘community hub’-style post offices, they are
        increasing efforts in serving rural areas as part of their solution outside
        of their existing services in order to establish financial self-sustainability.
      </p>
 

      <h3>THE POTENTIAL OF POSTAL WORKERS IN SENIOR CARE</h3>

      <div style="background-color: #FAFAFA; border: 1px dashed #333;">
        <p>
          "The definition of “postal work” has been expanding. In some places,
          French postal workers now pick up prescriptions, return library books,
          and deliver flowers. Last year, only twenty eight per cent of La
          Poste’s revenue came from sending mail."
        </p>
        <p>
          - In France, Elder Care Comes with the Mail,  Zoey Poll, The New
          Yorker
        </p>
      </div>
      <p>
        Across the globe, successful examples of senior check-in services
        delivered by postal workers, including the “Mimamori” program from Japan
        Post and the “Veiller sur mes parents” program from the French La Poste,
        already exist.
        <br /><br />
        Additionally, since 2016, the Canadian Union of Postal Workers has been advocating
        for Canada Post to leverage its unique positioning and network of over (12540
        + 28,400) letter carriers to establish a check-in service for seniors.
        <br /><br />
        Furthermore, the National Institute on Ageing (NIA), a research centre based
        at Toronto Metropolitan University, also advocates that Canada Post is in
        a unique position to deliver such a service. Citing a poll conducted by Leger
        conducted in 2015, they state that letter carriers are amongst the most trusted
        professions in Canada, with 87% of Canadians saying they trusted their mail
        carriers.
        <br /><br />Although the proposal was modelled from overseas solutions,
        there was definitely opportunity within Canada’s seniors as well, with
        Statistics Canada reporting that 1 in 4 Canadians will be over the age
        of 65 by 2030 (in comparison to 15.3% in 2013), and the NIA and Canadian
        Medical Association reporting that 96% of Canadians want to age at home
        for as long as possible.
      </p>
    </div>
  </div>

  <div class="grid-twocol">
    <h2 id="whatissm">Ideation</h2>
    <div>
      <h3>PROPERLY SCOPING WHAT A POSTAL WORKER CAN AND CANNOT DO</h3>
      <p>
        It is important to note that initial proposals of Carriers that Care
        were met with a lot of hesitation from user testers. Having conducted
        user interviews with seven individuals with ages ranging from 20s to
        50s, centering our questions around allowed us to sort concerns into
        four categories:
      </p>
    </div>
  </div>
      <img
        style="border-style: none;"
        src="https://res.cloudinary.com/dbiwj2oo8/image/upload/v1709585139/Group_47_etzxgi.svg"
      />
      <div class="grid-twocol">
        <div></div>
      <p>
        Across all seven interviewees, the tangible aspects of Carriers That
        Care was universally agreed with to be valuable. However, there was
        concern over the concept of relying on letter carriers to report on
        senior wellbeing - the idea of 'caring for seniors' is accompanied by
        nuanced implications of medical care and invasion of privacy, which
        would put seniors in a vulnerable position as letter carriers would be
        granted a position of authority without going through the proper
        training.
<br>
        Given our results, there was a need to properly define the domains in
        which a letter carrier would support within Carrier that Care. In order
        to accomplish this, we evaluated a framework by the NIA that defines
        four essential pillars that are crucial to supporting ageing comfortably
        at home.
      </p>
    </div>
      <div>
        <img
          style="border-style: none;"
          src="https://res.cloudinary.com/dbiwj2oo8/image/upload/v1709584835/Frame_299_roqfla.svg"
        />
      </div>
      <div class="grid-twocol">
        <div></div>
      <p>
        Amongst the four pillars, we scoped our service and moved forwards with
        an focus on designing around improving social connections to reduce
        loneliness and social isolation, a domain that postal workers can
        reasonably intervene with without reducing the credibility or trust in
        Carriers That Care.
      </p>
    </div>
    </div>
  </div>

  <hr />
  <h3>Carriers that Care: Walkthrough</h2>
  <div class="grid-twocol">
    <h2 id="whyusesm">Phase 1</h2>
    <div>
      <h3>SETTING UP VISITS</h3>
      <video
        width="720"
        controls
        src="https://res.cloudinary.com/dbiwj2oo8/video/upload/v1709854884/Carriers_that_Care_-_Landing_page_scrollthrough_-_Made_with_Clipchamp_va8vbw.mp4"
      ></video>
      <p>
        Audience would familiarize themselves with our service through the
        landing page of the service. Here, we outline a description of the
        service.
      </p>
      <img
        src="https://res.cloudinary.com/dbiwj2oo8/image/upload/v1709854854/Property_1_Sign_Up_7_bltl3y.png"
      />

      <p>
        Ensuring that loved ones have consented to the service, Canada Post will
        ask for contact information of both the loved one and family.
      </p>
      <img
        src="https://res.cloudinary.com/dbiwj2oo8/image/upload/v1709854855/Property_1_Dashboard_Property_2_Pending_s5e213.png"
      />
      <p>
        The final step of the sign-up process will involve the senior recipient
        of the service, with Canada Post reaching out through a phone call to
        ensure that seniors will be aware of the service. <strong
          >Carriers that Care will not begin until this step is completed.</strong
        >
      </p>
    </div>
  </div>

  <div class="grid-twocol">
    <h2 id="whatdoessmoffer">Phase 2</h2>
    <div>
      <h3>POSTAL WORKER VISITATIONS</h3>
      <p>
        Postal workers can use this app to quickly send reports and access
        resources they may need during the visits.
      </p>
      <div class="grid-twocol-even">
        <img
          src="https://res.cloudinary.com/dbiwj2oo8/image/upload/v1709847841/Overview_of_all_their_visits_how_they_will_do_the_report_rfe5fz.png"
        />
        <img
          src="https://res.cloudinary.com/dbiwj2oo8/image/upload/v1709847847/Overview_of_all_their_visits_how_they_will_do_the_report-1_qwajua.png"
        />
      </div>

      <p>
        Steps involved in reporting will include reporting on their well-being,
        reporting on topics of interest, and et cetra.
      </p>
      <video width="240" controls>
        <source
          src="https://res.cloudinary.com/dbiwj2oo8/video/upload/v1709854862/Carriers_that_Care_-_Letter_Carrier_Survey_-_Made_with_Clipchamp_fer7sg.mp4"
        />
      </video>
      <p>
        Following the visit, Postal worker will fill out and upload a report on
        observations they made during the visit. Reports will be optimized for
        Postal workers to be able to fill out while on-the-go.
      </p>
      <div class="grid-twocol-even">
        <img
          src="https://res.cloudinary.com/dbiwj2oo8/image/upload/v1709847839/Emergency_wejrlq.png"
        /><img
          src="https://res.cloudinary.com/dbiwj2oo8/image/upload/v1709847852/Resources_pk5dtp.png"
        />
      </div>
      <p>
        Should any unexpected events occur during the visits, we plan equip
        postal workers with an ‘emergency resources’ page on the app.
        Addtionally, we through Canada Post’s exisiting training portal, we
        expect carriers to be able to handle certain events to some degree.
      </p>
    </div>
  </div>
  <div class="grid-twocol">
    <h2 id="contactus">Phase 3</h2>
    <div>
      <h3>POST-VISIT UPDATES</h3>
      <img
        style="border-style: none;"
        src="https://res.cloudinary.com/dbiwj2oo8/image/upload/v1709848320/E-mail_text_p3kfek.png"
      />
      <p>
        Family members can stay updated of the visits after they occur through
        notifications sent through text and email.
        </p>
      <video
      width="720"
      controls
      src="https://res.cloudinary.com/dbiwj2oo8/video/upload/v1709854869/Carriers_that_Care_-_Dashboard_sendgift_-_Made_with_Clipchamp_p9vshe.mp4"
    ></video>
      
        <p>
        If they wish to get a closer look on the reports, they may choose to view
        reports through the dashboard.
        </p>
        <video
        width="720"
        controls
        src="https://res.cloudinary.com/dbiwj2oo8/video/upload/v1709854858/Carriers_that_Care_-_Dashboard_-_check_gift_-_Made_with_Clipchamp_yaxakv.mp4"
      ></video>
<p>
        From the dashboard, families are able to adjust visitation details, send
        a gift to Rachel to be hand-delivered by the carrier, or add other family
        members to get notified about reports.
      </p>

    </div>
  </div>
  <hr />
<div class="grid-twocol">
  <h2 id="consentprivacy">What about Consent and Privacy?</h2>
  <p>
    A primary issue we need to address is the potential invasiveness of the
    service. To counter this, we have taken various measures across the site to
    ensure families inform their loved ones of the service and gain their
    consent to sign up through callouts, physical information packages and the
    call after the signup.
  </p></div>
  
  <!-- <hr /> -->
  <!-- <h2>Design decisions and strategies</h2> -->
  <!-- <h2>Reflection</h2>
  <h3>Taking leaps of faith</h3> -->
  <hr />
  <a href="/" class="prototype">Back to home</a>
 
</LayoutProject>

