---
import Layout from "../layouts/Layout.astro";
import LayoutProject from "../layouts/LayoutProject.astro";
import Card from "../components/Card.astro";
---

<LayoutProject title="Carriers That Care">
  <a class="backbutton" href="/">🡐 Back</a>

  <img
    src="https://res.cloudinary.com/dbiwj2oo8/image/upload/v1711568893/Frame_150_bjwqok.png"
  />
  <h1>Canada Post: Carriers that Care</h1>

  <h2 id="overview" style="color: #6c6c6c;">
    Strengthening connections between independently living seniors and their
    loved ones
  </h2>
  <hr />
  <div class="grid-fourcol">
    <div>
      <p>Duration</p>
      <p>Oct 2023 - Dec 2023</p>
    </div>

    <div>
      <p>Team</p>
      <p>
        Jasper Precilla<br /> Samaila Newaz <br />Tristan Turisno<br /> Hugo Duran
      </p>
    </div>
    <div>
      <p>Roles</p>
      <p>
        Contextual Research<br />Interaction Design<br />Interface Design<br />
        Product Strategy<br />Illustration
      </p>
    </div>
  </div>

  <hr />
  <br />

  <div class="grid-twocol">
    <h2>Opportunity</h2>

    <div>
      <!-- <p class="quote">
        <i
          >"With more people shifting to the internet and smart mobile devices
          to communicate and transact, posts have experienced a <strong
            >structural decline in mail volumes</strong
          > as customers shift to digital alternatives, while the widespread adoption
          of ecommerce, accelerated by COVID-19, has created a
          <strong>highly competitive parcel delivery landscape</strong>."</i
        >
      </p>
      <p class="quote">
        <i>- Canada Post Corporation, 2022 Annual Report</i>
      </p> -->
      <p>
        Canada Post has, for the last 17 years, been seeing a decline in their
        profits as letter delivery becomes replaced by the internet, while
        faster, cheaper competitors such as UPS and FedEx have been growing
        their shares in the parcel delivery market.
        <br />
        <p>
          On the other hand, they are in a unique position as a federal Crown
          corporation to deliver services to all communities across Canada. As
          underpinned in initiatives such as their introduction of 'community
          hub'-style post offices, they are increasing efforts in serving rural
          areas as part of their solution outside of their existing services in
          order to establish financial self-sustainability.
        </p>
      </p>
    </div>
  </div>
  <hr />
  <div>
    <p class="quote">
      <i
        >With an aging population, we're going to see a decrease in the number
        of available family caregivers; we're going to see more people living
        alone in the community, at a greater risk of social isolation. And so,
        we need to find creative ways that can help people remain independent
        and feel well supported.</i
      >
    </p>
    <p class="quote">
      <i
        >- Dr. Samir Sinha, director of health policy research and head of
        geriatrics for Sinai Health and the University Health Network, for The
        Toronto Star.
      </i>
    </p>
  </div>
  <hr />
  <div class="grid-twocol">
    <h2>Solution</h2>
    <p>
      Carriers that Care is a proposal for a senior check-in service to be
      delivered by mail carriers. This case study divides the service into three
      parts - pre-visit & sign-up, letter carrier visits, and post-visit updates
      - and talks through each touchpoint that occurs throughout.
    </p>
  </div>
  <br />
  <div style="padding:56.25% 0 0 0;position:relative;">
    <iframe
      src="https://player.vimeo.com/video/892041896?h=7962b203ac"
      style="position:absolute;top:0;left:0;width:100%;height:100%;"
      frameborder="0"
      allow="autoplay; fullscreen; picture-in-picture"
      allowfullscreen></iframe>
  </div><script src="https://player.vimeo.com/api/player.js"></script>
  <br />
  <hr />
  <div class="grid-twocol">
    <h2>Scoping</h2>
    <div>
      <p>
        The solution is made in consideration to the "Four Essential Pillars for
        Supporting Ageing in the Right Place", authored by the Canadian National
        Institute of Aging, with a particular focus on pillar 4 - improving
        social connections to reduce loneliness & social isolation.
      </p>
      <br />
    </div>
  </div>
  <div>
    <img
      style="border-style: none; width: 80%;"
      src="https://res.cloudinary.com/dbiwj2oo8/image/upload/v1709584835/Frame_299_roqfla.svg"
    />
  </div>
  <div class="grid-twocol">
    <div></div>
    <p>
      This decision was made from my team and I's awareness that the idea of
      'caring for seniors' is accompanied by nuanced implications of medical
      care and invasion of privacy. We agree with this notion, and the idea that
      a service like Carriers That Care could unfairly put letter carriers in a
      position of authority without the proper training for it, thus putting
      seniors in a vulnerable position.
    </p>
  </div>

  <div class="grid-twocol">
    <div></div>
    <p>
      Our intention with introducing this framework is to ensure that we
      properly establish that we are designing around a domain within senior
      support that postal workers can reasonably intervene with, without
      reducing credibility or trust in Carriers that Care.
    </p>
  </div>

  <hr />

  <!-- <div class="box">
    <div class="container">
      <h2>Phase 1</h2>
      <p>Sign-up & consent</p>
      <img
        src="https://res.cloudinary.com/dbiwj2oo8/image/upload/v1713659797/MacBook_Pro_17_cgbney.png"
      />
    </div>
    <div class="container">
      <h2>Phase 2</h2>
      <p>Recurring check-ins</p>
      <img
        src="https://res.cloudinary.com/dbiwj2oo8/image/upload/v1713659797/Frame_426_bq585y.png"
      />
    </div>
    <div class="container">
      <h2>Phase 3</h2>
      <p>Further actions</p>
      <img
        src="https://res.cloudinary.com/dbiwj2oo8/image/upload/v1713659797/MacBook_Pro_16_w5qpvv.png"
      />
    </div>
  </div> -->
  <!-- <img src="https://res.cloudinary.com/dbiwj2oo8/image/upload/v1710484642/Touchpoints_xb5jwf.png"> -->
  <!--  <note>Maybe images/illustrations at the top of each secion might help differentiate users...?</note>-->

  <br />

  <div class="grid-twocol">
    <h2>Pre-visit</h2>
    <div>
      <h3>Defining the service</h3>
      <p>
        A web portal, accessible from Canada Post's pre-existing website, would
        describe the details of Carriers That Care, allowing for a shared
        understanding of the service between families and seniors. To ensure
        that contents of this website are also available offline, we have
        designed a brochure to be mailed to indicate from one party to the other
        their interest in the service.
      </p>
      <img src="/Landing Page Scrollthrough.gif" />
      <br />
      <br />
      <h3>Setting expectations & Consent</h3>
      <p>
        The sign-up process places emphasis on ensuring that the senior, who
        will be the recipient of the service, is aware of Carriers that Care and
        is consenting to receiving the service. Anticipating cases where
        families will be signing up on the senior's behalf, we have included
        callouts throughout the process, and will not begin delivery of the
        service until Canada Post receives vocal consent from the recipient.
      </p>
      <img
        style="margin: 1% 0;"
        src="https://res.cloudinary.com/dbiwj2oo8/image/upload/v1709854854/Property_1_Sign_Up_7_bltl3y.png"
      />
      <img
        src="https://res.cloudinary.com/dbiwj2oo8/image/upload/v1709854855/Property_1_Dashboard_Property_2_Pending_s5e213.png"
      />
    </div>
    <!-- <video
      width="100"
      controls
      src="https://res.cloudinary.com/dbiwj2oo8/video/upload/v1709854884/Carriers_that_Care_-_Landing_page_scrollthrough_-_Made_with_Clipchamp_va8vbw.mp4"
    ></video> -->
    <!-- <video
      width="720"
      controls
      src="https://res.cloudinary.com/dbiwj2oo8/video/upload/v1709854884/Carriers_that_Care_-_Landing_page_scrollthrough_-_Made_with_Clipchamp_va8vbw.mp4"
    ></video> -->
  </div>
  <br />
  <br />
  <div class="grid-twocol">
    <h2>Postal worker visit</h2>

    <!-- <video
      width="720"
      controls
      src="https://res.cloudinary.com/dbiwj2oo8/video/upload/v1709854884/Carriers_that_Care_-_Landing_page_scrollthrough_-_Made_with_Clipchamp_va8vbw.mp4"
    ></video> -->
    <div>
      <h3>Equipping letter carriers with the right tools</h3>
      <p>
        To assist with effective check-ins, postal workers will be provided with
        an app that includes details about the people they are visiting, a form
        to report check-ins, and emergency contacts as well as resources to
        better equip them for unexpected situations. The check-in report is made
        to be as short-handed as possible to ensure that postal workers may fill
        them out while they are on the go.
      </p>
      <img style="width: 30%;" src="/Letter Carrier Survey.gif" />
    </div>
  </div>
  <br />

  <br />

  <div class="grid-twocol">
    <h2>Post-visit</h2>

    <div>
      <h3>Reports delivered to your email</h3>
      <p>
        Reports filled out by letter carriers will be sent to the recipient and
        their loved ones through text or e-mail. Full reports may be viewed
        through a Carriers That Care dashboard, where families can adjust
        visitation details such as date or time, get information about the
        letter carrier who is visiting.
      </p>
      <!-- <video
      width="720"
      controls
      src="https://res.cloudinary.com/dbiwj2oo8/video/upload/v1709854884/Carriers_that_Care_-_Landing_page_scrollthrough_-_Made_with_Clipchamp_va8vbw.mp4"
    ></video> -->
      <img src="/Dashboard - Send gift.gif" />
      <br />
      <br />
      <h3>Facilitating further engagement</h3>
      <p>
        Canada Post may also utilise this dashboard to connect Carriers That
        Care to other services in their ecosystem - including sending gifts
        through Canada Shops, an e-commerce store they were piloting in Fall of
        2023.
      </p>
      <img src="/Dashboard - check gift.gif" />
    </div>
    <div></div>

    <!-- <video
      width="720"
      controls
      src="https://res.cloudinary.com/dbiwj2oo8/video/upload/v1709854884/Carriers_that_Care_-_Landing_page_scrollthrough_-_Made_with_Clipchamp_va8vbw.mp4"
    ></video> -->
  </div>
</LayoutProject>
