---
import LayoutMay from "../layouts/Layout-May.astro";
---

<LayoutMay title="Carriers That Care | Erika Wang" />

<img
  class="img-header"
  style="margin-left: 5%; margin-top: 1.5%;"
  src="/Canada-post-banner.png"
/>

<LayoutMay title="Carriers That Care">
  <img class="img-header-mobile" src="/Ctc.png" style="width: 100%;" />

  <div>
    <h1 class="project-titles">Canada Post: Carriers that Care</h1>
    <h4 class="categories">Service design, user experience design</h4>
  </div>
  <br />

  <hr class="top-hr" />

  <div class="grid-threecol">
    <div>
      <p class="pilcrow">Roles</p>
      <p>
        Design Strategy<br />UX/UI Design<br />UX Research<br />
        Content Design<br />
      </p>
    </div>
    <div>
      <p class="pilcrow">Team</p>
      <p>
        Jasper Precilla<br /> Samaila Newaz <br />Tristan Turisno<br /> Hugo Duran
      </p>
    </div>
    <div>
      <p class="pilcrow">Duration</p>
      <p>Oct 2023 - Dec 2023</p>
    </div>
  </div>
  <hr class="bottom-hr" />

  <div class="grid-twocolumn-text">
    <p class="headline">OVERVIEW</p>

    <h2 class="headline-h2">
      How might we utilize the existing infrastructure of Canada Post to support
      socially isolated seniors?
    </h2>

    <br />
    <p>
      Canada Post has, for the last 17 years, been seeing a decline in their
      profits as letter delivery becomes replaced by the internet, while faster,
      cheaper competitors such as UPS and FedEx have been growing their shares
      in the parcel delivery market.
      <br />
      <br />
      On the other hand, they are in a unique position as a federal Crown corporation
      to deliver services to all communities across Canada. As underpinned in initiatives
      such as their introduction of
      <a
        href="https://www.canadapost-postescanada.ca/blogs/personal/canada-post-and-you/a-new-type-of-post-office-becomes-a-community-hub-in-rural-areas/"
      >
        'community hub'-style post offices,
      </a>
      they are increasing efforts in serving rural areas as part of their solution
      outside of their existing services in order to establish financial self-sustainability.
      <br />
      <br />
      Carriers that Care is an expansion on an idea proposed by the
      <a href="https://www.deliveringcommunitypower.ca/our_plan"
        >Canadian Union of Postal Workers</a
      >
      as one way to expand Canada Post's offerings.
    </p>
  </div>
  <div style="padding:56.25% 0 0 0;position:relative;">
    <iframe
      src="https://player.vimeo.com/video/892041896?h=7962b203ac"
      style="position:absolute;top:0;left:0;width:100%;height:100%;"
      frameborder="0"
      allow="autoplay; fullscreen; picture-in-picture"
      allowfullscreen></iframe>
  </div><script src="https://player.vimeo.com/api/player.js"></script>
  <!-- <p>
    This is an <strong>academic project </strong>I created in a team of 5 for a
    senior-level experience design course. The final deliverables for this
    project included a framework & proposal for the check-in service, as well as
    UX/UI design for 3 digital touchpoints (a web portal, and app, and a
    dashboard).
  </p> -->
  <img style="width:100%;" class="screen4" src="/Touchpoints.png" />

  <hr />

  <div class="grid-twocolumn-text">
    <p class="headline">PRELIMINARY RESEARCH</p>
    <div>
      <h2 class="headline-h2">Why propose a check-in service?</h2>

      <p class="headline">INSIGHT #1</p>

      <h4 class="headline-h2" style="max-width:695px;">
        The Canadian Union of Postal Workers have been advocating for a senior
        check-in service since 2016.
      </h4>
      <div class="callout-inverted-quote">
        <p>
          "Postal workers are already trusted and reliable members of our
          communities. Why not leverage tens of thousands of postal workers to
          provide further supports to seniors?"
        </p>
        <p style="max-width: 100%; margin: 0; font-size: 0.8rem;">
          - Canadian Union of Postal Workers (Source: <a
            href="https://www.deliveringcommunitypower.ca/our_plan"
            >Delivering Community Power: Our Plan - Elderly Check-ins</a
          >)
        </p>
      </div>
      <p>
        The <a
          href="https://www.deliveringcommunitypower.ca/our_plan"
          target="_blank">'Delivering Community Power' initiative</a
        >, created by the Canadian Union of Postal Workers (CUPW), are a set of
        proposals inspired by a sense of need for Canada Post to innovate - one
        of which include a proposal for a senior check-in service, which their
        earliest version dates back to 2016.
        <!-- <br />
        As part of their pitch, the CUPW had cited
        <a
          href="https://www.japanpost.jp/en/sustainability/society/healthy-living/others.html"
          target="_blank">Japan Post</a
        >
        and
        <a
          href="https://www.lapostegroupe.com/en/news/watch-over-my-parents--so-much-more-than-a-service"
          target="_blank">La Poste in France</a
        >
        were already existing utlizing their infrastructure of door-to-door delivery
        to provide care to seniors who are separated from their families via periodical
        check-ins. Similarly to Canada, both are countries where the increase in
        senior population have been an issue. -->
      </p>

      <p class="headline">INSIGHT #2</p>

      <h4 class="headline-h2" style="max-width:695px;">
        In the golden age of communications, seniors and their families still
        don't communicate everything.
      </h4>
      <div class="callout-inverted-quote">
        <p>
          "In the past year, Monique has encountered various 'problems' - a fall
          in the garden, a slip on the stairs. She describes them as if they
          were avoidable mistakes, the result of her absentmindedness."
        </p>
        <p style="max-width: 100%; margin: 0; font-size: 0.8rem;">
          - Description of a recipient of senior check-in service in France.
          (Source: <a
            href="https://www.newyorker.com/culture/annals-of-inquiry/in-france-elder-care-comes-with-the-mail"
            >The New Yorker</a
          >)
        </p>
      </div>
      <p>
        Further investigation also revealed to us that children would move out
        and start families on their own, and while they would successfully stay
        in contact, sometimes, there were events that senior parents would not
        think to communicate as they did not think of them as significant.
        <!-- Further investigation into these services by us allowed us to discover
        examples of these services in France and Japan, where both countries
        have seen an increase in seniors living alone in the last few years.
        Children would move out and start families on their own, and while they
        would successfully stay in contact, sometimes, there were events that
        senior parents would not think to communicate as they did not think of
        them as significant. -->
      </p>
    </div>
  </div>

  <!-- <h2 style="margin: 0 0 2% 0; padding: 0;">
        An emerging need for senior support infrastructure
      </h2> -->
  <!-- <p>
        Through investigating reports released by the National Insititue of
        Aging, my team and myself discovered that 40% of Canadians aged 55+
        reported experiencing a lack of companionship and regular social
        connections with other people, while 67% of Canadians reported believing
        that a lack of social connection negatively impact their overall health
        and wellbeing.
      </p> -->
  <hr />

  <div class="grid-twocolumn-text">
    <p class="headline">DESIGN SPRINT - IDEATION</p>
    <div>
      <h2 class="headline-h2">Finding a starting point</h2>

      <p>
        Following our proposal, my team and I kicked off our process with a
        4-day design sprint, with the goal of identifying how we could best
        translate the exisiting check-in models of Japan Post and La Poste
        (France) to a Canadian context. At this point in our design process, all
        team members saw different ways Carriers that Care could fail, so I
        found that a sprint helped greatly pooling our thoughts to illustrate a
        shared understanding of what each of us thought were most actionable
        problem space in our service.
      </p>

      <h4>How might we ensure trust in the service?</h4>
      <p>
        The following image depicts a result from our golden path exercise that
        was presented in class. Our collective agreement was that to ensure
        value in the check-in service, we had to ask where the service could
        fail. While the team and I (and our classmates) could imagine multiple
        points where such an event could happen, I felt that working on the
        first step, where Canada Post would have to establish trust between the
        service and the customer, was the most actionable step in a designer's
        context.
      </p>
    </div>
  </div>
  <div class="fit-image">
    <img src="/Customer Journey.png" style="width: 100%;" />
  </div>
  <!-- <p>(result: landing page that focused too much on medical services.)</p> -->

  <hr />

  <div class="grid-twocolumn-text">
    <p class="headline">DESIGN SPRINT - INTERVIEWS</p>
    <div>
      <h2 class="headline-h2">"Looks great, but it's not for me"</h2>

      <p>
        We created a landing page to communicate the values of the service and
        to establish trust amongst potential customers. We conducted a total of
        seven 30-40 minute user tests with people who lived independently from
        their parents. These candidates were from a varied age range between 20s
        to 50s. We then presented these to 7 users for feedback. This gave us
        insight into primary concerns that we should be addressing with our
        service.
      </p>
      <!-- <div class="fit-image" style="padding: 12% 3%;">
      <div class="grid-threecol" style="max-width: 100%;">
        <div class="callout-inverted">
          <h4>1. Background & Building rapport</h4>
          <p>
            Understanding the context of their relationship with the older
            figures in their lives and their connection to the community.
          </p>
        </div>
        <div class="callout-inverted">
          <h4>2. Observational & Think-aloud study</h4>
          <p>
            Asking testers to navigate the prototype voice out their emerging
            questions, unanswered questions and general thoughts.
          </p>
        </div>
        <div class="callout-inverted">
          <h4>3. Debrief interview & Parting thoughts</h4>
          <p>
            Establishing their understanding of the service and their opinions
            on its effectiveness and suitability for their own situation.
          </p>
        </div>
        <p style="max-width: 100%;">
          <span class="small"> FLOW OF 3-STEP PROCESS OF USER INTERVIEWS </span>
        </p>
      </div>
    </div> -->

      <h4>Key concerns</h4>
      <!-- <img src="/User Testing - questions.png"> -->

      <p>
        During user testing and in-class presentations, proposals for Carriers
        that Care were met with concerns around putting postal workers in a
        position where they would have authority in areas that they would not be
        adequately trained for - especially medical care.
      </p>
    </div>
    <div></div>
    <div>
      <!-- <p>
        <span class="small"> EMERGING THEMES FROM USER TESTS </span>
      </p> -->
      <!-- <h4>Would you sign your family up for this service?</h4> -->
      <div class="grid-twocolumn">
        <div class="callout-inverted wide">
          <img src="/Artboard 8 copy_2usersurvey.svg" style="max-width: 25%;">
  
          <h4
          >
            Lack of trust in the carrier
          </h4>
          <p style="font-size: 1.1rem; color: var(--black);">
            "I'd rather trust a family member or a neighbour to check in, rather
            than a postman."
          </p>
        </div>
        <div class="callout-inverted wide">
          <img src="/Artboard 8 copyusersurvey.svg" style="max-width: 25%;">
  
          <h4
          >
            "I'll do it myself"
          </h4>
          <p style="font-size: 1.1rem; color: var(--black);">
            "I feel like i'd go visit myself, since I don't have a terrible
            relationship with parents."
          </p>
        </div>
        <div class="callout-inverted wide">
          <img src="/Artboard 8 copy_1usersurvey.svg" style="max-width: 25%;">
  
          <h4
          >
            Feels impersonal
          </h4>
          <p style="font-size: 1.1rem; color: var(--black);">
            "It just feels like I'd be asked, "Why won't my kids just call me
            instead?""
          </p>
        </div>
  
        <div class="callout-inverted wide">
          <img src="/ usersurvey.svg" style="max-width: 25%;">
          <h4
          >
            Stubbornness and rejecting care
          </h4>
          <p style="font-size: 1.1rem; color: var(--black);">
            "Would she want to give her info to some guy she doesn't know,
            especially when I don't know if it will be the same person each week?"
          </p>
        </div>
     
      </div>
    </div>
  </div>
 
  <div class="grid-twocolumn-text">
    <div></div>
    <div>
      <p class="headline">ADJUSTED HMW STATEMENT, GIVEN THE RESULTS</p>
      <h4>
        How might address the social aspect of the health and wellbeing of
        seniors through Canada Post?
      </h4>
      <p>
        By making “reporting on senior wellbeing” the primary purpose of the
        service, users trusted the service less because it put the mail carrier
        in a position of authority without the necessary training of medical
        professionals.
      </p>
    </div>
  </div>
  <br />

  <hr />
  <div class="grid-twocolumn-text">
    <p class="headline">DESIGN SPRINT RESULTS</p>
    <div>
      <h2 class="headline-h2">
        Focusing the service on social isolation & loneliness
      </h2>

      <p>
        Following user interviews, we conducted further research into "aging at
        home", hoping to find an area that postal workers could comfortably
        intervene in.
      </p>
      <h4>Four fundamental pillars for enabling "Aging in the Right Place"</h4>
      <p>
        Secondary research sourced from the <a
          href="https://www.niageing.ca/"
          target="_blank">National Institute of Ageing (NIA)</a
        > - particularly, their <a
          href="https://www.niageing.ca/airp"
          target="_blank">"Ageing in the Right Place" report</a
        >, defines four fundamental pillars that are essential in enabling older
        adults to age in the most appropriate setting where their personal
        preferences, circumstances, and care needs are met.

        <br /><br />
        This framework helped my team and I scope down our service focus to the fourth
        pillar,
        <strong
          >improving social connections to reduce loneliness and social
          isolation</strong
        >. I felt that this focus would be essential in keeping the trust of
        Carriers that Care, as I feel that postal workers would not have the
        capacity to reasonably support the other three pillars without
        fundamental changes to their jobs.
      </p>
    </div>
  </div>
  <div class="grid-twocolumn">
    <div class="callout-inverted wide" style="padding: 3% 5% 13%; opacity: 40%;">
      <h4 style="color: var(--black); font-size: 1.7rem; line-height: 115%;">
        1. Promoting Preventive Health and Better Chronic Disease Management
      </h4>
    </div>
    <div class="callout-inverted wide" style="padding: 3% 5% 13%; opacity: 40%;">
      <h4 style="color: var(--black); font-size: 1.7rem; line-height: 115%;">
        2. Strengthening Home and Community Based Care & Supports for Unpaid
        Caregivers
      </h4>
    </div>

    <div class="callout-inverted wide" style="padding: 3% 5% 13%; opacity: 40%;">
      <h4 style="color: var(--black); font-size: 1.7rem; line-height: 115%;">
        3. Developing More Accessible and Safer Living Environments
      </h4>
    </div>
    <div class="callout-inverted wide" style="padding: 3% 5% 13%;">
      <h4 style="color: var(--black); font-size: 1.8rem; line-height: 115%;">
        4. Improving Social Connections to Reduce Loneliness and Social
        Isolation
      </h4>
    </div>
  </div>
  <!-- <p>
    <span class="small">
      THE FOUR FUNDAMENTAL PILLARS FOR ENABLING "AGING IN THE RIGHT PLACE"
    </span>
  </p> -->
  <!-- 
  <div class="grid-twocolumn-text" style="margin: 5% 0 0; padding: 0;">
    <div></div>
    <p>This decision helped us define our final HMW:</p>
  </div>
  <img style="width: 100%;" src="/User Testing - what it all means.png" /> -->

  <!-- <div>
    <img
      style="border-style: none; width: 80%;"
      src="https://res.cloudinary.com/dbiwj2oo8/image/upload/v1709584835/Frame_299_roqfla.svg"
    />
  </div> -->
  <!-- <div class="grid-twocol">
    <div></div>
    <p>
      This decision was made from my team and I's awareness that the idea of
      'caring for seniors' is accompanied by nuanced implications of medical
      care and invasion of privacy. We agree with this notion, and the idea that
      a service like Carriers That Care could unfairly put letter carriers in a
      position of authority without the proper training for it, thus putting
      seniors in a vulnerable position.
    </p>
  </div> -->

  <!-- <div class="box">
    <div class="container">
      <h2>Phase 1</h2>
      <p>Sign-up & consent</p>
      <img
        src="https://res.cloudinary.com/dbiwj2oo8/image/upload/v1713659797/MacBook_Pro_17_cgbney.png"
      />
    </div>
    <div class="container">
      <h2>Phase 2</h2>
      <p>Recurring check-ins</p>
      <img
        src="https://res.cloudinary.com/dbiwj2oo8/image/upload/v1713659797/Frame_426_bq585y.png"
      />
    </div>
    <div class="container">
      <h2>Phase 3</h2>
      <p>Further actions</p>
      <img
        src="https://res.cloudinary.com/dbiwj2oo8/image/upload/v1713659797/MacBook_Pro_16_w5qpvv.png"
      />
    </div>
  </div> -->
  <!-- <img src="https://res.cloudinary.com/dbiwj2oo8/image/upload/v1710484642/Touchpoints_xb5jwf.png"> -->
  <!--  <note>Maybe images/illustrations at the top of each secion might help differentiate users...?</note>-->
  <div class="grid-twocolumn-text">
    <div></div>
    <div>
      <p class="headline">FINAL "HOW MIGHT WE" STATEMENT</p>
      <h4>
        How might we utilize the existing infrastructure of Canada Post to
        support socially isolated seniors?
      </h4>
      <p>
        Given the research from the National Institue of Aging, we were able to
        frame the features of Carriers that Care around an investigation into
        how Canada Post may be able to use their current business values and
        brand image to reach the needs of a customer demographic that may have
        been overlooked by them.
      </p>
    </div>
  </div>

  <hr />
  <!-- <p>
    The defined touchpoints imagine the involvement of three potential users.
    Each persona represents the possible actors in a single user flow.
  </p> -->

  <!-- <p class="headline">PERSONAS</p> -->

  <!-- <div class="grid-threecol">
    <div class="callout-inverted wide">
      <img src="/Rachel.png" />

      <h3>Rachel</h3>
      <h4>Recipient of service</h4>
      <p class="wide">Lives alone in Nova Scotia. Recently widowed.</p>
    </div>

    <div class="callout-inverted wide">
      <img src="/Selena.png" />
      <h3>Selena</h3>
      <h4>Family of recipient</h4>
      <p class="wide">
        Lives in Calgary with her own family. She is considering the service for
        her mother, Rachel.
      </p>
    </div>

    <div class="callout-inverted wide">
      <img src="/Cindy.png" />
      <h3>Cindy</h3>
      <h4>Letter carrier</h4>
      <p class="wide">
        Carrier for 17+ years. She has recently been trained for Carriers that
        Care.
      </p>
    </div>
  </div> -->
  <!-- <img src="/Artboard 5eunoia.svg"> -->

  <div class="grid-twocolumn-text">
    <p class="headline">FINAL SOLUTION</p>
    <div>
      <h2 class="headline-h2">Introducing: Carriers that Care</h2>
    </div>
  </div>
  <img src="/Ctc-steps-blue.svg" style="width:95%;" />

  <div class="grid-twocolumn-text">
    <div></div>
    <p>
      In general, we imagine that a user's first interaction with Carriers That
      Care will be a three-step process, eventually simplifying into two steps
      as they get used to the routine of postal worker check-ins. The interfaces
      that were designed aim to encapsulate the digital touchpoints that would
      be involved in the service, on both the customer side and the employee
      side.
    </p>
  </div>

  <div class="grid-twocolumn-text">
    <p class="headline">PHASE 1</p>
    <div>
      <h3 class="headline-h2">Discovery, sign-up, and consent</h3>
      <img src="/Frame 1.png" style="width:70%;" />

      <p>
        This is where the user would need to learn about the service and
        potentially need to be able to share this information with the loved
        ones that they do not live with. We've designed the content of this page
        to push the social aspects of the service, while including elements such
        as options to mail brochures to loved ones as a means for a 'heads-up'
        that families may be interested in signing up.
        <!-- A web portal, accessible from Canada Post's pre-existing website, would be
  available in conjunction with a mailable brochure, for family members who wish
  to indicate to loved ones without requiring them to access the internet. -->
      </p>
    </div>
  </div>
  <!-- <div class="grid-twocolumn-text">
    <div></div>
    <h2 class="headline-h2">2. Sign-up & Consent</h2>
    <div>
      <p>
        Once both parties (the potential recipient of the service and their
        loved ones) are ready for sign-up, the Carriers That Care portal will
        require them to input information such as preferred dates for visits,
        contact details for both parties, and miscellaneous details to make
        visitations easier for postal workers.
      </p>
    </div>
  </div> -->
  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="fit-image">
          <img
            style="border-radius:12px;"
            class="screen3"
            src="/Landing Page Scrollthrough.gif"
          />
          <p style="max-width: 50%;">
            <span class="small"><i>Scrollthrough of landing page.</i></span>
            <!-- <p style="max-width: 100%;">
        <span class="small"
          >A scroll-through of the microsite, displaying, in order: An
          introduction to the service, an outline of the service, subscription
          pricing, and CtC blog articles.</span
        >
      </p> -->
          </p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="fit-image">
          <img
            style="border-radius: 12px;"
            class="screen3"
            src="https://res.cloudinary.com/dbiwj2oo8/image/upload/v1709854854/Property_1_Sign_Up_7_bltl3y.png"
          />
          <p style="max-width: 50%;">
            <span class="small"
              ><i>The final screen of the sign-up process.</i></span
            >
          </p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="fit-image">
          <img
            style="border-radius:12px;"
            class="screen3"
            src="https://res.cloudinary.com/dbiwj2oo8/image/upload/v1709854855/Property_1_Dashboard_Property_2_Pending_s5e213.png"
          />
          <p style="max-width: 50%;">
            <span class="small"
              ><i>
                An example of what the service dashboard may look like before
                vocal consent is confirmed.
              </i></span
            >
          </p>
        </div>
      </div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>

  </div>

  <div class="grid-twocol-even">
    <div class="grid-twocolumn-text">
      <div></div>
      <div>
        <img src="/Frame 7.png" style="width:70%;" />

        <p>
          This sign-up process places emphasis on ensuring that the senior, who
          will be the recipient of the service, is aware of Carriers that Care
          and is consenting to receiving the service. Anticipating cases where
          families will be signing up on the senior's behalf, we have included
          callouts throughout the process, and will not begin delivery of the
          service until Canada Post receives vocal consent from the recipient.
          The progress of this consent process will be visible through the
          dedicated Carriers that Care dashboard, which will be accessible
          through the web portal or through logging into Canada Post's website.
        </p>
      </div>
    </div>
  </div>
  <hr />
  <div class="grid-twocolumn-text">
    <p class="headline">PHASE 2</p>
    <div>
      <h3 class="headline-h2">Check-in and reporting</h3>
      <p>
        Once committed to the service, a postal worker will be assigned to
        conduct routine visits to the recipient's home. We felt that it was
        necessary to include an app in order to simplify the service process for
        carriers, while also making the service less dependent on the carrier's
        individual ability to report on seniors.
      </p>
      <p>
        To best accommodate postal workers who are constantly on the go, the
        report has been made to be as short-handed as possible: interactions
        will be primarily through button inputs, and text input prompts will be
        kept to a bare minimum of one field.
      </p>
      <img src="/Frame 8.png" style="width:70%;" />
    </div>
  </div>
  <div class="swiper mySwiper2">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="fit-image" style=" max-height: 100%; max-width: 100%;">
          <img
            style="border-radius: 12px;"
            class="screen3"
            src="/Letter Carrier Survey.gif"
          />
        </div>
      </div>
      <div class="swiper-slide">
        <div class="fit-image" style=" max-height: 100%; max-width: 100%;">
          <img
          style="border-radius: 12px;"
          class="screen3"
            src="/report format.png"
          />
        </div>
      </div>
      <div class="swiper-slide">
        <div class="fit-image" style=" max-height: 100%; max-width: 100%;">
          <img
          style="border-radius: 12px;"
          class="screen3"
            src="/Emergency-resources.png"
          />
        </div>
      </div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>

  </div>
  <!-- <style>
    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  </style> -->

  <!-- <h4>b. Resources for unexpected events & emergencies</h4>s
<p>
  To alleviate pressure on postal carriers to be experts on handling risks that
  are outside of their expertise, these pages would allow them to maintain their
  focus on this service's core strategy, preventing social isolation.
</p> -->
  <div class="grid-twocolumn-text">
    <div></div>
    <div>
      <div class="callout-inverted">
        <h4 style="color: var(--black);">Placing limitations on reports</h4>
        <p>
          Most letter carriers will not have undergone the necessary training to
          be able to make observations pertaining to medical conditions.
        </p>
        <p>
          To ensure that this services would be focused on social aspects,
          ideally, posties would only be able to report objective data, such as,
          for example, whether or not a senior has new bruises. Additionally,
          Canada Post would not be allowed to suggest actions.
        </p>
      </div>
    </div>
  </div>

  <hr />
  <div class="grid-twocolumn-text">
    <p class="headline">PHASE 3</p>
    <div>
      <img src="/Frame 9.png" style="width: 55%;" />
      <h2>Receiving reports, facilitating further engagement</h2>
      <p>
        Each time a report is sent out by the letter carrier, both the recipient
        of the service and registered loved ones will be able to view them
        through their preferred medium or text or email. This will be a preview
        edition, containing a brief description from the carrier of how the
        visitation went. Full reports will be available only on the service
        dashboard; however, we have opted to avoid including direct links as to
        avoid confusion between fraudulent emails and Carriers that Care emails.
      </p>
    </div>
  </div>
  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img style="width: 100%;" src="/Frame 407.png" />
      </div>
      <div class="swiper-slide">
        <div class="fit-image">
          <img
            style="border-radius:12px; width:100%;"
            class="screen3"
            src="/Dashboard - Send gift.gif"
          />
          <p style="max-width: 100%;">
            <span class="small"
              ><i>
                Navigation from the Carriers that Care dashboard to Canada
                Shops.
              </i></span
            >
          </p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="fit-image">
          <img
            style="border-radius:12px; width:100%;"
            class="screen3"
            src="/Dashboard - check gift.gif"
          />
          <p style="max-width: 100%;">
            <span class="small"
              ><i
                >Once a purchase is made on Canada Shops, the user may receive
                updates on the purchase alongside Carrier reports.</i
              ></span
            >
          </p>
        </div>
      </div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>

  </div>
  <script
    is:inline
    src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <script is:inline>
    var swiper = new Swiper(".mySwiper", {
      // mousewheel: true,
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
    });
    var swiper2 = new Swiper(".mySwiper2", {
        slidesPerView: 3,
        // mousewheel: true,
        centeredSlides: true,
        navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
      });
  </script>

  <!-- <h2>6. Further engagement</h2> -->
  <div class="grid-twocolumn-text">
    <div></div>
    <div>
      <p>
        The dashboard will provide access to full reports once letter carriers
        start sending reports. At any point in the service, the customer also
        may feel the need to adjust their visitation plans, collect more
        information about their assigned letter carrier, or perhaps want to
        submit feedback to the service. We felt that a dashboard was necessary
        to ensure that customers can interact with the service as they see fit.
      </p>
      <img src="/Frame 10.png" style="width:70%;" />

      <p>
        We also see the dashboard as an opportunity for Canada Post to connect
        Carriers That Care to other services in their ecosystem. One such
        proposal we had was the ability to have gifts hand-delivered by trusted
        posties through connecting our service to Canada Shops, an e-commerce
        store that was piloting during Fall of 2023.
      </p>
    </div>
  </div>

  <br />

<hr />
<div class="grid-twocolumn-text">
  <p class="headline">VALUE PROPOSITION</p>
  <div>
    <img src="/Frame 208.png" style="width: 15%;" />
    <br /><br />
    <h4 class="headline-h2">For the business</h4>
    <p style="color: black;">
      With the rise of digital alternatives, revenue from letter delivery has
      been on the decline for the past 17 years, and in parcel delivery, Canada
      Post been losing market share to faster, cheaper competitors such as FedEx
      or UPS. Utilizing their reach to approximately 17 million addresses across
      the country (Canada Post, 2021), Carriers that Care would introduce a new
      stream of revenue to the business.
    </p>

    <img src="/Group 390.png" style="width: 20%;" />
    <br /><br />
    <h4 class="headline-h2">For the customer</h4>
    <p style="color: black;">
      The Canadian National Institute of Aging suggests "Improving Social
      Connections to Reduce Loneliness and Social Isolation" as one of its
      recommendations for better enabling aging at home. Carriers that Care
      provides opportunity to foster consistent social engagement by providing a
      means for seniors to maintain relationships and social connections.
    </p>
  </div>
</div>
<!-- <p>

  While we acknowledge that implementation of this service alone would not
  resolve Canada Post's declining revenues, my team and I still believe that it
  would benefit the business in the way of opening new avenues for income. In
  Jersey, their check-in service is funded by their Department of Health and
  Community Services. Furthermore, in cases such as with the U.K’s Royal Mail
  Health, where customers may connect to a pharmacist or GP and have
  prescriptions delivered to their door, expansion of services has allowed for
  partnerships with large-scale pharmaceutical companies. Partnerships with
  government and other corporations are just a few ways that Canada Post could
  leverage Carriers That Care as a revenue source.
  </p> -->

<br />
<br />
<br />
<br />
<br />
<br />
<!-- <video
      width="720"
      controls
      src="https://res.cloudinary.com/dbiwj2oo8/video/upload/v1709854884/Carriers_that_Care_-_Landing_page_scrollthrough_-_Made_with_Clipchamp_va8vbw.mp4"
    ></video> -->
  </LayoutMay>
