---
import Layout from "../layouts/Layout.astro";
import LayoutProject from "../layouts/LayoutProject.astro";
import LayoutMay from "../layouts/Layout-May.astro";

import Card from "../components/Card.astro";
---

<img
class="img-header"
style="margin-left: 17%;"
src="/Frame 445.png"/>

<LayoutMay title="Carriers That Care">
  <img
  class="img-header-mobile"
  src="/Frame 445.png"/>


  <h1 class="project-titles">Canada Post: Carriers that Care</h1>
  <h3 class="categories">Service design, experience design, UX/UI design</h3>


  <div class="grid-twocol">
    <hr />
    <div class="grid-threecol">
      <div>
        <p class="pilcrow">Roles</p>
        <p>
         Interaction Design<br />Interface Design<br
          />
          Product Strategy<br />Illustration
        </p>
      </div>

      <div>
        <p class="pilcrow">Team</p>
        <p>
          Jasper Precilla<br /> Samaila Newaz <br />Tristan Turisno<br /> Hugo Duran
        </p>
      </div>
      <div>
        <p class="pilcrow">Duration</p>
        <p>Oct 2023 - Dec 2023</p>
      </div>
    </div>
    <!-- <hr /> -->

    <!-- <h3>My contributions</h3>
    <p>
      As part of a group of 5 designers, my focus for this project was on
      contextual research, user flow creation, wireframing, and content design.
    </p> -->
  </div>
  <hr />
  <p style="margin: 5% 0 1%; padding: 0;"><i>OVERVIEW</i></p>

  <h2>
    A check-in service to strengthen connections between independently living
    seniors and their loved ones.
  </h2>
  <p>
    Carriers that care is a proposal for a door-to-door service to be
    delivered by mail carriers of Canada Post. While primarily aimed at seniors
    in rural Canada who live alone, the service extends to loved ones of the
    seniors, who may be unable to visit on a regular basis.
  </p>
  <div style="padding:56.25% 0 0 0;position:relative;">
    <iframe
      src="https://player.vimeo.com/video/892041896?h=7962b203ac"
      style="position:absolute;top:0;left:0;width:100%;height:100%;"
      frameborder="0"
      allow="autoplay; fullscreen; picture-in-picture"
      allowfullscreen></iframe>
  </div><script src="https://player.vimeo.com/api/player.js"></script>
  <br />
  <h4>Scope</h4>
  <p>
    This is an academic project created for a senior-level experience design course. 
    The final deliverables for this project included a framework & proposal for the check-in service,
    as well as UX/UI design for 3 digital touchpoints (a web portal, and app, and a dashboard).
  </p>
  <img style="width:100%;" class="screen4" src="/Touchpoints.png" />
  <hr />
  <!-- <p style="margin: 5% 0 1%; padding: 0;"><i>THE BUSINESS PROBLEM</i></p>
  <h2 style="margin: 0 0 2% 0; padding: 0;">"The Great Mail Decline"</h2>
  -->

  <!-- <div class="callout-inverted">
    <h3>Examples from around the world</h3>
    <div class="grid-twocolumn">  
      <h4>Japan Post</h4>
      <h4>La Poste (France)</h4>
    </div>
  </div> -->
  <!-- <hr/>  
  <h3>RESEARCH & INSIGHTS</h3> -->

  <div class="grid-twocol">
    <div>
      <!-- <p class="quote">
        <i
          >"With more people shifting to the internet and smart mobile devices
          to communicate and transact, posts have experienced a <strong
            >structural decline in mail volumes</strong
          > as customers shift to digital alternatives, while the widespread adoption
          of ecommerce, accelerated by COVID-19, has created a
          <strong>highly competitive parcel delivery landscape</strong>."</i
        >
      </p>
      <p class="quote">
        <i>- Canada Post Corporation, 2022 Annual Report</i>
      </p> -->
      <!-- <h2>
        The Canadian Union of Postal Workers has been advocating for Canada Post
        to offer a senior check-in service since 2016.
      </h2>
      <p>
        As letter delivery becomes replaced by the internet, postal services
        around the world have been offering new services in order to expand the
        definiton of 'postal work'. The 'Delivering Community Power' initiative
        by the Canadian Union of Postal Workers (CUPW) are a set of proposals
        inspired by a sense of need for Canada Post to innovate - one of which
        include a proposal for a senior check-in service.
      </p> -->
      <!-- <p>
        Canada Post has, for the last 17 years, been seeing a decline in their
        profits as letter delivery becomes replaced by the internet, while
        faster, cheaper competitors such as UPS and FedEx have been growing
        their shares in the parcel delivery market.
        <br />
        <p>
          On the other hand, they are in a unique position as a federal Crown
          corporation to deliver services to all communities across Canada. As
          underpinned in initiatives such as their introduction of 'community
          hub'-style post offices, they are increasing efforts in serving rural
          areas as part of their solution outside of their existing services in
          order to establish financial self-sustainability.
        </p>
      </p> -->
      <!-- <p class="quote">
        <i
          >Postal workers could also become a point of contact between seniors
          and healthcare or social services when the need arises. Postal workers
          are already trusted and reliable members of our communities. Why not
          leverage tens of thousands of postal workers to provide further
          supports to seniors?</i
        >
      </p> -->
      <!-- <img
        style="border-style: none;"
        src="https://res.cloudinary.com/dbiwj2oo8/image/upload/v1716336990/Slide_4_3_-_2_bcw3tx.svg"
      /> -->
  <div style="margin: 5% 0;">
  <p class="headline">THE BUSINESS PROBLEM</p>
  <h2 class="headline-h2">"The Great Mail Decline"</h2>
  <p>
    In their
    <a
      href="https://www.canadapost-postescanada.ca/cpc/en/our-company/financial-and-sustainability-reports/2022-annual-report/our-financial-results.page"
      target="_blank"
    >
      2022</a
    >
    and
    <a
      href="https://www.canadapost-postescanada.ca/cpc/en/our-company/financial-and-sustainability-reports/2023-annual-report/executive-summary.page"
      target="_blank">2023 financial reports</a
    >, Canada Post has revealed that letter delivery has been on the decline
    since 2006. In the parcel delivery space, they have been losing market share
    to faster, cheaper competitors such as FedEx or UPS. As a response, the
    crown corporation seeks to extend its offerings beyond traditional postage
    services.
  </p>
</div>
  <hr>
      <p class="headline">OPPORTUNITY</p>

      <h2 class="headline-h2">
        The CUPW has been advocating for a senior check-in service since 2016.
      </h2>
      <p>
        This sentiment from the company is shared by its workers - the <a
          href="https://www.deliveringcommunitypower.ca/our_plan"
          target="_blank">'Delivering Community Power' initiative</a
        >, created by the Canadian Union of Postal Workers (CUPW), are a set of
        proposals inspired by a sense of need for Canada Post to innovate - one of
        which include a proposal for a senior check-in service.
      </p>
      <!-- <h2 style="margin: 0 0 2% 0; padding: 0;">
        An emerging need for senior support infrastructure
      </h2> -->
      <!-- <p>
        Through investigating reports released by the National Insititue of
        Aging, my team and myself discovered that 40% of Canadians aged 55+
        reported experiencing a lack of companionship and regular social
        connections with other people, while 67% of Canadians reported believing
        that a lack of social connection negatively impact their overall health
        and wellbeing.
      </p> -->
      <p>
        To better understand the potential demand for this invervention, we
        looked into reports the ties betweeen loneliness and mental health from
        the National Institute of Aging, as well as Telus Health. Through this,
        we uncovered the following:
      </p>

      <h3 class="callout-inverted">
        <span class="bluetext">40%</span> of Canadians aged <span
          class="bluetext">55+</span
        > reported experiencing a <span class="bluetext"
          >lack of companionship</span
        > and <span class="bluetext">regular social connections</span> with other
        people.
      </h3>
      <h3 class="callout-inverted">
        <span class="bluetext">67%</span> of Canadians aged <span
          class="bluetext">55+</span
        > reported believing that a <span class="bluetext"
          >lack of social connection negatively impact their overall health and
          wellbeing</span
        >.
      </h3>

      <p>
        A comparative analysis on postal services in other parts of the world
        was conducted by myself and my team. We discovered that offices such as
        <a
          href="https://www.lapostegroupe.com/en/news/watch-over-my-parents--so-much-more-than-a-service"
          target="_blank">La Poste in France</a
        >
        and
        <a
          href="https://www.japanpost.jp/en/sustainability/society/healthy-living/others.html"
          target="_blank">Japan Post</a
        >
        are already existing utlizing their infrastructure of door-to-door delivery
        to provide care to seniors who are separated from their families via periodical
        check-ins.
      </p>

      <p>
        With over <span class="bluetext"
          >26,500 letter carriers employed
        </span>by Canada Post, my team and I believe that there is a reasonable
        space for the business to intervene with the senior care space.
        With this opportunity and Canada Post's
        infrastructure in mind, this lead to our HMW statement:
      </p>
      <h3 class="callout">
        How might we <strong>support socially isolated seniors</strong> through the existing
        Canada Post infrastructure?
      </h3>
    </div>
  </div>

  <!-- <hr /> -->
  <!-- <div>
    <p class="quote">
      <i
        >With an aging population, we're going to see a decrease in the number
        of available family caregivers; we're going to see more people living
        alone in the community, at a greater risk of social isolation. And so,
        we need to find creative ways that can help people remain independent
        and feel well supported.</i
      >
    </p>
    <p class="quote">
      <i
        >- Dr. Samir Sinha, director of health policy research and head of
        geriatrics for Sinai Health and the University Health Network, for The
        Toronto Star.
      </i>
    </p>
  </div> -->
  <!-- <hr /> -->
  <hr />
  <div class="grid-twocol">
    <p class="headline">
      RESEARCH
    </p>
    <h2 class="headline-h2">
      Are postal workers qualified for this?
    </h2>
    <div>
      <p>
        The core requirements of Carriers that Care are primarily designed
        around secondary research sourced from reports released by the <a
          href="https://www.niageing.ca/"
          target="_blank">National Institute of Ageing (NIA)</a
        >, a think tank operating out of Toronto Metropolitan University.
      </p>
      <p>
        In particular, the scope of the service is based around their <a
          href="https://www.niageing.ca/airp"
          target="_blank">“Ageing in the Right Place” report</a
        >, where they define four fundamental pillars that are essential in
        enabling older adults to age in the most appropriate setting where their
        personal preferences, circumstances, and care needs are met:
      </p>
      <div class="grid-twocolumn">
        <p class="callout-inverted wide">
          1. Promoting Preventive Health and Better Chronic Disease Management
        </p>
        <p class="callout-inverted wide">
          2. Strengthening Home and Community Based Care & Supports for Unpaid
          Caregivers
        </p>
        <p class="callout-inverted wide">
          3. Developing More Accessible and Safer Living Environments
        </p>
        <p class="callout wide">
          4. Improving Social Connections to Reduce Loneliness and Social
          Isolation
        </p>
      </div>

      <p>
        <span class="small">Carriers that Care is made with a focus on the fourth pillar.
        </span>
      </p>

      <!-- <br /> -->
    </div>
  </div>
  <!-- <div>
    <img
      style="border-style: none; width: 80%;"
      src="https://res.cloudinary.com/dbiwj2oo8/image/upload/v1709584835/Frame_299_roqfla.svg"
    />
  </div> -->
  <!-- <div class="grid-twocol">
    <div></div>
    <p>
      This decision was made from my team and I's awareness that the idea of
      'caring for seniors' is accompanied by nuanced implications of medical
      care and invasion of privacy. We agree with this notion, and the idea that
      a service like Carriers That Care could unfairly put letter carriers in a
      position of authority without the proper training for it, thus putting
      seniors in a vulnerable position.
    </p>
  </div> -->

  <div class="grid-twocol">
    <div></div>
    <p>
      During user testing and in-class presentations, proposals for Carriers
      that Care were met with concerns around putting postal workers in a
      position where they would have authority in areas that they would not be
      adequately trained for, one example of such including medical care. By
      employing this framework, and committing our focus to the area of social
      connections, my team and myself wanted to ensure that we properly
      establish that we are designing around a domain within senior support that
      postal workers can reasonably intervene with - without reducing
      credibility or trust in Carriers that Care.
    </p>
  </div>

  <hr />

  <!-- <div class="box">
    <div class="container">
      <h2>Phase 1</h2>
      <p>Sign-up & consent</p>
      <img
        src="https://res.cloudinary.com/dbiwj2oo8/image/upload/v1713659797/MacBook_Pro_17_cgbney.png"
      />
    </div>
    <div class="container">
      <h2>Phase 2</h2>
      <p>Recurring check-ins</p>
      <img
        src="https://res.cloudinary.com/dbiwj2oo8/image/upload/v1713659797/Frame_426_bq585y.png"
      />
    </div>
    <div class="container">
      <h2>Phase 3</h2>
      <p>Further actions</p>
      <img
        src="https://res.cloudinary.com/dbiwj2oo8/image/upload/v1713659797/MacBook_Pro_16_w5qpvv.png"
      />
    </div>
  </div> -->
  <!-- <img src="https://res.cloudinary.com/dbiwj2oo8/image/upload/v1710484642/Touchpoints_xb5jwf.png"> -->
  <!--  <note>Maybe images/illustrations at the top of each secion might help differentiate users...?</note>-->
  <p class="headline">
    DEVELOPMENT
  </p>
  <h2 class="headline-h2">
    Defining touchpoints & personas</h2>
  <p>
    A user journey map was created in order to define the necessary touchpoints
    that my team would need to design to.
  </p>

  <img src="/General - user flow.png" />
  <br /><br />
  <p>
    Furthermore, the defined touchpoints imagine the involvement of three
    potential users. Each persona represents the possible actors in a single
    user flow.
  </p>

  <div class="grid-threecol">
    <div class="callout-inverted wide">
      <img src="/Rachel.png" />

      <h3>Rachel</h3>
      <h4>Recipient of service</h4>
      <p class="wide">Lives alone in Nova Scotia. Recently widowed.</p>
    </div>

    <div class="callout-inverted wide">
      <img src="/Selena.png" />
      <h3>Selena</h3>
      <h4>Family of recipient</h4>
      <p class="wide">
        Lives in Calgary with her own family. She is considering the service for
        her mother, Rachel.
      </p>
    </div>

    <div class="callout-inverted wide">
      <img src="/Cindy.png" />
      <h3>Cindy</h3>
      <h4>Letter carrier</h4>
      <p class="wide">
        Carrier for 17+ years. She has recently been trained for Carriers that
        Care.
      </p>
    </div>
  </div>
  <!-- <img src="/Persona.png" /> -->
  <br />
  <p>
    In general, we imagine that a user's first interaction with Carriers That
    Care will be a three-step process, eventually simplifying into two steps as
    they get used to the routine of postal worker check-ins. The interfaces that
    were designed aim to encapsulate the digital touchpoints that would be
    involved in the service, on both the customer side and the employee side.
  </p>
  <hr />

    
  <p class="headline">
    FINAL PRODUCTS
    </p>
    <h2 class="headline-h2">
      1. Web Portal</h2>
    
    <div>
  
    <div>
    <img style="border-radius:12px; width: 100%;" class="screen3" src="/Landing Page Scrollthrough.gif" />
    <p style="max-width: 100%;">
      <span class="small"
        >A scroll-through of the microsite, displaying, in order: An introduction
        to the service, an outline of the service, subscription pricing, and CtC
        blog articles.</span>
    </p>
  </div>
  <div>
    <!-- <h3>Discovery & Sharing</h3> -->
    <p style="max-width: 75%;">
      Intended for initial point of contact with the service. The user would need
      to learn about the service and potentially need to be able to share this
      information with the loved ones that they do not live with. <br><br>
      A web
      portal, accessible from Canada Post's pre-existing website, would be
      available in conjunction with a mailable brochure, for family members
      who wish to indicate to loved ones without requiring them to access the
      internet.
    </p>
  </div>
  </div>

  <div class="grid-twocol">
    <div>
      <h2 class="headline-h2">
        2. Sign-up Process</h2>
      <!-- <h3>Setting expectations & consent</h3> -->
 
    </div>
  </div>

  <div class="grid-twocol-even">
    <img
      style="border-radius: 5px; width:100%;" class="screen3"
      src="https://res.cloudinary.com/dbiwj2oo8/image/upload/v1709854854/Property_1_Sign_Up_7_bltl3y.png"
    />
    <br />
    <p style="max-width: 100%;">
    <span class="small"
      ><i
        >The final screen of the sign-up process, providing details on how
        Canada Post will directly reach out to potential recipients of the
        service to receive vocal consent on beginning the service.</i
      ></span
    >
    </p>
    <p>
      Once both parties (the potential recipient of the service and their
      loved ones) are ready for sign-up, the Carriers That Care portal will
      require them to input information such as preferred dates for visits,
      contact details for both parties, and miscellaneous details to make
      visitations easier for postal workers.
    </p>
    <img
    style="border-radius:5px;width: 100%;" class="screen3"
    src="https://res.cloudinary.com/dbiwj2oo8/image/upload/v1709854855/Property_1_Dashboard_Property_2_Pending_s5e213.png"
  />
  <p style="max-width: 100%;">
    <span class="small"
      ><i
    >
    An example of what the service dashboard may look like before vocal
    consent is confirmed.
    </i
  ></small
>
    <p>
      This sign-up process places emphasis on ensuring that the senior, who will
      be the recipient of the service, is aware of Carriers that Care and is
      consenting to receiving the service. Anticipating cases where families
      will be signing up on the senior's behalf, we have included callouts
      throughout the process, and will not begin delivery of the service until
      Canada Post receives vocal consent from the recipient.
    </p>
    <p>
      The progress of this consent process will be visible through the dedicated
      Carriers that Care dashboard, which will be accessible through the web
      portal or through logging into Canada Post's website.
    </p>

    <h2 class="headline-h2">
      3. Service Dashboard</h2>
    <img style="border-radius:12px; width: 100%;" class="screen3" src="/Dashboard - Send gift.gif" />
    <p style="max-width: 100%;">
      <span class="small"
        ><i
      >
      Navigation from the Carriers that Care dashboard to Canada Shops.
    </i></span
  ></p>
    <div class="grid-twocol">

      <p>
        The dashboard will provide access to full reports once letter carriers
        start sending reports. At any point in the service, the customer also
        may feel the need to adjust their visitation plans, collect more
        information about their assigned letter carrier, or perhaps want to
        submit feedback to the service. We felt that a dashboard was necessary
        to ensure that customers can interact with the service as they see fit.
      </p>
    </div>

    <br />
    <div class="grid-twocol">
      <img style="border-radius:12px; width: 100%; "class="screen3" src="/Dashboard - check gift.gif" />
      <p style="max-width: 100%;">
        <span class="small"
          ><i
        >Once a purchase is made on Canada Shops, the user may receive updates
        on the purchase alongside Carrier reports.</i
      ></span
    ></p>
      <div>
        <!-- <h3>Facilitating further engagement</h3> -->
        <p>
          We also see the dashboard as an opportunity for Canada Post to connect
          Carriers That Care to other services in their ecosystem. One such
          proposal we had was the ability to have gifts hand-delivered by
          trusted posties through connecting our service to Canada Shops, an
          e-commerce store that was piloting during Fall of 2023.
        </p>
      </div>
    </div>
  </div>
  <h2 class="headline-h2">
    4. App for Letter Carriers</h2>

    <!-- <h2>Commencement of the service</h2> -->
    <p>
      Once committed to the service, a postal worker will be assigned to conduct
      routine visits to the recipient's home. In order to provide the postal
      workers with some guidance during check-ins, we want to equip them with an
      app that would provide them with tools. The features would be as follows:
    </p>
      <div class="grid-twocolumn-right-heavy">

        <div>
          <img
            style=" border-radius: 12px;"
            class="screen3"
            src="/Letter Carrier Survey.gif"
          />

          <!-- <small
            ><i
              >A walkthrough of the Postal-worker app and how they may fill out a
              post-visit survey.
            </i></small
          > -->
        </div>
<div>
  <h3>a. Filling out & Sending reports</h3>

        <p>
          To best
          accommodate postal workers who are constantly on the go, the report has
          been made to be as short-handed as possible: interactions will be
          primarily through button inputs, and text input prompts will be kept to
          a bare minimum of one field.
        </p>
        <div class="callout-inverted">
          <h4 style="color: var(--black);">
            What are letter carriers reporting
            on?
          </h4>
          <p style="max-width: 85%;">
            Most letter carriers will not have undergone the necessary training to
            be able to make observations pertaining to medical conditions. 
          </p>
          <p style="max-width: 85%;">
            As we do not wish to place expectations on letter carriers to be able to correctly assess the health
            conditions of older adults, report questions will be centred around objective
            observations (ie. is Rachel walking with a limp?), which allow the families and recipients to interpret the
            observations as it is.
          </p>
        </div>
      </div>
      </div>

<div class="grid-twocolumn-left-heavy">
  <div>
  <h3>b. Resources for unexpected events & emergencies</h3>

      <p style="max-width:100%;">
        To alleviate pressure on postal carriers to be experts on handling
        risks that are outside of their expertise, these pages would allow them to maintain
        their focus on this service's core strategy, preventing social
        isolation.
      </p>
    </div>
      <div class="grid-twocolumn">
      <img 
      style=" border-radius: 12px;"
      class="screen3"
      src="/report format.png">
      <img 
      style=" border-radius: 12px;"
      class="screen3"

      src="/Emergency-resources.png">
    </div>
  </div>

  <h2>5. Emails & Other collateral</h2>
  <div>
    <h3>Delivery of reports</h3>
    <p>
      Each time a report is sent out by the letter carrier, both the recipient
      of the service and registered loved ones will be able to view them through
      their preferred medium or text or email. This will be a preview edition,
      containing a brief description from the carrier of how the visitation
      went. Full reports will be available only on the service dashboard;
      however, we have opted to avoid including direct links as to avoid
      confusion between fraudulent emails and Carriers that Care emails.
    </p>
    <img src="/Frame 407.png" />
  </div>

  <hr />

  <h2>Value Proposition</h2>

  <!-- <h3>Keeping up with the world</h3>
  <p>
    We find that this is a global trend shared with postal services in other
    countries.
    <a
      href="https://www.newyorker.com/culture/annals-of-inquiry/in-france-elder-care-comes-with-the-mail"
      target="_blank">The New Yorker</a
    >
    has identified at least five other countries, including not only Japan and France,
    but even the United States, which offer successful check-in services, some of
    which are even more extensive than our proposed Carriers That Care.
  </p> -->

  <h3 style="margin: 0;">Integration with other parts of the business</h3>
  <p>
    While we acknowledge that implementation of this service alone would not
    resolve Canada Post’s declining revenues, my team and I still believe that
    it would benefit the business in the way of opening new avenues for income.
    In Jersey, their check-in service is funded by their Department of Health
    and Community Services. Furthermore, in cases such as with the U.K’s Royal
    Mail Health, where customers may connect to a pharmacist or GP and have
    prescriptions delivered to their door, expansion of services has allowed for
    partnerships with large-scale pharmaceutical companies. Partnerships with
    government and other corporations are just a few ways that Canada Post could
    leverage Carriers That Care as a revenue source.
  </p>

  <br />
  <br />
  <br />
  <br />
  <!-- <video
      width="720"
      controls
      src="https://res.cloudinary.com/dbiwj2oo8/video/upload/v1709854884/Carriers_that_Care_-_Landing_page_scrollthrough_-_Made_with_Clipchamp_va8vbw.mp4"
    ></video> -->
</LayoutMay>
