---
import Layout from "../layouts/Layout.astro";
import LayoutProject from "../layouts/LayoutProject.astro";
import Card from "../components/Card.astro";
---

<LayoutProject title="Carriers That Care">
  <br />

  <h1>Canada Post: Carriers that Care</h1>
  <!-- 
  <img
    src="https://res.cloudinary.com/dbiwj2oo8/image/upload/v1643618381/Slide_16_9_-_21_p1xgqo.png"
  /> -->

  <!-- <hr /> -->
  <h2 style="padding-top:3%;">Overview</h2>
  <p>
    Carriers That Care is a proposal for a check-in service by Canada Post for
    seniors living independently, as well as their loved ones.
  </p>

  <div
    class="grid-twocol"
    style="padding: 0 4% 4%; border-bottom: 1px dotted #333;"
  >
    <p><span style="color: #c13145;">Duration /</span> Oct 2023 - Dec 2023</p>
    <p>
      <span style="color: #c13145;">Team /</span> Jasper Precilla, Sam Newaz, Tristan
      Turisno, Hugo Duran
    </p>
    <p>
      <span style="color: #c13145;">Roles /</span>
      Research & Strategy
    </p>
  </div>

  <br />

  <h2>Opportunity</h2>

  <div style="padding:56.25% 0 0 0;position:relative;">
    <iframe
      src="https://player.vimeo.com/video/892041896?h=7962b203ac"
      style="position:absolute;top:0;left:0;width:100%;height:100%;"
      frameborder="0"
      allow="autoplay; fullscreen; picture-in-picture"
      allowfullscreen></iframe>
  </div><script src="https://player.vimeo.com/api/player.js"></script>

  <p>
    With letter deliver on the decline and increased competitors in parcel
    delivery, in 2022, Canada Post reported their 17th consecutive year in
    decline in sales.
    <br />
    Not only have postal services around the world have been suffering similar issues,
    but CUPW (canadian union of postal workers) has been advocating for an elderly
    check-in program since 2016. Around the world, programs such as La Poste and
    Japan Post have successfully launched similar services.
  </p>

  <h2 class="sansserif">
    How might we support socially isolated seniors through the existing Canada
    Post infrastructure?
  </h2>

  <br />
  <div>
    <img
      src="https://res.cloudinary.com/dbiwj2oo8/image/upload/v1709584835/Frame_299_roqfla.svg"
    />
    <!-- <p class="caption-text">
      <small
        >A report on the number of participants that attended our workshops.</small
      >
    </p> -->
  </div>

  <h2>Introducing Carriers that Care</h2>

  <p>
    There are three stakeholders involved with our service: The mail carrier, a
    senior loved one, and loved ones of the loved one. All involved in different
    parts of the user journey, a general flow of our Carriers that Care service
    would look as follows:
  </p>

  <h2>Phase 1: Setting up visits</h2>
  <div style="padding:56.25% 0 0 0;position:relative;">
    <iframe
      src="https://vimeo.com/902209479/ef562e8f97?share=copy"
      style="position:absolute;top:0;left:0;width:100%;height:100%;"
      frameborder="0"
      allow="autoplay; fullscreen; picture-in-picture"
      allowfullscreen></iframe>
  </div>
  <p>
    Audience would familiarize themselves with our service through the landing
    page of the service. Here, we outline a description of the service.
  </p>

  <p>
    Ensuring that loved ones have consented to the service, Canada Post will ask
    for contact information of both the loved one and family. The final step of
    the sign-up process will involve the senior recipient of the service, with
    Canada Post reaching out through a phone call to ensure that seniors will be
    aware of the service. Carriers that Care will not begin until this step is
    completed.
  </p>
  <h2>Phase 2: Postal Worker App</h2>
  <div style="padding:56.25% 0 0 0;position:relative;">
    <iframe
      src="https://vimeo.com/902242958/4c1c822fc3?share=copy"
      style="position:absolute;top:0;left:0;width:100%;height:100%;"
      frameborder="0"
      allow="autoplay; fullscreen; picture-in-picture"
      allowfullscreen></iframe>
  </div>
  <p>
    Postal workers can use this app to quickly send reports and access resources
    they may need during the visits.
  </p>
  <p>
    Steps involved in reporting will include reporting on their well-being,
    reporting on topics of interest, and et cetra.
  </p>
  <p>
    Following the visit, Postal worker will fill out and upload a report on
    observations they made during the visit. Reports will be optimized for
    Postal workers to be able to fill out while on-the-go.
  </p>
  <p>
    Should any unexpected events occur during the visits, we plan equip postal
    workers with an ‘emergency resources’ page on the app. Addtionally, we
    through Canada Post’s exisiting training portal, we expect carriers to be
    able to handle certain events to some degree.
  </p>
  <h2>Phase 3: Post-Visit Updates</h2>
  <div style="padding:56.25% 0 0 0;position:relative;">
    <iframe
      src="https://player.vimeo.com/video/902436807?h=752ba33798"
      style="position:absolute;top:0;left:0;width:100%;height:100%;"
      frameborder="0"
      allow="autoplay; fullscreen; picture-in-picture"
      allowfullscreen></iframe>
  </div><script src="https://player.vimeo.com/api/player.js"></script>
  <p>
    Family members can stay updated of the visits after they occur through
    notifications sent through text and email.
  </p>
  <p>
    If they wish to get a closer look on the reports, they may choose to view
    reports through the dashboard.
  </p>
  <p>
    From the dashboard, families are able to adjust visitation details, send a
    gift to Rachel to be hand-delivered by the carrier, or add other family
    members to get notified about reports.
  </p>
  <h2>What about Consent and Privacy?</h2>
  <p>During user testing, we encountered four primary concerns:</p>
  <img
    src="https://res.cloudinary.com/dbiwj2oo8/image/upload/v1709585139/Group_47_etzxgi.svg"
  />
  <p>
    A primary issue we need to address is the potential invasiveness of the
    service. To counter this, we have taken various measures across the site to
    ensure families inform their loved ones of the service and gain their
    consent to sign up through callouts, physical information packages and the
    call after the signup.
  </p>
  <a href="/" class="prototype"><strong>Back to home</strong></a>
</LayoutProject>
