---
import Layout from "../layouts/Layout.astro";
import LayoutProject from "../layouts/LayoutProject.astro";
import Card from "../components/Card.astro";
---

<LayoutProject title="Fuori Salone">
  <a class="backbutton" href="/">Back</a>

  <img src="/Frame 424.png" />
  <h1>Fuori Salone</h1>

  <!-- <hr /> -->
  <!-- <h2>Overview</h2> -->
  <h2 style="color: #6c6c6c;">
    Microsite for Fuori Salone, part of Salone del Mobile Milan. Developed for a
    senior-level experience design course.
  </h2>
  <hr />
  <div class="grid-fourcol">
    <div>
      <p><span>Duration</span></p>
      <p>Sept 2023 - Oct 2023</p>
    </div>
    <div>
      <p><span>Team</span></p>
      <p>
        Jasper Precilla<br /> Samaila Newaz <br />Tristan Turisno<br /> Hugo Duran
      </p>
    </div>
    <div>
      <p><span>Roles</span></p>
      <p>
        Contextual Research<br />Interaction Design<br />Interface Design<br />
        Product Strategy<br />Illustration
      </p>
    </div>
  </div>

  <hr />
  <div class="grid-twocol">
    <h2>Introduction</h2>
    <p>
      Fuorisalone is an annual design festival held in Milan that celebrates and
      showcases design throughout the city. It is characterized by the lack of a
      central organizer, making it free for anyone to participate as long as
      they can secure a space. Boasting a total of over 900 exhibitions,
      visitors are guaranteed with something to see or do at any given time
      throughout the week.
    </p>
  </div>
  <hr />

  <img
    style="border-style: none;"
    src="https://res.cloudinary.com/dbiwj2oo8/image/upload/v1710022524/Frame_412_bks0jd.png"
  />

  <div class="grid-twocol">
    <h2>Approach</h2>
    <div>
      <h3>It's <i>your</i> adventure</h3>

      <p>
        Because the Fuori Salone hosts an astronomical number of events, our
        challenge was in scoping the amount of content that we would host in the
        microsite. Rather than putting the focus on events, we opted for an
        approach that focuses on the districts, through tools such as quizzes,
        layouts, and custom-created content.
      </p>

      <hr />

      <h3>Many attitudes towards design</h3>
      <p>
        Upon entering the site, users are given a brief introduction to the site
        then prompted to complete a quiz.
      </p>
      <img src="/Intro_tcld6k.gif" />

      <p>
        The quiz connects each district to their respective themes, while
        personalizing the site experience to the audience. Results of the quiz
        inform the navigational order of the site.
      </p>
      <img src="/Quiz_ickmya.gif" />

      <hr />

      <h3>Synthesizing the themes</h3>
      <p>
        Each page in the site is structured to show a summary of the theme,
        referenced from their respective press releases, as well as a list of
        exhibits, referenced from various sources, including fuorisalone.it.
        Followed by the statement is a brief description of the district and its
        relationship to design, meant to give the audience context before they
        visit the districts in-person.
      </p>
      <img src="/Scrollthrough_n38l2l.gif" />
      <br />
      <img src="/Gallery_xlhzdb.gif" />
    </div>
  </div>
</LayoutProject>
