---
import Layout from "../layouts/Layout.astro";
import LayoutProject from "../layouts/LayoutProject.astro";
import LayoutMay from "../layouts/Layout-May.astro";
---

<LayoutMay title="Fuori Salone | Erika Wang" />

<img
  class="img-header"
  style="margin-left: 15%; margin-top: 1.5%;"
  src="/Fuori-salone-banner.png"
/>

<LayoutMay title="Fuori Salone">
  <img class="img-header-mobile" src="/Fuori-salone-banner.png" />
  <div>
    <h1 class="project-titles">Milan Design Week: Fuori Salone</h1>
    <h4 class="categories">Interaction design, content design</h4>
  </div>
  <!-- <h1 class="project-titles"></h1>
  <h3 class="categories">
    
  </h3> -->
  <hr class="top-hr" />
  <div class="grid-twocol">
    <!-- <h2>Introduction</h2> -->
    <!-- <h2>
      Fuori Salone, unofficially hosted during Milan Design Week, is an annual
      design festival held in Milan that celebrates and showcases design
      throughout the city.
    </h2> -->
  </div>
  <!-- <hr class="top-hr" /> -->
  <div class="grid-threecol">
    <div>
      <p class="pilcrow">Duration</p>
      <p>Sept 2023 - Oct 2023</p>
    </div>
    <div>
      <p class="pilcrow">Team</p>
      <p>
        Jasper Precilla<br /> Samaila Newaz <br />Tristan Turisno<br /> Hugo Duran
      </p>
    </div>
    <div>
      <p class="pilcrow">Roles</p>
      <p>
        Contextual Research<br />Interaction Design<br />Interface Design<br />
        Product Strategy<br />
      </p>
    </div>
  </div>
  <hr class="bottom-hr" />
  <!-- <h2>
    The Fuori Salone events site aims to excite potential event-goers by
    allowing them to preview exhibits through a 'choose-your-own-adventure'
    approach. With participants coming from across the globe, we wanted to
    highlight the wonders of exploration that Fuori Salone brings to Milan.
  </h2> -->
  <!-- <hr class="bottom-hr" /> -->
   <div class="grid-twocolumn-text">
  <p class="headline">ABOUT FUORI SALONE</p>
  <!-- <h2 class="headline-h2">
    Capturing the essence of Fuori Salone in a website
  </h2> -->
  <div>

  <h3 class="headline-h2">
    "The adventure is, you'll never know what you find."
  </h3>
  <!-- <small>-https://www.studiohazeldean.com/matte-magazine/milan-design-week-salone-del-mobile</small> -->
  <p>
    As part of Milan Design Week, Fuori Salone is an opportunity to explore
    areas of the city that are normally not open to the public, while designers
    from across the globe transform every nook and cranny of the city into a
    design exhibition. Boasting over 900 exhibits across dozens of districts, it
    is generally not expected that event-goers would be able to visit every
    single exhibit on display throughout the week. To many, this is the charm of
    the event - the sheer variety of exhibits means no two visitors are going to
    have the same trip.
  </p>
  <p>
    My team and I's challenge was to create a microsite that would capture and
    communicate this essence of Fuori Salone to both new visitors and locals of
    Milan alike.
  </p>
</div>
</div>
  <hr />

  <!-- <p class="headline">CHALLENGE</p> -->
  <!-- <h2 class="headline-h2">Capturing the essence of adventure</h2> -->
  <div class="grid-twocolumn-text">
      <p class="headline">INITIAL IDEATIONS</h2>
    <div>
  <p>
    Using pre-existing websites and the current Fuori Salone website as
    reference, we initially had differing ideas on ways we would structure the
    site:
  </p>
  <h4>
    <ol>
      <li>Feature the event by creating individual pages per exhibition.</li>
      <li>
        Create a gallery-style site by sorting exhibits into categories (ie.
        sustainability, technology…).
      </li>
      <li>
        Group exhibits per each district in Milan that is participating in Fuori
        Salone.
      </li>
    </ol>
  </h4>

  <p>
    What we realized was that with over 900 known exhibits, there would be major
    scalability issues with attempting to display all of them on a singular
    website. On the other hand, we noticed that fuorisalone only typically
    features four to seven participating districts. This felt like a viable way
    to categorize our content, and thus was the solution we decided to explore.
  </p>
</div>

</div>

  <div class="fit-image">
    <img src="/Frame 44.png" />
  </div>
  <div class="grid-twocolumn-text">
    <p class="headline">STARTING POINT</p>
  <div>
  <h3 class="headline-h2">Grouping exhibits per district</h3>
  <p>
    Our initial approach with the districts-based approach was to attempt to
    create a travel itinerary for each area, and showcase not only
    fuorisalone-related information, but also showcase cultural highlights and
    various travel information, as a way to deepen potential visitors'
    understandings of the locations they might visit. We called this a
    'choose-your-own adventure' approach.
  </p>
</div>
</div>

  <img src="/Frame 37.png" style="width: 100%;"/>
  <div class="grid-twocolumn-text">
    <div></div>
<div>
  <p>
    The problem with this approach was that it was too informative, and thus
    detracting from the sense of 'adventure'. While Fuori Salone's primary charm
    is its ability to create dialogue around design, we were too focused on the
    tourism aspects of Milan.
  </p>
  <!-- <h4>Choose your own adventure</h4> -->
  <p>
    Instead, we had discovered that every year, every district participating in
    Fuorisalone provides an overarching theme that exhibiting designers are
    expected to follow. (For example, Isola was x, Brera was y) Much like how
    visitors say that everything is a surprise at fuori salone, these themes
    would allow for us to obscure the districts and dilute them into design
    philosophies, getting them to focus on dialogue around design rather than
    the physical experience of being in Milan.
  </p>
  <h2>From content strategy to interaction</h2>
  <h4>Iteration 1</h4>
  <p>
    In translating these into an interaction approach, I wanted to continue the
    theme of “choose your own adventure”. This was done in a way where the
    themes were placed at the forefront of the navigation. Rather than exploring
    districts by geographical information or name, I wanted visitors to be
    unsure of what they were looking at, with only the themes of each district
    acting as the waypoint.
  </p>
</div>

</div>

  <img src="/Frame 46.png" style="width: 100%;" />
  <div class="grid-twocolumn-text">
    <div></div>
    <div>

  <h4>Iteration 2</h4>

  <p>
    With an overwhelmingly text-heavy landing page, I was unsure whether or not
    a visitor would be able to quickly understand that they were to read and
    comprehend all the themes before proceeding. I modified the page a bit and
    added a CTA to serve as a prompt for interaction.
  </p>
  <img src="/Nav 33.png" style="width: 65%;" />
</div>
</div>

  <div class="grid-twocolumn-text">
    <div></div>
    <div>
  <h4>Iteration 3</h4>

  <p>
    Iteration 2, visually, still felt overwhelming. To orient the visitor before
    they are asked to complete the quiz, a teammate added an intro screen, which
    would load into a screen I made that would only contain the above CTA and a
    button to begin the task whenever a visitor was ready. By incrementing the
    initial parts of the website this way, the hopes are to ease the visitor
    into the extensive task of completing a quiz.
  </p>
</div>

</div>


  <img src="/Frame 406.png" style="width:100%;" />
  <hr />
  <div class="grid-twocolumn-text">
    <p class="headline">FINAL APPROACH</p>
    <div>

    <h2 class="headline-h2">It's <i>your</i> adventure</h2>
      <p>
        Following completion of the quiz, the navigational order of the site
        will change such that each district is presented in the order that the
        themes were clicked on, ensuring a personalized experience per visitor.
        This approach surfaces these themes and primes the audience for the
        event by having them resonate with the themes, rather than explicitly
        talking about the exhibits.
      </p>
      <!-- <p>
        (Insert user persona here - a designer seeking to attend Milan Design
        Week, but knows little about the actual event. We want them to be able
        to resonate with the topics presented by each district - smth smth their
        unique identity smth smth everyone has different trips)
      </p>
      <p>
        In general, we expect that the general flow of the website will be as
        follows:
        <br />1. User is introduced to the site.
        <br /> 2. Before introduction to website content, we ask the user to stop
        & reflect on topics in design that resonate with them.
        <br /> 3. Once the topics are selected, the districts of Milan will be presented
        to them in order of the topics selected during their quiz.
        <br /> - Brand aspects: Freedom, adventure, reflection, messages to future
        generations
      </p>
      <p>
        (Other things that could be included: Imagery rationale - what images
        did we collect and why, content - where did we draw these themes from -
        culture studies, personalities of each district)
      </p> -->
    </div>
  </div>
</div>
<img
style="border-style: none; width: 100%;"
src="https://res.cloudinary.com/dbiwj2oo8/image/upload/v1710022524/Frame_412_bks0jd.png"
/>

  <hr />
  <div class="grid-twocolumn-text">
    <p class="headline">FINAL PRODUCT</p>
    <div>
    <h2 class="headline-h2">Fuorisalone Event Page</h2>
    <p>
      Alongside the user journey, the interactions of the Fuori Salone microsite
      roughly serve two purposes: Guiding onboarding, or guiding site
      exploration.
    </p>
  </div>
<div></div>
    <div>
      <p class="headline">ONBOARDING</p>

    <h3 style="margin: 0 0 2% 0; padding: 0;">a. Preloader</h3>
    <p>
      Upon entering the site, users are given a brief introduction to the site
      then prompted to complete a quiz.
    </p>
  </div>
  </div>
  <div class="fit-image-fuorisalone">
    <img
      src="/Intro_tcld6.gif"
      loading="lazy"
      class="screen2"
      style="width: 100%;"
    />
  </div>
  <div class="grid-twocolumn-text">
    <div></div>
    <div>
    <h3>b. Quiz</h3>
    <p>
      The quiz connects each district to their respective themes, while
      personalizing the site experience to the audience. Results of the quiz
      inform the navigational order of the site.
    </p>
  </div>
  </div>

  <div class="fit-image-fuorisalone">
    <img
      src="/Quiz_ickmya.gif"
      loading="lazy"
      class="screen2"
      style="width: 100%;"
    />
  </div>
  <div class="grid-twocolumn-text">
<div></div>
  <div>
    <p class="headline">EXPLORATION</p>

    <h3>a. Theme Introduction</h3>
    <p>
      Each page in the site is structured to show a summary of the theme,
      referenced from their respective press releases, as well as a list of
      exhibits, referenced from various sources, including fuorisalone.it.
      Followed by the statement is a brief description of the district and its
      relationship to design, meant to give the audience context before they
      visit the districts in-person.
    </p>
  </div>
</div>

  <div class="fit-image-fuorisalone">
    <img
      src="/Scrollthrough_n38l2l.gif"
      loading="lazy"
      class="screen2"
      style="width: 100%;"
    />
  </div>

  <div class="grid-twocolumn-text">
    <div></div>
<div>
    <h3>b. Previews of Exhibits</h3>
  <p>
    If provided by districts in their PR packages, a highlighted selection of
    their exhibits will be included to view at the bottom of each page. Visitors
    may drag the gallery vertically or hover to view details of the selected
    exhibits.
  </p>
</div>
</div>

  <div class="fit-image-fuorisalone">
    <img
      src="/Gallery_xlhzdb.gif"
      loading="lazy"
      class="screen2"
      style="width: 100%;"
    />
  </div>
  <br /><br />
</LayoutMay>
