---
import Layout from "../layouts/Layout.astro";
import LayoutProject from "../layouts/LayoutProject.astro";
import LayoutMay from "../layouts/Layout-May.astro";

import Card from "../components/Card.astro";
---


<img
  class="img-header"
  style="margin-left: 17%;"
  src="/Fuori-salone-banner.png"
/>

<LayoutMay title="Fuori Salone">
  <img class="img-header-mobile" src="/Fuori-salone-banner.png" />

  <h1 class="project-titles">Milan Design Week - Fuori Salone</h1>
  <h3 class="categories">
    Website design, interaction design, content strategy
  </h3>
  <!-- <hr /> -->
  <!-- <h2>Overview</h2> -->
  <!-- <h2 style="color: #6c6c6c;">
    Microsite for Fuori Salone, part of Milan Design Week. 
  </h2> -->

  <!-- <hr /> -->
  <div class="grid-twocol">
    <!-- <h2>Introduction</h2> -->
    <!-- <h2>
      Fuori Salone, unofficially hosted during Milan Design Week, is an annual
      design festival held in Milan that celebrates and showcases design
      throughout the city.
    </h2> -->
  </div>
  <hr />
  <div class="grid-threecol">
    <div>
      <p class="pilcrow">Duration</p>
      <p>Sept 2023 - Oct 2023</p>
    </div>
    <div>
      <p class="pilcrow">Team</p>
      <p>
        Jasper Precilla<br /> Samaila Newaz <br />Tristan Turisno<br /> Hugo Duran
      </p>
    </div>
    <div>
      <p class="pilcrow">Roles</p>
      <p>
        Contextual Research<br />Interaction Design<br />Interface Design<br />
        Product Strategy<br />Illustration
      </p>
    </div>
  </div>
  <!-- <hr />
  <h2>
    The Fuori Salone events site aims to excite potential event-goers by
    allowing them to preview exhibits through a 'choose-your-own-adventure'
    approach. With participants coming from across the globe, we wanted to
    highlight the wonders of exploration that Fuori Salone brings to Milan.
  </h2> -->
  <hr />
  <p class="headline">ABOUT FUORI SALONE</p>
  <h2 class="headline-h2">
    "The adventure is, you'll never know what you find."
  </h2>
  <!-- <small>-https://www.studiohazeldean.com/matte-magazine/milan-design-week-salone-del-mobile</small> -->
  <p>
    As part of Milan Design Week, Fuori Salone is an opportunity to explore
    areas of the city that are normally not open to the public, while designers
    from across the globe transform every nook and cranny of the city into a
    design exhibition. Boasting over 900 exhibits across dozens of districts, it
    is generally not expected that event-goers would be able to visit every
    single exhibit on display throughout the week. To many, this is the charm of
    the event - the sheer variety of exhibits means no two visitors are going to
    have the same trip.
  </p>
  <p>
    My team and I's challenge was to create a microsite that would capture and
    communicate this essence of Fuori Salone to both new visitors and locals of
    Milan alike.
  </p>

  <hr />
  <div class="grid-twocol">
    <h2>Sitemap & Approach</h2>

    <div>
      <img
        style="border-style: none;"
        src="https://res.cloudinary.com/dbiwj2oo8/image/upload/v1710022524/Frame_412_bks0jd.png"
      />
      <h3>It's <i>your</i> adventure</h3>

      <p>
        Because the Fuori Salone hosts a large number of exhibits, our biggest
        challenge was in scoping the amount of content that we would host in the
        microsite. Rather than putting the focus on individual exhibits, we
        opted for an approach that focuses on the districts, through tools such
        as quizzes, layouts, and custom-created content.
      </p>
      <!-- <p>
        (Insert user persona here - a designer seeking to attend Milan Design
        Week, but knows little about the actual event. We want them to be able
        to resonate with the topics presented by each district - smth smth their
        unique identity smth smth everyone has different trips)
      </p>
      <p>
        In general, we expect that the general flow of the website will be as
        follows:
        <br />1. User is introduced to the site.
        <br /> 2. Before introduction to website content, we ask the user to stop
        & reflect on topics in design that resonate with them.
        <br /> 3. Once the topics are selected, the districts of Milan will be presented
        to them in order of the topics selected during their quiz.
        <br /> - Brand aspects: Freedom, adventure, reflection, messages to future
        generations
      </p>
      <p>
        (Other things that could be included: Imagery rationale - what images
        did we collect and why, content - where did we draw these themes from -
        culture studies, personalities of each district)
      </p> -->
    </div>
  </div>

  <hr />
  <div class="grid-twocol">
    <p class="headline">FINAL PRODUCT</p>
    <h2 class="headline-h2">Fuorisalone Event Page</h2>
    <p>
      Alongside the user journey, the interactions of the Fuori Salone microsite
      roughly serve two purposes: Guiding onboarding, or guiding site
      exploration.
    </p>

    <p class="headline">ONBOARDING INTERACTIONS</p>
    <h3 style="margin: 0 0 2% 0; padding: 0;">a. Preloader</h3>
    <p>
      Upon entering the site, users are given a brief introduction to the site
      then prompted to complete a quiz.
    </p>
  </div>
  <div class="fit-image-fuorisalone">
    <img
      src="/Intro_tcld6.gif"
      loading="lazy"
      class="screen2"
      style="width: 100%;"
    />
  </div>
  <div class="grid-twocol">
    <h3>b. Quiz</h3>
    <p>
      The quiz connects each district to their respective themes, while
      personalizing the site experience to the audience. Results of the quiz
      inform the navigational order of the site.
    </p>
  </div>

  <div class="fit-image-fuorisalone">
    <img
      src="/Quiz_ickmya.gif"
      loading="lazy"
      class="screen2"
      style="width: 100%;"
    />
  </div>


    <p class="headline">EXPLORATION INTERACTIONS</p>

    <div class="grid-twocol">
      <h3 style="margin: 0 0 2% 0; padding: 0;">a. Theme Introduction</h3>
      <p>
        Each page in the site is structured to show a summary of the theme,
        referenced from their respective press releases, as well as a list of
        exhibits, referenced from various sources, including fuorisalone.it.
        Followed by the statement is a brief description of the district and its
        relationship to design, meant to give the audience context before they
        visit the districts in-person.
      </p>
    </div>
    <div class="fit-image-fuorisalone">
      <img
        src="/Scrollthrough_n38l2l.gif"
        loading="lazy"
        class="screen2"
        style="width: 100%;"
      />
    </div>

    <br />
    <h3>b. Previews of Exhibits</h3>
    <p>
      If provided by districts in their PR packages, a highlighted selection of
      their exhibits will be included to view at the bottom of each page.
      Visitors may drag the gallery vertically or hover to view details of the
      selected exhibits.
    </p>
    <div class="fit-image-fuorisalone">
      <img
        src="/Gallery_xlhzdb.gif"
        loading="lazy"
        class="screen2"
        style="width: 100%;"
      />
    </div>
  </div>
</LayoutMay>
