---
import Layout from "../layouts/Layout.astro";
import LayoutProject from "../layouts/LayoutProject.astro";
import Card from "../components/Card.astro";
---

<LayoutProject title="Fuori Salone">
  <br />
  <h1>Fuori Salone</h1>
  <!-- 
  <img
    src="https://res.cloudinary.com/dbiwj2oo8/image/upload/v1643618381/Slide_16_9_-_21_p1xgqo.png"
  /> -->

  <!-- <hr /> -->
  <!-- <h2>Overview</h2> -->
  <h2 style="color: #6c6c6c;">
    Microsite for Fuori Salone, part of Salone del Mobile Milan. Developed for a
    senior-level experience design course.
  </h2>

  <div class="grid-fourcol">
    <div>
      <p><span>Duration</span></p>
      <p>Sept 2023 - Oct 2023</p>
    </div>
    <div>
      <p><span>Team</span></p>
      <p>
        Jasper Precilla<br /> Samaila Newaz <br />Tristan Turisno<br /> Hugo Duran
      </p>
    </div>
    <div>
      <p><span>Roles</span></p>
      <p>
        Contextual Research<br />Interaction Design<br />Interface Design<br />
        Product Strategy<br />Illustration
      </p>
    </div>
  </div>

  <br />

  <div class="grid-twocol">
    <h2>Introduction</h2>
    <p>
      Fuorisalone is an annual design festival held in Milan that celebrates and
      showcases design throughout the city. It is characterized by the lack of a
      central organizer, making it free for anyone to participate as long as
      they can secure a space. Boasting a total of over 900 exhibitions,
      visitors are guaranteed with something to see or do at any given time
      throughout the week.
    </p>
  </div>
  <img style="border-style: none;" src="https://res.cloudinary.com/dbiwj2oo8/image/upload/v1710022524/Frame_412_bks0jd.png">

    <div class="grid-twocol">
      <h2>Approach</h2>
    <div>
      <h3>Encouraging exploration</h3>
      <p>
        Because the Fuori Salone hosts an astronomical number of events, our
        challenge was in scoping the amount of content that we would host in the
        microsite. Rather than putting the focus on events, we opted for an
        approach that focuses on the districts, through tools such as quizzes,
        layouts, and custom-created content.
      </p>

      <h3>The many ideologies of design</h3>
      <p>
        Upon entering the site, users are given a brief introduction to the site
        then prompted to complete a quiz. The quiz connects each district to
        their respective themes, while personalizing the site experience to the
        audience. Results of the quiz inform the navigational order of the site.
        By having the audience select themes from most to least attractive, they
        are able to
      </p>

      <h3>Synthesizing the themes</h3>
      <p>
        Each page in the site is structured to show a summary of the theme,
        referenced from their respective press releases, as well as a list of
        exhibits, referenced from various sources, including fuorisalone.it.
        Followed by the statement is a brief description of the district and its
        relationship to design, meant to give the audience context before they
        visit the districts in-person.
      </p>
    </div>
  </div>
  <!-- <h2>What about Consent and Privacy?</h2>
  <p>During user testing, we encountered four primary concerns:</p>

  <p>
    A primary issue we need to address is the potential invasiveness of the
    service. To counter this, we have taken various measures across the site to
    ensure families inform their loved ones of the service and gain their
    consent to sign up through callouts, physical information packages and the
    call after the signup.
  </p> -->
  <!-- <hr /> -->
  <!-- <h2>Design decisions and strategies</h2> -->
  <!-- <h2>Reflection</h2>
  <h3>Taking leaps of faith</h3> -->
  <hr />
  <a href="/" class="prototype"><strong>Back to home</strong></a>
</LayoutProject>
