---
import LayoutProject from "../layouts/LayoutProject.astro";
import rocket from "../assets/images/rocket.svg";
import LayoutMay from "../layouts/Layout-May.astro";

import Mariner from "../assets/mariner-splash.png";
import Card from "../components/Card.astro";
---

<LayoutMay title="Erika Wang">
  <br />
  <br />
  <img src="path4.svg" style="width: 60%;" />
<!-- <h3>Hello!</h3> -->
 <h3>Hello there!</h3>
  <h1>
    Erika is a product designer, illustrator, and a perpetual hunter of good questions.
    <!-- Hi! I'm a product designer based in Vancouver, with experience in brand
    strategy, UX research, and interface design. -->
    <!-- A Vancouver-based designer with an interest in brand strategy, UX research,
    and experience design.
     -->
  </h1>

  <h3>
    Previously a UX/UI designer at <a href="https://www.excelar.ca/"
      >Excelar Technologies</a
    >.
  </h3>

  <br />

  <h4>Projects</h3>
    <hr>

  <div class="project">
  <a href="/carriersthatcare">
    <img
      style="width: 100%;"
      src="Frame 445.png"
    />

    <h2 style="margin: 0; padding: 0;">Canada Post: Carriers that Care</h2>
    <h4 style="margin: 0; padding: 0;">
      Redefining the role of postal service for rural seniors
    </h4>
  </a>
</div>

<div class="project">
  <a href="/fuorisalone">
    <img
      style="width: 100%;"
      src="/Frame 443.png"
    />

    <h2 style="margin: 0; padding: 0;">Milan Design Week: Fuori Salone</h2>
    <h4 style="margin: 0; padding: 0;">
      An event website to explore the districts of Milan
    </h4>
  </a>
</div>

<div class="project">
  <a href="/careflow">
    <img
      style="width: 100%;"
      src="/Frame 439.png"
    />
    <h2 style="margin: 0; padding: 0;">Careflow</h2>
    <h4 style="margin: 0; padding: 0;">
      UX/UI design for AI-driven clincial platform
    </h4>
  </a>
</div>
  <!-- <br />
  <br />
  <br />
  <br />
  <br />
  <br /> -->
  <!-- <a class="project" href="/sc-focus">
    <img
      style="border:none; width: 100%; margin-left: 0; padding: 0;"
      src="https://res.cloudinary.com/dbiwj2oo8/image/upload/v1642281828/Slide_16_9_-_10_xoxmpo.png"
    />
    <h2 style="margin: 0; padding: 0;">SoundCloud: Focus feature</h2>
    <h3 style="margin: 0; padding: 0;">UI Design</h3>
  </a> -->

</LayoutMay>
