---
import LayoutProject from "../layouts/LayoutProject.astro";
import rocket from "../assets/images/rocket.svg";
import LayoutMay from "../layouts/Layout-May.astro";

import Mariner from "../assets/mariner-splash.png";
import Card from "../components/Card.astro";
---

<LayoutMay title="Erika Wang">
  <h1>
    Erika Wang <span class="grey">
      is a Vancouver-based designer, with an interest in
    </span>brand strategy, UX research,<span class="grey"> and </span> experience
    design.
  </h1>

  <div class="everything-else">
    <h2 class="grey">
      Previously at <a class="button-alt grey" href="https://www.excelar.ca/"
        >Excelar Technologies</a
      >.
    </h2>
    <br />

    <br />
    <br />
    <br />
    <br />
    <br />
  </div>
</LayoutProject>
