---
import LayoutProject from "../layouts/LayoutProject.astro";
import rocket from "../assets/images/rocket.svg";
import LayoutMay from "../layouts/Layout-May.astro";

import Mariner from "../assets/mariner-splash.png";
import Card from "../components/Card.astro";
---

<LayoutMay title="Erika Wang">
  <br />
  <br />
  <h1>
    A product designer, illustrator, and imaginator.
    <!-- Hi! I'm a product designer based in Vancouver, with experience in brand
    strategy, UX research, and interface design. -->
    <!-- A Vancouver-based designer with an interest in brand strategy, UX research,
    and experience design.
     -->
  </h1>

  <h2>
    Previously at <a href="https://www.excelar.ca/">Excelar Technologies</a>.
  </h2>
  <br />
  <br />
  <br />
  <br />
  <br />
  <h3>Projects</h3>
  <br />

  <a class="project" href="/carriersthatcare">
    <img
      style="border:none; width: 100%; margin-left: 0; padding: 0;"
      src="https://res.cloudinary.com/dbiwj2oo8/image/upload/v1711568893/Frame_150_bjwqok.png"
    />

    <h2 style="margin: 0; padding: 0;">Canada Post</h2>
    <h3 style="margin: 0; padding: 0;">
      Service Design, Experience Design, Interface Design
    </h3>
  </a>

  <br />
  <br />
  <br />
  <br />
  <br />
  <br />

  <a class="project" href="/fuorisalone">
    <img
      style="border:none; width: 100%; margin-left: 0; padding: 0;"
      src="/Frame 424.png"
    />

    <h2 style="margin: 0; padding: 0;">Fuori Salone: Pre-event microsite</h2>
    <h3 style="margin: 0; padding: 0;">
      Brand Strategy, Content Design, Interaction Design
    </h3>
  </a>

  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <a class="project" href="/careflow">
    <img
      style="border:none; width: 100%; margin-left: 0; padding: 0;"
      src="/Frame 439.png"
    />
    <h2 style="margin: 0; padding: 0;">Careflow</h2>
    <h3 style="margin: 0; padding: 0;">
      Co-op Internship, User Experience Design, Interface Design
    </h3>
  </a>
  <!-- <br />
  <br />
  <br />
  <br />
  <br />
  <br /> -->
  <!-- <a class="project" href="/sc-focus">
    <img
      style="border:none; width: 100%; margin-left: 0; padding: 0;"
      src="https://res.cloudinary.com/dbiwj2oo8/image/upload/v1642281828/Slide_16_9_-_10_xoxmpo.png"
    />
    <h2 style="margin: 0; padding: 0;">SoundCloud: Focus feature</h2>
    <h3 style="margin: 0; padding: 0;">UI Design</h3>
  </a> -->

  <br />
  <br />
  <br />
  <br />
  <br />
</LayoutMay>
