---
import Layout from "../layouts/Layout.astro";
import rocket from "../assets/images/rocket.svg";

import Mariner from "../assets/mariner-splash.png";
import Card from "../components/Card.astro";
---

<Layout title="Erika Wang">
  <main>
    <div class="flex-container">
      <div class="width">
        <h1>Erika Wang</h1>
        <h2>Design student at Simon Fraser University</h2>

        <div class="projects" id="project-wrapper">
          <a href="sc-focus" id="buttonFour">SoundCloud Focus</a>
          <a href="mariner" id="buttonThree">Mariner Brewing</a>
          <!-- <a href="allseason" id="buttonTwo">All Season</a> -->
          <a href="careflow" id="buttonOne">Careflow</a>
          <a href="carriersthatcare" style="opacity: 50%;"
            >(Coming soon) Canada Post</a
          >
        </div>
        <h2><a href="/about" id="buttonFive">About me</a></h2>
      </div>

      <div>
        <img
          id="topImage"
          src="https://res.cloudinary.com/dbiwj2oo8/image/upload/v1690334948/triplets_fxawtk.png"
        />
      </div>
    </div>
  </main>
</Layout>

<style>
  .width {
    width: 100%;
  }
  .projects {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    margin: 5% 0;
  }
  .projects > a {
    font-size: 1.8rem;
    font-weight: 300;
    text-decoration: none;
    line-height: 1.4;
    margin: 0.5rem 0;
    color: #6c6c6c;
    white-space: nowrap;
    /* width: fit-content; */
  }
  .projects > a:hover {
    font-weight: 400;
    color: #f6f6f6;
    background-color: #c32828;
    /* text-decoration: underline; */
  }

  @keyframes fade-in {
    0% {
      opacity: 0.8;
    }
    100% {
      opacity: 1;
    }
  }
  .flex-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    height: 75vh;
    gap: 0rem;
    margin: 0 8%;
  }
  #topImage {
    display: none;
  }
  main {
    margin: auto;
    margin-top: 2.2rem;
    padding: 0rem 0.5rem;
    max-width: 100ch;
  }
  h1 {
    font-size: 3rem;
    /* font-weight: 800; */
    margin: 0.5rem 0;
    line-height: 150%;
  }
  h2 {
    font-size: 1.5rem;
    font-weight: 200;
    margin: 0;
    line-height: 150%;
  }

  @media only screen and (min-width: 768px) {
    #topImage {
      display: inline;
      max-width: 400px;
      height: auto;
    }

    .projects > a {
      font-size: 1.6rem;
    }
    .flex-container {
      flex-direction: row;
      height: 75vh;
      gap: 2.06rem;
    }
    main {
      margin: auto;
      padding: 0rem;
      max-width: 110ch;
    }
    /* h1 {
      font-size: 2rem;
      font-weight: 800;
      margin: 0.5rem 0;
      line-height: 150%;
    } */
    /* h2 {
      font-size: 1.2rem;
      font-weight: 300;
      margin: 0;
      line-height: 150%;
    } */
    .link-card-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
      gap: 1rem;
      padding: 0;
    }
  }

  @media only screen and (min-width: 1920px) {
    .projects > a {
      font-size: 1.9rem;
    }
    #topImage {
      display: inline;
    }
    .flex-container {
      flex-direction: row;
      height: 75vh;
      gap: 0rem;
    }
    main {
      margin: auto;
      padding: 0rem;
      max-width: 110ch;
    }
    h1 {
      font-size: 1.5rem;
      font-weight: 800;
      margin: 0.5rem 0;
      line-height: 150%;
    }
    h2 {
      font-size: 1.5rem;
      font-weight: 200;
      margin: 0;
      line-height: 150%;
    }
    .link-card-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
      gap: 1rem;
      padding: 0;
    }
    /* img {
      max-width: 400px;
    } */
  }
</style>

<script>
  const topImage = document.getElementById("topImage");

  document
    .getElementById("buttonOne")
    .addEventListener("mouseenter", myFunction);
  document
    .getElementById("buttonTwo")
    .addEventListener("mouseenter", myFunction2);
  document
    .getElementById("buttonThree")
    .addEventListener("mouseenter", myFunction3);
  document
    .getElementById("buttonFour")
    .addEventListener("mouseenter", myFunction4);
  document
    .getElementById("buttonFive")
    .addEventListener("mouseenter", myFunction5);
  // document
  //   .getElementById("project-wrapper")
  //   .addEventListener("mouseout", myFunction5);

  function myFunction(setImage) {
    topImage.setAttribute(
      "src",
      "https://res.cloudinary.com/dbiwj2oo8/image/upload/v1690334948/triplets_fxawtk.png",

      // "https://res.cloudinary.com/dbiwj2oo8/image/upload/v1690327861/mariner-splash_u4y2bs.png",
    );
    console.log("Hello1");
  }

  function myFunction2(setImage) {
    topImage.setAttribute(
      "src",
      "https://res.cloudinary.com/dbiwj2oo8/image/upload/v1690505840/Slide_16_9_-_11_2_boogvu.png",
    );
  }

  function myFunction3(setImage) {
    topImage.setAttribute(
      "src",
      "https://res.cloudinary.com/dbiwj2oo8/image/upload/v1690505997/Slide_16_9_-_20_1_p0ob1n.png",
    );
    console.log("Hello3");
  }

  function myFunction4(setImage) {
    topImage.setAttribute(
      "src",
      "https://res.cloudinary.com/dbiwj2oo8/image/upload/v1690505840/Frame_80_oarmiy.png",
    );
    console.log("Hello4");
  }

  function myFunction5(setImage) {
    topImage.setAttribute(
      "src",
      "https://res.cloudinary.com/dbiwj2oo8/image/upload/v1690334948/triplets_fxawtk.png",
    );
    console.log("Hello5");
  }
</script>
