---
import LayoutProject from "../layouts/LayoutProject.astro";
import rocket from "../assets/images/rocket.svg";

import Mariner from "../assets/mariner-splash.png";
import Card from "../components/Card.astro";
---

<LayoutProject title="Erika Wang">
  <h1>
    Erika Wang <span class="grey">
      is a Vancouver-based designer, with a particular interest in
    </span>brand strategy, UX research,<span class="grey"> and </span> experience
    design.
  </h1>

  <div class="everything-else">
    <h2 class="grey">
      Previously at <a class="button-alt grey" href="https://www.excelar.ca/"
        >Excelar Technologies</a
      >.
    </h2>
    <br />
    <a
      class="button-alt"
      style="padding-right: 2%; color: grey;"
      href="/about"
      id="buttonFive">About</a
    >
    <a
      class="button-alt grey"
      href="https://drive.google.com/file/d/1CTj3YgbJDFsbBrXd4ySg99gA3_Z4TB7u/view?usp=drive_link"
      >Resume</a
    >
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <h2>Projects</h2>

    <div class="wrap-project">
      <div class="wrap-project-inner">
        <a
          class="hover-underline-animation"
          style="text-decoration: none;"
          href="/carriersthatcare"
        >
          <img
            style="border:none; width: 85%; margin-left: 0; padding: 1% 0;"
            src="https://res.cloudinary.com/dbiwj2oo8/image/upload/v1711568893/Frame_150_bjwqok.png"
          />
          <h2 class="heavy">Canada Post: Senior Care Service Proposal</h2>
          <!-- <h2 class="blue">Canada Post</h2> -->
          <h3 class="tags">
            Service Design, Experience Design, Interface Design
          </h3>
        </a>
      </div>
    </div>

    <br />
    <br />

    <div class="wrap-project">
      <div class="wrap-project-inner">
        <a
          class="hover-underline-animation"
          style="text-decoration: none;"
          href="/fuorisalone"
        >
          <img
            style="border:none; width: 85%; margin-left: 0; padding: 1% 0;"
            src="/Frame 424.png"
          />
          <h2 class="heavy">Fuori Salone: Pre-event microsite</h2>
          <!-- <h2 class="blue">Fuori Salone</h2> -->

          <h3 class="tags">
            Brand Strategy, Content Design, Interaction Design
          </h3>
        </a>
      </div>
    </div>

    <!-- <div class="wrap-project">
      <div class="wrap-project-inner">
        <a style="text-decoration: none;" href="/mariner">
          <h2 class="blue">Mariner Brewing</h2>
          <img
            style="border:none; max-width: 85%; margin-left: 0; padding: 1% 0;"
            src="https://res.cloudinary.com/dbiwj2oo8/image/upload/v1711568900/Frame_425_wceikg.png"
          />
          <h2 class="heavy">
            Is there a fun, engaging way to keep customers updated on beer
            education?
          </h2>
          <h3 class="tags">
            Brand Strategy, Content Design, Interaction Design
          </h3>
        </a>
      </div>
    </div> -->

    <div class="wrap-project">
      <div class="wrap-project-inner">
        <!-- <a
          class="hover-underline-animation"
          style="text-decoration: none;"
          href="/careflow"
        >
          <h2 class="blue">Careflow</h2>
          <h2 class="heavy">CareFlow: Co-op internship</h2>
          <h3 class="tags">
            Internship, User experience design, User research, Interface design
          </h3>
        </a> -->
      </div>
    </div>
  </div>
</LayoutProject>
