---
import LayoutProject from "../layouts/LayoutProject.astro";
import rocket from "../assets/images/rocket.svg";
import LayoutMay from "../layouts/Layout-May.astro";

import Mariner from "../assets/mariner-splash.png";
---

<LayoutMay title="Erika Wang">
  <br />
  <br />
  <img src="path4.svg" class="landing-image fade-in" />
  <!-- <h3>Hello!</h3> -->
  <h3 class="slide-in" style="max-width: 100%;">
    <h3 class="slide-in" style="max-width: 100%;">
      Hello there! Erika is a <strong>product designer</strong> and a <strong>perpetual hunter of good questions</strong>.
      <!-- Hi! I'm a product designer based in Vancouver, with experience in brand
    strategy, UX research, and interface design. -->
      <!-- A Vancouver-based designer with an interest in brand strategy, UX research,
    and experience design.
     -->

      Previously a <strong>UX/UI designer</strong> at <a
        href="https://www.excelar.ca/">Excelar Technologies</a
      >.
      <strong>Scroll down</strong> and check out some of my work!
    </h3>

    <hr />

    <div class="grid-twocolumn">
      <div class="project">
        <a href="/carriersthatcare">
          <img style="width: 100%;" src="Ctc.png" class="project-img" />
          <img
            style="width: 100%;"
            src="Ctc-hover.png"
            class="project-img project-hover"
          />

          <h3 style="margin: 0; padding: 0;">Canada Post</h3>
          <h4 style="margin: 0; padding: 0;">
            Rethinking postal service for rural seniors
          </h4>
        </a>
      </div>

      <div class="project">
        <a href="/fuorisalone">
          <img style="width: 100%;
      object-fit: fill;" src="FS.png" />
          <img
            style="width: 100%;"
            src="FS-hover.png"
            class="project-img project-hover"
          />

          <h3 style="margin: 0; padding: 0;">Milan Design Week</h3>
          <h4 style="margin: 0; padding: 0;">
            An event website to explore the districts of Milan
          </h4>
        </a>
      </div>

      <div class="project">
        <a href="/careflow">
          <img style="width: 100%;" src="Careflow.png" />
          <img
            style="width: 100%;"
            src="Careflow-hover.png"
            class="project-img project-hover"
          />

          <h3 style="margin: 0; padding: 0;">Careflow</h3>
          <h4 style="margin: 0; padding: 0;">
            UX/UI design for clincial platform
          </h4>
        </a>
      </div>
    </div>
    <!-- <br />
  <br />
  <br />
  <br />
  <br />
  <br /> -->
    <!-- <a class="project" href="/sc-focus">
    <img
      style="border:none; width: 100%; margin-left: 0; padding: 0;"
      src="https://res.cloudinary.com/dbiwj2oo8/image/upload/v1642281828/Slide_16_9_-_10_xoxmpo.png"
    />
    <h2 style="margin: 0; padding: 0;">SoundCloud: Focus feature</h2>
    <h3 style="margin: 0; padding: 0;">UI Design</h3>
  </a> -->
  </h3>
</LayoutMay>
