---
import LayoutProject from "../layouts/LayoutProject.astro";
import rocket from "../assets/images/rocket.svg";
import LayoutMay from "../layouts/Layout-May.astro";

import Mariner from "../assets/mariner-splash.png";
import Card from "../components/Card.astro";
---

<LayoutMay title="Erika Wang">
  <h1>
      A Vancouver-based designer with an interest in
    </span>brand strategy, UX research,<span class="grey"> and </span> experience
    design.
  </h1>

  <div>
    <h2>
      Previously at <a href="https://www.excelar.ca/">Excelar Technologies</a>
    </h2>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <a href="/carriersthatcare">
      <img
        style="border:none; width: 100%; margin-left: 0; padding: 1% 0;"
        src="https://res.cloudinary.com/dbiwj2oo8/image/upload/v1711568893/Frame_150_bjwqok.png"
      />
      <div class="grid-twocolumn">
        <h2>Canada Post</h2>
        <p>Service Design, Experience Design, Interface Design</p>
      </div>
    </a>

    <a href="/sc-focus">
      <img
        style="border:none; width: 100%; margin-left: 0; padding: 1% 0;"
        src="https://res.cloudinary.com/dbiwj2oo8/image/upload/v1642281828/Slide_16_9_-_10_xoxmpo.png"
      />
      <div class="grid-twocolumn">
        <h2>SoundCloud: Focus feature</h2>
        <p>Interface Design</p>
      </div>
    </a>

    <a href="/fuorisalone">
      <img
        style="border:none; width: 100%; margin-left: 0; padding: 1% 0;"
        src="/Frame 424.png"
      />
      <div class="grid-twocolumn">
        <h2>Fuori Salone: Pre-event microsite</h2>
        <!-- <h2 class="blue">Fuori Salone</h2> -->

        <p>Brand Strategy, Content Design, Interaction Design</p>
      </div>
    </a>
  </div>
</LayoutMay>
