---
import LayoutProject from "../layouts/LayoutProject.astro";
import rocket from "../assets/images/rocket.svg";
import LayoutMay from "../layouts/Layout-May.astro";

import Mariner from "../assets/mariner-splash.png";
---

<LayoutMay title="Erika Wang">
  <br />
  <br />
  <br /><br />

  <!-- <h3>Hello!</h3> -->
  <h3 class="slide-in" style="max-width: 100%;">
    <h3>Welcome!</h3>
    <h3 class="slide-in" style="max-width: 100%;">
      Erika is a <strong>UX designer</strong> and a <strong
        >perpetual hunter of good questions</strong
      >. She finds joy in finding solutions that foster communities and
      connections.
      <!-- Hi! I'm a product designer based in Vancouver, with experience in brand
    strategy, UX research, and interface design. -->
      <!-- A Vancouver-based designer with an interest in brand strategy, UX research,
    and experience design.
     -->

      <!-- Previously a <strong>UX/UI designer</strong> at <a
        href="https://www.excelar.ca/">Excelar Technologies</a
      >. -->
      <br /><br />
    </h3>
    <hr />
    <h4>Selected works</h4>
    <div class="grid-twocolumn">
      <div class="project">
        <a href="/carriersthatcare">
          <img style="width: 100%;" src="Ctc.png" class="project-img" />
          <img
            style="width: 100%;"
            src="Ctc-hover.png"
            class="project-img project-hover"
          />
          <h4 style="margin: 1% 0; padding: 0; opacity: 60%;">Canada Post</h4>

          <h3 style="margin: 0; padding: 0;">
            Keeping rural seniors connected through a door-to-door check-in
            service
          </h3>
        </a>
      </div>

      <div class="project">
        <a href="/fuorisalone">
          <img style="width: 100%;
      object-fit: fill;" src="FS.png" />
          <img
            style="width: 100%;"
            src="FS-hover.png"
            class="project-img project-hover"
          />

          <h4 style="margin: 1% 0; padding: 0; opacity: 60%;">Fuori Salone</h4>
          <h3 style="margin: 0; padding: 0;">
            An adventure-based web experience to promote design exhibitions in
            Milan
          </h3>
        </a>
      </div>

      <div class="project">
        <a href="/LOTR">
          <img style="width: 100%;" src="LOTR.png" />
          <img
            style="width: 100%;"
            src="LOTR-1.png"
            class="project-img project-hover"
          />

          <h4 style="margin: 1% 0; padding: 0; opacity: 60%;">
            Legacy of the Rift
          </h4>
          <h3 style="margin: 0; padding: 0;">
            Enhancing sense of reward in a Unity game through UX design
          </h3>
        </a>
      </div>

      <div class="project">
        <a href="/careflow">
          <img style="width: 100%;" src="Careflow.png" />
          <img
            style="width: 100%;"
            src="Careflow-hover.png"
            class="project-img project-hover"
          />

          <h4 style="margin: 1% 0; padding: 0; opacity: 60%;">Careflow</h4>
          <h3 style="margin: 0; padding: 0;">
            Designing a smooth process for checking in on clinical data
          </h3>
        </a>
      </div>
    </div>
    <!-- <br />
  <br />
  <br />
  <br />
  <br />
  <br /> -->
    <!-- <a class="project" href="/sc-focus">
    <img
      style="border:none; width: 100%; margin-left: 0; padding: 0;"
      src="https://res.cloudinary.com/dbiwj2oo8/image/upload/v1642281828/Slide_16_9_-_10_xoxmpo.png"
    />
    <h2 style="margin: 0; padding: 0;">SoundCloud: Focus feature</h2>
    <h3 style="margin: 0; padding: 0;">UI Design</h3>
  </a> -->
  </h3>
  <!-- <hr /> -->
  <!-- <img src="path4.svg" style="width: 80%;" class="landing-image fade-in" /> -->
</LayoutMay>
