---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<main>
	<div class="flex-container">
	
		<div>
		<h1>Erika Wang</h1>
		<h2>Design student at Simon Fraser University</h2>

		<div class="projects">
			<a href="careflow">Careflow</a>
			<a href="chatnels">Chatnels</a>
			<a href="mariner">Mariner Brewing</a>
			<a href="sc-focus">SoundCloud Focus</a>
		</div>
		<h2><a href="/about">About me</a></h2>
	</div>

	<div>
		<img src="https://pbs.twimg.com/media/F0dac7iaMAAdbM8?format=jpg&name=medium">
	</div>
</div>
</main>
</Layout>

<style>
	.projects{
		display: flex;
  		flex-wrap: wrap;
  		justify-content: space-between;
  		align-items: center;
		margin: 5% 0;
	}
	.projects > a{
		font-size: 1.8rem;
		font-weight: 400;
		text-decoration: none;
		line-height: 1.4;
		margin: 0.5rem 0;
		color: #C32828;
		opacity: 0.8;
		width: 100%;
	}
	.projects > a:hover{
		font-weight: 800;
	}
	.flex-container{
		display: flex;
		align-items: center;
		justify-content: center;
		height: 75vh;
		gap: 0rem;
	}	
	main {
		margin: auto;
		padding: 0rem;
		max-width: 110ch;
	}
	h1 {
		font-size: 1.5rem;
		font-weight: 800;
		margin: 0.5rem 0;
		line-height: 150%;
	}
	h2{
		font-size: 1.5rem;
		font-weight: 250;
		margin: 0;
		line-height: 150%;
	}
	/* .link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	} */
</style>
