---
import LayoutProject from "../layouts/LayoutProject.astro";
import rocket from "../assets/images/rocket.svg";
import LayoutMay from "../layouts/Layout-May.astro";

import Mariner from "../assets/mariner-splash.png";
import Card from "../components/Card.astro";
---

<LayoutMay title="Erika Wang">
  <br />
  <br />
  <!-- <img src="path4.svg" style="width: 60%;" /> -->

  <h1>
    A product designer & illustrator who loves community and adventure
    <!-- Hi! I'm a product designer based in Vancouver, with experience in brand
    strategy, UX research, and interface design. -->
    <!-- A Vancouver-based designer with an interest in brand strategy, UX research,
    and experience design.
     -->
  </h1>

  <h3>
    Previously a UX/UI designer at <a href="https://www.excelar.ca/"
      >Excelar Technologies</a
    >.
  </h3>

  <br />
  <br />
  <br />

  <h3>Projects</h3>
  <br />

  <a class="project" href="/carriersthatcare">
    <img
      style="border:none; width: 100%; margin-left: 0; padding: 0;"
      src="Frame 445.png"
    />

    <h2 style="margin: 0; padding: 0;">Canada Post: Carriers that Care</h2>
    <h3 style="margin: 0; padding: 0;">
      Redefining postal service for rural seniors
    </h3>
  </a>

  <br />
  <br />
  <br />
  <br />
  <br />
  <br />

  <a class="project" href="/fuorisalone">
    <img
      style="border:none; width: 100%; margin-left: 0; padding: 0;"
      src="/Frame 443.png"
    />

    <h2 style="margin: 0; padding: 0;">Milan Design Week: Fuori Salone</h2>
    <h3 style="margin: 0; padding: 0;">
      An event website to explore the districts of Milan
    </h3>
  </a>

  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <a class="project" href="/careflow">
    <img
      style="border:none; width: 100%; margin-left: 0; padding: 0;"
      src="/Frame 439.png"
    />
    <h2 style="margin: 0; padding: 0;">Careflow</h2>
    <h3 style="margin: 0; padding: 0;">
      UX/UI design for AI-driven clincial platform
    </h3>
  </a>
  <!-- <br />
  <br />
  <br />
  <br />
  <br />
  <br /> -->
  <!-- <a class="project" href="/sc-focus">
    <img
      style="border:none; width: 100%; margin-left: 0; padding: 0;"
      src="https://res.cloudinary.com/dbiwj2oo8/image/upload/v1642281828/Slide_16_9_-_10_xoxmpo.png"
    />
    <h2 style="margin: 0; padding: 0;">SoundCloud: Focus feature</h2>
    <h3 style="margin: 0; padding: 0;">UI Design</h3>
  </a> -->

  <br />
  <br />
  <br />
  <br />
  <br />
</LayoutMay>
