---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Project 1.">
	<main>
		<h1>BEER EXPLORATION LOG</h1>
		
		<h2>Context</h2>
			<p>
				A journal that encourages customers of Mariner Brewing Company
				to explore and provide feedback on the brewery's vast collection of unique beer flavours.
	<!--                The Exploration Log was the product of a semester-long project in a senior-level user research methods course.-->
	<!--                With the supervision of Mariner Brewing Company, a craft brewery located in-->
	<!--                Coquitlam, British Columbia, my teammates and I designed the Log as a way to encourage customers to-->
	<!--                explore as much of Mariner's beer offerings as they could while the brewery could obtain feedback-->
	<!--                from beer drinkers at the same time.-->
			</p>
			<p>Duration: 3 months</p>
			<p>Tools: Figma, Zoom, Miro, Adobe Illustrator, Procreate</p>
			<p>Team: Ben Kwok, Bryan To, Catelyn Sue</p>
			<p>Roles: User interviews, participatory workshop facilitation, <br>user journey mapping, storyboarding, illustration, slide deck design</p>
		<hr>
	
		<h2>Opportunities</h2>
			<p>Mariner Brewing Company is a brewery that is deeply connected to their values of community, quality, and respect, and most importantly, their
				drive to <strong>explore territory unknown</strong>.
				The business is especially proud of their <strong>exploratory batches,</strong> where every week, they would release
				a new flavour of beer for a limited time.<br>
				This is why at the beginning of the project, our team's goal was <strong>to design an
				intervention that would highlight this quality of the business.</strong></p>
			<img src="https://res.cloudinary.com/dbiwj2oo8/image/upload/v1642917760/Who_is_Mariner__zrv904.png">
			<p>To first figure out who our target demographic would be, I conducted ethnographic research with my team,
				which included Zoom interviews with Mariner's marketing manager,
				an online survey which gained us over 50 responses, and calls with two of the survey respondents. <br><br>
				The research yielded two possible design focuses: target audience reach, or product marketing.
				My team and I decided it would be most efficient to synthesize these two topics into one design focus -
				<strong>strengthening Mariner Brewing's brand identity and presence</strong>,
				in order to diversify and attract more customers.
			</p>
			<img src="https://res.cloudinary.com/dbiwj2oo8/image/upload/v1642836005/mariner_brewing-thematicanalysis_ca1lsl.png">
			<p class="caption-text"><small>A summary of the two key issues we discovered from interviews and surveys.</small></p>
			<img src="https://res.cloudinary.com/dbiwj2oo8/image/upload/v1642836473/mariner_brewing-designfocus_dcirhj.png">
			<p class="caption-text"><small>Our initial design focus based on the two issues.</small></p>

			<h2>
				User Personas
			</h2>
				<p>
					Also based upon the interviews, Mariner's customers
					were sorted into three segments - <strong>those new to beer, beer enthusiasts, and social beer drinkers</strong>
					- and user personas were created to represent each of them. With our personas in mind,
					our team created journey maps to identify where we would be able to encourage beer drinkers to better get to know
					Mariner's beer offerings. <br><br>
					There are two maps; one to represent the experience in Mariner's
					<strong>taproom</strong> and the other to represent the Mariner experience at <strong>liquor stores</strong>. The split up of the two experiences was done
					to reflect the brewery's interest in expanding their operations from outside the taproom to have a stronger presence at liquor stores.
				</p>
				<div>
					<img src="https://res.cloudinary.com/dbiwj2oo8/image/upload/v1642839816/Persona_4_giuifb.png">
					<img src="https://res.cloudinary.com/dbiwj2oo8/image/upload/v1642839816/Persona_12_ptuchg.png">
					<img src="https://res.cloudinary.com/dbiwj2oo8/image/upload/v1642839817/Persona_13_fnpsws.png">
				</div>
				<p><small>User personas to represent the three customer segments of Mariner.</small></p>
	
				<div>
					<img src="https://res.cloudinary.com/dbiwj2oo8/image/upload/v1642843023/Tasting_Room_Experience_1_qd6q82.png">
					<p class="caption-text"><small>The first user journey map, representing in-store drinking experiences.</small></p>
	
					<img src="https://res.cloudinary.com/dbiwj2oo8/image/upload/v1642843022/Liquor_Store_Experience_1_e1kijc.png">
					<p class="caption-text"><small>The second user journey map, representing how Mariner is experienced at liquor stores.</small></p>
	
				</div>

			<h2 class="center-headers">
				Workshops
			</h2>
			<div>
				<p>
	<!--                With our personas and journey maps, the who and what we should design for were now clear to us, however, there was still a need to-->
	<!--                gather information as to how we could design an intervention that would reflect Mariner's emphasis on exploration.-->
					To better understand how we could utilize our findings so far to create a design intervention that appeals to our personas,
					we conducted participatory workshops via Zoom and Miro.
					Workshop activities included an idea sprint, visual collaging, question & answer, and keyword brainstorming.
					While we were able to reach out to both consumers and brewery staff, due to time constraints, we opted to have some of the
					staff members answer a survey for us instead as some were too busy to workshop for us.
				</p>
				<img src="https://res.cloudinary.com/dbiwj2oo8/image/upload/v1642890918/Consumer_Report_dseq6w.png">
				<p class="caption-text"><small>A report on the number of participants that attended our workshops.</small></p>
			</div>
			<h2 class="center-headers">
			   Findings
			</h2>
			<div>
				<p>
					Following the workshops, we decided to refine our design focus even further so that it better reflected the
					outcomes of our workshop: while we still largely aimed to strengthen Mariner's brand identity, a more specific focus that
					reflected this goal was for us to <strong>create a way to inform customers about Mariner's extensive beer options.</strong>
				</p>
				<img src="https://res.cloudinary.com/dbiwj2oo8/image/upload/v1642843803/Outcome_jtgu1v.png">
				<p class="caption-text"><small>The summary of our key takeaways from our workshop sessions.</small></p>	
			</div>
			<h2 class="center-headers">
				Exploration log
			</h2>
			<div>
				<p>
				 With our renewed focus, as well as Mariner Brewing's emphasis on community and exploration in mind, we finally designed our design solution:
					the Beer Exploration Log. Each page in the log contains a section for customers to record their thoughts as well as collect rewards for each
					time they collect a new beer.
				</p>
				<p>
					Keeping Mariner Brewing's core values - community, quality, respect, and exploration - in mind, the Exploration Log
					was made as a physical product to have the customers hold a <strong>deeper connection with what the business stands for.</strong> <br>
					Furthermore, many of Mariner's customers are from an <strong>older generation who did not grow up using digital mediums</strong> such as mobile apps,
					so a log makes our solution <strong>accessible to a wide range of age groups</strong> by preventing frustrations that may result from technical difficulties.
				</p>
	
				<img src="https://res.cloudinary.com/dbiwj2oo8/image/upload/v1642844495/Idea_cngfyi.png">
				<img src="https://res.cloudinary.com/dbiwj2oo8/image/upload/v1642847484/notebook-mockup-v2-1-filled_optimized_1_btg4wg.png">
				<p class="caption-text"><small>A mockup showing the final Exploration log.</small></p>
	
				<div class="image-row">
					<img src="https://res.cloudinary.com/dbiwj2oo8/image/upload/v1642892978/Mariner_Exploration_Log_White12_2_av2hdp.png">
					<img src="https://res.cloudinary.com/dbiwj2oo8/image/upload/c_scale,w_1240/v1642893206/Group_90_lklady.png">
					</div>
				<p class="caption-text"><small>Examples of pages for the customer to fill out.</small></p>
	
				<img src="https://res.cloudinary.com/dbiwj2oo8/image/upload/v1642893790/Beer_Journal_Storyboard_lkziuq.png">
				<p class="caption-text"><small>An overview of the storyboard that accompanied the mockups.</small></p>
	
			</div>
	
				<h2 class="center-headers">Scenario</h2>
	
				<p><strong>STEP ONE - DISCOVERY</strong><br><br>Upon entering the taproom, brewery customers will be introduced to the exploration log upon staff suggestion.
				The log is designed to pique customer interest through promises of rewards, such as discounts.</p>
				<img src="https://res.cloudinary.com/dbiwj2oo8/image/upload/v1642895352/Mariner_Intro_rdcj8e.png">
	
				<p><strong>STEP TWO - USAGE</strong><br><br>After the customer enjoys their drink, they will have an opportunity to write any thoughts or feelings they had about it. This can be as simple as giving it a
				rating out of 5. The customer can then present their feedback at the register to receive a sticker for their entry; after enough stickers have been collected,
				the customer will be then able to redeem rewards.</p>
				<img src="https://res.cloudinary.com/dbiwj2oo8/image/upload/v1642895352/Mariner_Intro-2_rl9cch.png">
	
				<p><strong>STEP THREE - RETENTION</strong>
					<br><br>The log also aims to serve as a piece of feedback for the customers as after several uses, they would have a personalized list of beers where they can see
					their preferences, allowing them to more confidently order beers from Mariner.</p>
				<img src="https://res.cloudinary.com/dbiwj2oo8/image/upload/v1642895352/Mariner_Intro-1_nmogcv.png">
			<h2 class="center-headers">
				Reflection
			</h2>
				<p>
					With this project being the first time I'd ever worked as a designer with a real-life business, as well as going through an extensive research process
					in order to create a product, it was an eye-opening opportunity where I was able to learn how vital qualitative research is and how much it
					influences the outcome of a project.
				</p>
	</main>
	<a href="/" class="back">Back to home</a>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 80ch;
	}
	h1 {
		font-size: 2rem;
		font-weight: 800;
		margin: 0;
	}
	h2{
		font-weight: 250;
		margin: 0;
		line-height: 150%;
		margin-bottom: 2%;
	}
	h3, p{
		color: #333;
		line-height: 1.55;
		letter-spacing: -0.005em;
	}
	.back{
		position: sticky;
		bottom: 5%;
		left: 2%;
	}
</style>
