---
import Layout from "../layouts/Layout.astro";
import LayoutProject from "../layouts/LayoutProject.astro";
import Card from "../components/Card.astro";
---

<LayoutProject title="Mariner">
  <a class="backbutton" href="/">🡐Back</a>

  <br />

  <h1>Mariner Brewing: Beer Log</h1>

  <img
    src="https://res.cloudinary.com/dbiwj2oo8/image/upload/v1643618381/Slide_16_9_-_21_p1xgqo.png"
  />

  <!-- <hr /> -->
  <h2 style="padding-top:3%;">Overview</h2>
  <p>
    Mariner Brewing Company is a craft brewery in Coquitlam, B.C., deeply
    connected to their values of community, quality, and their drive to explore
    territory unknown. The beer journal was made to highlight their <strong
      >exploratory batches</strong
    >
     program, where every week, they would release a new flavour of beer for a
    limited time.<br />
  </p>

  <div class="grid-fourcol">
    <div>
      <p><span style="color: #c13145;">Duration</span></p>
      <p>Jan 2021 - Mar 2021</p>
    </div>

    <div>
      <p><span style="color: #c13145;">Team</span></p>
      <p>
        Ben Kwok<br />Bryan To<br />Catelyn Sue
      </p>
    </div>
    <div>
      <p><span style="color: #c13145;">Roles</span></p>
      <p>
        Product design<br />User interviews<br />User scenario storyboarding<br />Illustration
      </p>
    </div>
  </div>
<hr>
  <br />
  <h2>1. Opportunity</h2>
  <p>
    To get a better understanding of Mariner's demographics, employees of the
    store helped us in segmenting Mariner's customers into three groups - <strong
      >those new to beer, beer enthusiasts, and social beer drinkers</strong
    >. With our personas in mind, our team also created a customer journey map
    outlining the taproom experience to identify where we would be able to
    encourage beer drinkers to better get to know Mariner's beer offerings. <br
    /><br />
  </p>
  <div class="grid-threecol">
    <img
      src="https://res.cloudinary.com/dbiwj2oo8/image/upload/v1642839816/Persona_4_giuifb.png"
    />
    <img
      src="https://res.cloudinary.com/dbiwj2oo8/image/upload/v1642839816/Persona_12_ptuchg.png"
    />
    <img
      src="https://res.cloudinary.com/dbiwj2oo8/image/upload/v1642839817/Persona_13_fnpsws.png"
    />
  </div>
  <p>
    <small
      >User personas to represent the three customer segments of Mariner.</small
    >
  </p>

  <img
    src="https://res.cloudinary.com/dbiwj2oo8/image/upload/v1642843023/Tasting_Room_Experience_1_qd6q82.png"
  />
  <p>
    <small
      >The first user journey map, representing in-store drinking experiences.</small
    >
  </p>

  <h2>2. Workshops</h2>
  <div>
    <p>
      To supplement the information we had gained from brewery employees, our
      team conducted participatory workshops via Zoom and Miro. Workshop
      activities included:
      <ul>
        <li>Idea sprint</li>
        <li>Visual collaging</li>
        <li>Question & answer</li>
        <li>Keyword brainstorming</li>
      </ul>
    </p>

    <img
      src="https://res.cloudinary.com/dbiwj2oo8/image/upload/v1642890918/Consumer_Report_dseq6w.png"
    />
    <p class="caption-text">
      <small
        >A report on the number of participants that attended our workshops.</small
      >
    </p>
  </div>
  <p>
    Key insights gained from these workshops and surveys included:
    <ol>
      <li>
        Amongst customers, there was a <strong
          >lack of awareness and information</strong
        > from Mariner about their changing beer lineups.
      </li>
      <li>
        Community events would effectively allow customers to engage with the
        Mariner brand.
      </li>
      <li>
        Lack of availability and consistency made it difficult for customers to
        find certain beers.
      </li>
    </ol>
  </p>
  <hr />
  <h2>Final outcome - The Beer Journal</h2>

  <p>
    Mariner's Beer Journal is a new space for customers to keep their thoughts
    about brews that are new to them. Each page has a carbon page attached,
    which customers can submit to the brewery in exchange for a sticker. After
    collecting a certain amount of stickers, they will be able to redeem rewards
    such as gift cards or discounts.
  </p>
  <img
    src="https://res.cloudinary.com/dbiwj2oo8/image/upload/v1642847484/notebook-mockup-v2-1-filled_optimized_1_btg4wg.png"
  />
  <h2>Usage</h2>
  <p>
    Each page in the beer journal is divided into the following sections. To
    ensure that filling out the pages would not be overwhelming for the
    customer, we made sure that they would not be required to answer more
    questions than necessary.
  </p>
  <ul class="grid-threecol" style="padding: 0 8%; margin-bottom: 4%;">
    <li>Name of Beer</li>
    <li>Would drink again?</li>
    <li>Rating out of 5</li>
    <li>Tasting notes</li>
    <li>Date</li>
  </ul>
  <div class="grid-twocol-even">
    <img
      src="https://res.cloudinary.com/dbiwj2oo8/image/upload/v1642892978/Mariner_Exploration_Log_White12_2_av2hdp.png"
    />
    <img
      src="https://res.cloudinary.com/dbiwj2oo8/image/upload/c_scale,w_1240/v1642893206/Group_90_lklady.png"
    />
  </div>
  <p>
    <small>Examples of pages for the customer to fill out.</small>
  </p>
  <p>
    The goal of the journal is to create a new way for Mariner Brewing to gather
    customer feedback, as well as promote their consistenly rotating selection
    of new brews in a fashion that leans into their brand's core values -
    exploration and discovery.
  </p>
  <p>
    For the customer, beyond the promise of rewards, the journal allows for them
    to look back on their tastes in beer. Another important aspect is the
    ability for customer to write their thoughts by hand - by emulating an
    experience similar to an explorer writing in his travel journal, the journal
    helps create a unique connection between the customer and their beer; not to
    mention that hand-writing is proven to improve memory retention.
  </p>
  <hr />
  <h2>Reflection</h2>
  <p>
    Personally, the biggest challenge in this project was framing the problem in
    order to guide our solution. <br />
     As the amount of data we collected diversified, I found that it became
    increasingly difficult to balance all of our information to help ideate a
    solution that would help satisfy the customer's needs while staying within
    the business' interests.
    <br />
     Overall, this project was an eye-opening opportunity where I was able to
    learn how vital qualitative research is and the ways in which it influences
    the outcome of a project.
  </p>
  <hr />
  <a href="/" class="prototype"><strong>Back to home</strong></a>
</LayoutProject>
