---
import Layout from "../layouts/Layout.astro";
import LayoutProject from "../layouts/LayoutProject.astro";
---

<LayoutProject title="Sc-focus">
  <!-- <div class="grid-twocol"> -->

  <h1>SoundCloud Focus</h1>
  <img
    src="https://res.cloudinary.com/dbiwj2oo8/image/upload/v1642281828/Slide_16_9_-_10_xoxmpo.png"
  />
  <h2 style="padding-top:3%;">Overview</h2>
  <p>
    A "focus timer" feature for SoundCloud's mobile application, designed and
    prototyped as part of a senior-level interaction design course.
  </p>

  <div class="grid-twocol details" style="padding: 0 4% 4%;">
    <p><span style="
    color:
    #c13145;"> Duration /</span> 3 weeks</p>
    <p><span style="color: #c13145;">Tools /</span> Figma, ProtoPie</p>
    <h3>
      <a
        href="https://cloud.protopie.io/p/53c6e47a10"
        target="_blank"
        rel="noopener noreferrer"
        class="prototype">View prototype</a
      >
    </h3>
  </div>
  <hr />

  <h2>Research</h2>
  <p>
    In order to understand and analyze the ways SoundCloud was used, I conducted
    interviews over Zoom and Discord with target demographics to discover key
    information I was looking for.
    <br />Details of the interviews were as follows:
    <ul>
      Interviewee criteria - Those who have previous experience in using
      SoundCloud's mobile app<br /><br />

       Research objectives:
      <li>To uncover primary usage of the app</li>
      <li>To learn about types of activities conducted on the app</li>
      <li>
        Finding design opportunities based on activities conducted leading up to
        the usage of the app
      </li>
    </ul>
  </p>

  <img
    src="https://res.cloudinary.com/dbiwj2oo8/image/upload/v1642579525/Frame_4_hf5lfm.png"
  />
  <!-- <img
    src="https://res.cloudinary.com/dbiwj2oo8/image/upload/v1642579525/Slide_16_9_-_1_zhhxim.png"
  /> -->
  <p>
    <small>A summary of key insights from interviews.</small>
  </p>
  <p>
    Through this process, I learned that a primary use case amongst my
    interviewees included listening to <strong>instrumental soundtracks</strong>
     while they conducted their day-to-day tasks such as studying or doing their
    chores. Their issue with this was that while they open SoundCloud when they
    intend to be productive, they may
    <strong
      >unintentionally leave the app when they get distracted from their task.</strong
    >, at which point the music stops playing. This lead to my problem
    statement:
  </p>
  <p>
    <h2 class="sansserif">
      How might we minimize the chances of users unintentionally stopping their
      music?
    </h2>
  </p>
  <!-- <img
    src="https://res.cloudinary.com/dbiwj2oo8/image/upload/v1642579525/Frame_4_hf5lfm.png"
  />
  <p>
    <small
      >A user persona based upon issues and goals discovered during interviews.</small
    >
  </p> -->
  <hr />

  <h2>Pitch</h2>
  <p>
    Seeing that outside distractions seemed to be the leading obstacle in user
    retention, I decided a fun way to prevent this issue was by proposing a <strong
      >focus timer</strong
    > feature. This would work so that users are able to combine one of their
    pre-existing playlists with a count-down timer so that they are
    <strong
      >encouraged to retain their focus for a set amount of time, therefore
      minimizing their likelihood of leaving the app</strong
    > due to distractions.
  </p>
  <img
    src="https://res.cloudinary.com/dbiwj2oo8/image/upload/v1642579525/Frame_5_vcqqum.png"
  />
  <p>
    <small
      >Titled "focus mode", made to address the problems felt by the user
      persona.</small
    >
  </p>

  <h2>Prototype</h2>

  <p>
    I created three rounds of wireframes for the focus timer in the span of one
    week, from low fidelity to high. Throughout the process, I was able to get
    feedback from my peers as to what parts of the interaction were unclear to
    them, which helped in identifying interactions I should focus on iterating
    upon.
  </p>
  <!-- <img
    style="width: 80%;"
    src="https://res.cloudinary.com/dbiwj2oo8/image/upload/v1641170964/IMG_20211215_120415_1_jlwsv9.jpg"
  />
  <p>
    <small>First round of wireframes, done on paper with pencil.</small>
  </p> -->

  <img
    style="border: none; width: 75%;"
    src="https://res.cloudinary.com/dbiwj2oo8/image/upload/v1641174861/Group_39_glsqdr.png"
  />
  <p>
    <small>Mid-fidelity wireframes showing the primary user flow.</small>
  </p>

  <!-- <img
    style="border: none; width: 90%;"
    src="https://res.cloudinary.com/dbiwj2oo8/image/upload/v1641175294/Group_43_pcllyr.png"
  />
  <p>
    <small
      >High-fidelity wireframes used as a base for the final prototype.</small
    >
  </p> -->
  <!-- <hr /> -->

  <div style="background-color: #FAFAFA; border: 1px dashed #333;">
    <h2 class="sansserif">Side note: Dissecting the design system</h2>
    <p>
      To ensure that there would not be in gaps between SoundCloud's design
      systems and my prototype, almost every component incorporated was traced
      directly from the exisitng SoundCloud app. Below are a few examples:
    </p>

    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img
            style="border: none; width: 80%;"
            src="https://res.cloudinary.com/dbiwj2oo8/image/upload/v1642797324/Group_58_rxylax.png"
          />
          <p>
            <small
              >The song info + Exit overlay. Elements referenced from user
              library screen as well as the app's original song info screen.</small
            >
          </p>
        </div>
        <div class="swiper-slide">
          <img
            style="border: none; width: 80%;"
            src="https://res.cloudinary.com/dbiwj2oo8/image/upload/v1650569618/Group_61_1_wipdnx.png"
          />
          <p>
            <small
              >The feature home page, with multiple elements referenced from the
              user library screen.</small
            >
          </p>
        </div>

        <div class="swiper-slide">
          <img
            style="border: none; width: 80%;"
            src="https://res.cloudinary.com/dbiwj2oo8/image/upload/v1642797167/Group_59_aazalp.png"
          />
          <p>
            <small
              >The activity + duration selection screen, with elements
              referenced from playlist information screens.</small
            >
          </p>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
  <!-- <hr /> -->

  <h2>Solution: Focus mode</h2>

  <p>
    Listeners will be able to plan a session by picking a playlist and setting
    their timer. They can also choose to log additional information such as
    their activities, or be able to revisit a previous session from the menu
    screen to maximize their productivity.
  </p>

  <!-- <h3>Plan your session</h3> -->
  <p>
    Before using the timer, listeners are asked to set a time and a playlist to
    use during the session. Returning users are able to pick from a previously
    planned session, or view their previous activity to guide them in planning a
    new one.
  </p>
  <img
    style="margin-left: 8%; width: auto; border-radius: 30px;"
    src="https://res.cloudinary.com/dbiwj2oo8/image/upload/v1642150944/Start_AdobeCreativeCloudExpress_jzsime.gif"
  />

  <!-- <h3>Focus</h3> -->
  <p>
    To eliminate distractions on their phone, the only controls that are
    available to the listener during focus mode is “shuffle”, “repeat”, or
    “cancel”. Listeners are only able to exit this mode through the exit button
    or by waiting for the timer to reach 0.
  </p>
  <img
    style="margin-left: 8%; width: auto; border-radius: 30px;"
    src="https://res.cloudinary.com/dbiwj2oo8/image/upload/v1642150946/time_AdobeCreativeCloudExpress_uluo3g.gif"
  />

  <!-- <h3>Track your activity</h3> -->
  <p>
    Listeners are able to view their listening activity at the beginning or end
    of each session. To utilize SoundCloud's social features, they will also be
    able to share their sessions with their followers.
  </p>
  <img
    style="margin-left: 8%; width: auto; border-radius: 30px;"
    src="https://res.cloudinary.com/dbiwj2oo8/image/upload/v1642150952/end_AdobeCreativeCloudExpress_sqewvf.gif"
  />

  <h2>Outcome</h2>
  <p>
    This project was important to me in understanding the process behind
    designing new features for a pre-existing service. From identifying user
    bases, to integrating my designs with a pre-existing design system, I feel
    that SoundCloud Focus is an accurate portrayal of my ability to immerse
    myself with any business within a short period of time.
  </p>
  <hr />
  <a href="/" class="prototype"><strong>Back to home</strong></a>

  <style>
    /* h2,
  h4 {
    font-weight: 250;
    margin: 0;
    padding: 0 8%;

    line-height: 150%;
    margin-bottom: 2%;
  }

  ul {
    font-size: 1.2rem;
    padding: 0 8%;
  }

  li {
    margin: 0 6%;
  }
  hr {
    padding: 0 8%;
  }
  h3,
  h4,
  p {
    color: #333;
    line-height: 1.55;
    letter-spacing: -0.005em;
  }
  .grid-threecol {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0.1em;
  }
  .grid-twocol {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0.1em;
  }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    border: 1px solid #222;
  } */
    /* body {
      background: #333;
    } */
  </style>
</LayoutProject>
