---
import Layout from "../layouts/Layout.astro";
import LayoutMay from "../layouts/Layout-May.astro";
---

<img class="img-header" style="margin-left: 17%;" src="/Webflow-banner.png" />

<LayoutMay title="Webflow">
  <br />
  <br />
  <img class="img-header-mobile" src="/Webflow-banner.png" />

  <h1 class="project-title">Webflow</h1>
  <h3 class="categories">Usability study, feature design</h3>

  <hr class="top-hr" />
  <div class="grid-threecol">
    <div>
      <p class="pilcrow">Duration</p>
      <p>June 2023 - July 2023</p>
    </div>

    <div>
      <p class="pilcrow">Team</p>
      <p>
        Paige Heatherington<br />Kayla Canama<br />Daisy Mills<br /> Milana Shubina
      </p>
    </div>
    <div>
      <p class="pilcrow">Roles</p>
      <p>
        Feature design<br />User interviews<br />User research
      </p>
    </div>
  </div>
  <hr class="bottom-hr" />

  <p class="headline">OVERVIEW</p>
  <h2 class="headline-h2"></h2>
  <p>
    As a website building platform, WebFlow is primarily targeted toward
    creative professionals, designers, and agencies. The users of Webflow
    typically have goals such as building professional websites, and launching
    online stores or portfolios. They may have varying levels of experience with
    web design, ranging from beginners with little to no coding knowledge to
    experienced designers who prefer a visual interface for faster prototyping
    and production.
  </p>
  <p>
    For a senior design evaluations course, I conducted usability studies along
    with 4 other teammates, where participants were asked to perform 4 tasks:
    Set up the page, Adjust the type, Adjust the image, and Adjust the button.
    We decided on these as they are the common procedures for any type of
    website building and can be executed by both novice and experienced users.
  </p>

  <!-- <hr />

  <p>
    Our steps: Planning (objectives of the study, identify the tasks to be
    performed, questionnaires) Participant Recruitment (8 participants)
    Pre-Screening Questions (identify the backgrounds of participants) Task
    Performance Post-Test Questions
  </p> -->
  <hr />

  <p class="headline">THE PROBLEM</p>
  <h2 class="headline-h2">Layout manipulation is challenging.</h2>
  <p>
    We tested on 8 users.
    <br /><br />
    5/8 of our participants had experience with website builders.<br />
    3/8 of our participants had coding experience.<br />
    4/8 of our participants had built a website before.
  </p>
  <p>
    Between our user testing participants, we had them perform four tasks that
    pertained the Webflow's core function of getting users to set up a new site
    and adding elements: <br /><br />
    1. Set up the page,<br />
    2. Adjust the type, <br />
    3. Adjust the image, <br />
    4. Adjust the button.
    <br /><br />
    In particular, I was focused on a problem pertaining to #3: Adjusting images.
    <br /><br />
    When instructed to move an image from left to right, users would attempt to drag-and-drop.
    However, most users would struggle to place the image in the desired spot, as
    demonstrated below.
  </p>
  <video width="950" controls autoplay>
    <source src="/Webflow-layout-manipulation.mov" type="video/mp4" />
  </video>
  <br />
  <br />

  <p>
    6/8 of our participants were affected by this issue regardless of skill
    level and experience. Resolution of this issue was divided between either
    failure to complete the task, or recovery by discovering a way to move the
    image that was not drag and drop. As this issue results in possible task
    failure even for intermediate-level users, we believe this should be
    assigned a high severity level.
  </p>
  <img src="/image.png" style="width: 50%;" />
  <p>
    3 interviewees answered that this task was impossible to complete. Overall,
    a majority of people felt like moving images was a somewhat challenging
    task.
  </p>
  <hr />

  <p class="headline">INITIAL FRAMING</p>

  <h2 class="headline-h2">
    "HMW increase the visibility of the navigation panel so that it can
    successfully assist layout manipulation?"
  </h2>

  <h4>Choosing a point of intervention</h4>
  <p>
    Before ideating solutions, I created a flow chart to fully understand where
    an appropriate point of intervention was. This chart was a visualization of
    the common scenario in which users went through when tasked to adjust
    images. The current flow was contrasted with the shortest route to task
    completion, which would be the ideal scenario for us.
  </p>
  <img src="/1. User flows.png" style="width: 90%;" />
  <p>
    After identifying at what point our given tasks were failing, I created a
    similar flowchart again to contrast the typical failure scenario and a
    successful scenario.
    <br /><br />
    With the existing Webflow UI, images typically come wrapped in a "Div" element
    container, which is not visible to novice to intermediate users who are not anticipating
    this sort of setup. Thus, when users opt to drag and drop images, the cursor
    would take the image out of the 'div' container and place it in another, even
    when users mentally intend to grab the whole div container and swap its place.
    <br /><br />
    The less techincal summary of the problem is that because there are multiple
    invisible layers on webflow, users are unable to see what elements they are actually
    selecting when interacting via drag-and-drop.
  </p>
  <img
    src="/2. Replicating a successful task scenario.png"
    style="width: 80%;"
  />
  <p>
    What I noticed was that Webflow already provides a solution to this problem
    - the platform's right panel switches from a general view to a 'layers' view
    when users click on an element. While helpful, this view would only appear
    when users are occupied by their attempt to drag-and-drop, which made it go
    virtually unnoticed during our user testing sessions.
  </p>
  <img src="/3. Navigator analysis.png" style="width: 90%;" />

  <hr />
  <p class="headline">SOLUTION</p>

  <h2 class="headline-h2">
    Creating a 'mini' navigation panel next to mouse pointer
  </h2>
  <img src="/First Direction.png" style="width: 60%;" />
  <p>
    In this solution, we expand upon the pre-existing element labels and add the
    navigation functionality to it. When users hover over elements, they are
    able to see all available layers affecting the particular element they see.
    <br />
    <br />
    <video width="950" controls autoplay>
      <source src="/Webflow-solution.mp4" type="video/mp4" />
    </video>
    <br />
    <br />
    This utilizes a solution that Webflow already has and increases the visibility
    of it, so that it is better integrated into the user's task flow.
  </p>
  <hr />
</LayoutMay>
