---
export interface Props {}
---

<footer>
  <hr />
  <a href="/">Back to Home</a>

  <!-- © Erika Wang 2024 | Built with <a
    style="text-decoration: underline;"
    href="https://astro.build/">Astro</a -->
  
</footer>
