---
export interface Props {
  title: string;
}

const { title } = Astro.props;
// const pathname = new URL(Astro.request.url).pathname;
// const currentPath = pathname.slice(1); // remove the first "/"
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/Star.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>

  <body>
    <Navbar />

    <main>
      <slot />
    </main>
  </body>
</html>
<style is:global>
  @import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Sono:wght@200..800&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");

  @font-face {
    font-family: Accanthis;
    src: url("/MetaAccanthis_regular.ttf") format("ttf");
  }

  @font-face {
    font-family: Healtheweb;
    src: url("/HealTheWebA-Regular.otf") format("opentype");
  }

  @font-face {
    font-family: PPNeueMontrealLight;
    src: url("/PPNeueMontreal-Light.woff2") format("woff2");
  }

  @font-face {
    font-family: PPNeueMontrealBook;
    src: url("/PPNeueMontreal-Book.woff2") format("woff2");
  }
  @font-face {
    font-family: PPRadioGrotesk-Light;
    src: url("/PPRadioGrotesk-Light.woff") format("woff");
  }

  @font-face {
    font-family: PPRadioGrotesk-Regular;
    src: url("/PPRadioGrotesk-Regular.woff") format("woff");
  }

  :root {
    /* --background: #ececec; */
    /* --background: #3d3d3d; */
    --background: #fff;

    --black: #08074c;
    --darkblack: #393371;
    --light-black: #4D5A89;
    --lightest-black: #7A85AE;
    --grey: #d2d2e7;
    --white: #ffffff;
    --blue: #0007ce;
  }

  html {
    /* font-family: Public Sans; */
    /* font-family: "Crimson Pro"; */
    font-family: "PPRadioGrotesk-Regular";
    /* font-family: "Palanquin", sans-serif; */
    /* font-family: "Noto Serif", serif; */
    background-color: var(--background);
    color: var(--black);
  }
  main {
    margin-left: 25%;
    padding-right: 5%;
  }

  body {
    margin: 0;
  }

  footer a {
    padding: 3% 0;
    text-decoration: none;
    color: var(--black);
  }

  a {
    text-decoration: underline;
    color: var(--black);
    text-decoration-thickness: 4%;
    text-decoration-color: var(--light-black);
  }

  .project>a {
    text-decoration: none;
  }
  .project{
    margin: 2% 0 14% 0;
  }

  h1,
  h2,
  h3 {
    font-family: "PPRadioGrotesk-Light";
    max-width: 100%;
    line-height: 125%;
    letter-spacing: -0.5px;
  }

  p {
    font-size: 1.1rem;
    max-width: 60%;
    line-height: 150%;
    margin: 1% 0 5% 0;
  }

  span.small{
    font-size: smaller;
  }

  h1 {
    font-weight: 250;
    line-height: 105%;
    font-size: 5.5rem;
    letter-spacing: -1px;
    margin: 0;
  }

  .project-titles {
    margin: 2% 0 0 0;
  }

  .categories {
    margin: 1% 0 5%;
    color: var(--light-black);
  }

  .lightblack {
    color: var(--light-black);
  }


  .design-tags {
    padding: 0.3%;
    margin: 1% 1% 1% 0;
    border: 0.5px solid var(--blue);
  }

  h2 {
    color: var(--light-black);
    font-weight: 300;
    font-size: 3.5rem;
    margin: 3% 0 3%;
    line-height: 125%;
    max-width: 95%;
  }

  .stack {
    /* position: sticky; */
    background-color: var(--background);
    padding: 0.1rem 0 0 0;
    margin: 0;
    top: 0;
    border-bottom: 1px solid var(--blue);
    z-index: 999;
    width: 100%;
  }

  h3 {
    color: var(--black);
    font-weight: 350;
    font-size: 2.2rem;
    margin: 2% 0 5%;
  }

  h4 {
    /* font-family: "crimson text"; */
    margin: 3% 0;
    font-weight: 500;
    font-size: 1.6rem;
    color: var(--lightest-black);
    letter-spacing: -0.5px;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0 1%;
    width: 15%;
    position: fixed;
    height: 100%;
    /* background-color: grey; */
    /* background-color: #f6f6fa; */
    border-right: 1px solid var(--grey);
  }

  img {
    display: inline-block;
    width: 85%;
  }

  .img-header {
    width: 100%;
  }

  hr {
    border-top: 0.5px solid var(--grey);
  }

  li a,
  li h3 {
    display: block;
    padding: 0.3rem;
    font-size: 1.1rem;
    text-decoration: none;
  }

  li a.active {
    font-weight: 500;
    /* background-color: blue; */
    color: var(--blue);
  }

  li a:hover:not(.active) {
    text-decoration: var(--blue) underline;
 
  }

  .grid-twocolumn {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: fit-content(20%);
    grid-column-gap: 0.1em;
    align-content: center;
  }

  .grid-twocolumn-right-heavy{
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: fit-content(20%);
    grid-column-gap: 1.3em;
    align-items: center;
    margin: 8% 0 3%;

  }

  .grid-twocolumn-left-heavy{
    display: grid;
    grid-template-columns: 0.7fr 0.7fr;
    grid-template-rows: fit-content(20%);
    grid-column-gap: 1.8em;
    align-items: center;
    margin: 7% 0;
  }

  .flex-twocolumn {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
  }

  .grid-threecol {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0.1em;
  }

  .flex-threecol {
    display: flex;
    align-items: center;
  }

  .blue {
    /* font-family: "Crimson Pro"; */
    line-height: 85%;
    /* max-width: 50%; */
    font-size: 2.4rem;
    font-weight: 250;
    margin: 8% 0 10%;
    letter-spacing: -0.5px;
    /* color: yellow; */
  }

  .bluetext {
    color: var(--blue);
    font-weight: 550;
  }

 .pilcrow{
  color: var(--light-black);
 }

  .callout {
    background-color: var(--blue);
    color: var(--white);
    padding: 5%;
    font-weight: 300;
  }

  .callout-inverted {
    border: 1.5px solid var(--blue);
    color: var(--light-black);
    padding: 5%;
  }

  .screen{
    filter: drop-shadow(0 0 0.65rem crimson);
  }

  .screen2{
    /* filter: drop-shadow(0 0 1rem #FF00B8); */
    filter: drop-shadow(0 0 1rem var(--grey));

    margin: 5% 0;
  }
  .screen3{
    filter: drop-shadow(0 0 1rem var(--grey));
    margin: 5% 0;
  }
  
  .screen4{
    filter: drop-shadow(0 0 1rem #F5F5F5);
    margin: 1% 0;
  }

  .wide {
    font-weight: 500;
    max-width: 100%;
    margin: 0.5%;
  }

  .project-list {
    margin: 10% 0;
  }

  .headline{
    margin: 5% 0 2%; 
    padding: 0;
    font-style: italic;
  }
  
  .headline-h2{
    margin: 1% 0 2.5% 0;
    padding: 0;
  }

  @media only screen and (max-width: 768px) {
    h1 {
      font-size: 2.5rem;
    }
    main {
      margin-left: 0%;
      padding: 2%;
    }
    ul {
      position: static;
      width: 100%;
    }
    h2 {
      font-size: 1.8rem;
      line-height: 113%;
      max-width: 100%;
      margin: 6% 0;
    }
    h3 {
      font-size: 1.4rem;
      margin: 4% 0;
    }
    p {
      max-width: 100%;
      line-height: 125%;
      margin: 9% 0;
    }
    .blue {
      margin: 0;
      max-width: 100%;
    }
    .project-list,
    .about-resume {
      display: none;
    }
    .grid-threecol,
    .grid-twocolumn {
      grid-template-columns: repeat(1, 1fr);
    }
  }
</style>
