---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/Star.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>

  <body>
    <main>
      <slot />
    </main>

    <footer>
      © Erika Wang 2024 | Built with <a
        style="text-decoration: underline;"
        href="https://astro.build/">Astro</a
      >
    </footer>
  </body>

  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
  />
  <script
    is:inline
    src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
  <script is:inline>
    new Swiper(".swiper", {
      centeredSlides: true,
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
    });
  </script>

  <style is:global>
    @import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

    .active {
      color: red;
    }

    html {
      font-family: "Noto Serif", serif;
      background-color: #fafafa;
      color: #000;
    }

    main {
      margin: 5% 9% 0%;
      max-width: 75%;
    }

    .button-alt {
      text-decoration: underline;
      letter-spacing: -0rem;
    }

    .grey {
      color: grey;
    }

    .backbutton {
      position: fixed;
      transform: translateX(-100%);
      padding-right: 3rem;
    }
    .blue {
      color: #0f3aaa;
      font-weight: 400;
      font-size: 1.5rem;
      font-family: "Noto Serif", sans-serif;
    }

    .heavy {
      font-family: "Noto Serif", sans-serif;
      font-weight: 300;
      letter-spacing: -0.05rem;
    }

    .tags {
      font-size: medium;
      /* font-weight: 300; */
    }

    .quote {
      font-family: "Noto Serif", sans-serif;
      font-size: 1rem;
      margin: auto 4%;
      background-color: #e2e2e2;
      color: #000000;
    }

    h1 {
      font-family: "Noto Serif", serif;
      font-size: 2.7rem;
      font-weight: 300;
      letter-spacing: -0.07rem;
      line-height: 115%;
      margin: 0.5rem 0;
      /* animation: text-focus-in 400ms ease-in both; */
    }
    .everything-else {
      /* animation: text-focus-in 400ms ease-in 0.3s both; */
    }

    h2 {
      font-size: 1.6rem;
      letter-spacing: -0.03rem;
      font-weight: 300;
      line-height: 150%;
      margin: 0;
      /* margin-top: 2%;
      margin-bottom: 0; */
    }

    ul,
    ol {
      font-size: 1.3rem;
      padding: 0%;
    }

    li {
      margin: 2% 6%;
    }

    h3 {
      font-family: "Noto Serif", sans-serif;
      font-weight: 400;
      line-height: 1.55;
      letter-spacing: -0.005em;
    }

    .back {
      bottom: 0.2rem;
      left: 1rem;
      background-color: #f6f6f6b3;
    }

    a {
      font-family: "Noto Sans", sans-serif;
      font-weight: 300;
      color: #000;
      text-decoration: none;
    }

    a:hover {
      font-weight: 300;
      text-decoration: underline;
    }

    .wrap-project-inner > a:hover {
      color: #0f3aaa;
      animation: slit-in-vertical 0.45s ease-out both;
    }

    /* .hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: -10%;
  left: 0;
  background-color: #000;
  transform-origin: bottom right;
  transition: transform 0.35s ease;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
} */

    p {
      font-family: "Noto Sans", sans-serif;
      max-width: 100ch;
      color: #505050;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      margin-bottom: 3%;
    }
    video {
      width: 100% !important;
      height: auto !important;
    }

    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      border: 1px solid #222;
    }

    nav {
      position: fixed;
      top: 3%;
      right: 0;
      transform: translateX(-50%);
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      margin: 0;
      padding: 0rem 0.5rem;
      font-size: 1rem;
      z-index: 9;
    }

    nav > ul {
      font-size: 1rem;
      list-style-type: none;
    }

    footer {
      font-size: small;
      font-weight: 100;
      margin: 15% 0 1% 0;
      width: 100%;
      text-align: center;
    }
    .details {
      padding: 1% 2%;
      margin: 2% 0;
    }

    .sansserif {
      font-family: "Noto Sans", sans-serif;
      font-size: 2rem;
    }
    ul,
    ol {
      font-size: 1.2rem;
      margin-bottom: 6%;
    }

    .wrap-project-inner {
      padding: 2% 0;
    }
    .wrap-project-inner > h2,
    h3,
    a {
      margin: 0;
      padding: 0;
    }

    @media only screen and (min-width: 768px) {
      ul,
      ol {
        font-size: 1.3rem;
        padding: 0 8% 1%;
      }

      p {
        font-size: 0.9rem;
        font-weight: 400;
        line-height: 1.7;
        letter-spacing: -0.005em;
      }
      hr {
        margin: 5% 0;
      }
      footer {
        margin: 2% 0 1% 0;
      }
      .grid-fourcol {
        padding: 0 2%;

        display: grid;
        grid-template-columns: 30% 30% 30% 10%;
        grid-template-rows: 1fr;
        grid-column-gap: 0.1em;
      }
      .grid-threecol {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 0.1em;
      }
      .grid-twocol {
        padding: 0 2%;
        display: grid;
        grid-template-columns: 30% 60%;
        grid-template-rows: 1fr;
        grid-column-gap: 0.1em;
      }
      .grid-twocol-even {
        padding: 0 2%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-column-gap: 1em;
      }
      .details {
        padding: 1% 4% 2%;
        margin: 2% 0;
      }
      .prototype {
        margin: 0 2%;
      }
      .sansserif {
        padding: 1% 8% 0;
      }
    }

    swiper-container {
      width: 100%;
      height: 100%;
    }

    swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @-webkit-keyframes slit-in-vertical {
      0% {
        -webkit-transform: translateZ(-800px) rotateY(90deg);
        transform: translateZ(-800px) rotateY(90deg);
        opacity: 0;
      }
      54% {
        -webkit-transform: translateZ(-160px) rotateY(87deg);
        transform: translateZ(-160px) rotateY(87deg);
      }
      100% {
        -webkit-transform: translateZ(0) rotateY(0);
        transform: translateZ(0) rotateY(0);
      }
    }
    @keyframes slit-in-vertical {
      0% {
        -webkit-transform: translateZ(-800px) rotateY(90deg);
        transform: translateZ(-800px) rotateY(90deg);
        opacity: 1;
      }
      54% {
        -webkit-transform: translateZ(-160px) rotateY(87deg);
        transform: translateZ(-160px) rotateY(87deg);
        opacity: 0.7;
      }
      100% {
        -webkit-transform: translateZ(0) rotateY(0);
        transform: translateZ(0) rotateY(0);
        opacity: 0.7;
      }
    }
    .slit-in-vertical {
      -webkit-animation: slit-in-vertical 0.45s ease-out both;
      animation: slit-in-vertical 0.45s ease-out both;
    }

    @-webkit-keyframes text-focus-in {
      0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
      }
      100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
      }
    }
    @keyframes text-focus-in {
      0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
      }
      100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
      }
    }

    .text-focus-in {
      -webkit-animation: text-focus-in 600ms ease-in both;
      animation: text-focus-in 600ms ease-in both;
    }
  </style>

  <script>
    // Get all h1 elements within the body
    const anchorArr = Array.from(document.querySelectorAll("body h2"));
    let anchors = [];
    anchorArr.forEach((anchor) => {
      anchors.push(anchor as HTMLElement);
      console.log(anchor);
    });

    // Add scroll event listener to window
    window.addEventListener("scroll", function () {
      var scrollTop =
        document.documentElement.scrollTop || document.body.scrollTop;

      // Highlight the last scrolled-to: set everything inactive first
      for (var i = 0; i < anchors.length; i++) {
        // console.log(anchors[i])
        const myElement = document.querySelector(
          'nav ul li a[href="#' + anchors[i].getAttribute("id") + '"]'
        );
        // console.log('a[href="#' + anchors[i].getAttribute('id') + '"]');
        myElement.classList.remove("active");
        // document.querySelector('nav ul li a[href="#' + anchors[i].getAttribute('id') + '"]').classList.remove('active');
      }

      // Then iterate backwards, on the first match highlight it and break
      for (var i = anchors.length - 1; i >= 0; i--) {
        if (scrollTop > anchors[i].offsetTop - 75) {
          document
            .querySelector(
              'nav ul li a[href="#' + anchors[i].getAttribute("id") + '"]'
            )
            .classList.add("active");
          break;
        }
      }
    });
  </script>
</html>
