---
export interface Props {
  title: string;
}

const { title } = Astro.props;
// const pathname = new URL(Astro.request.url).pathname;
// const currentPath = pathname.slice(1); // remove the first "/"
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/Star.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>

  <body>
    <Navbar />

    <main style="margin-left:30%; padding-right: 5%;">
      <slot />
    </main>
  </body>
</html>
<style is:global>
  @import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Sono:wght@200..800&display=swap");
  @import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Palanquin:wght@100;200;300;400;500;600;700&display=swap');
  @font-face {
    font-family: Pilcrow;
    src: url("/PilcrowRounded-Medium.woff") format("woff");
  }

  @font-face {
    font-family: Accanthis;
    src: url("/MetaAccanthis_regular.ttf") format("ttf");
  }

  @font-face {
    font-family: Healtheweb;
    src: url("/HealTheWebA-Regular.otf") format("opentype");
  }

  :root {
    --background: #ececec;
    /* --background: #3d3d3d; */

    --black: #1c1c1f;
    --darkblack: black;
    --light-black: #5d5f66;
    --grey: #6c6c6c;
    --white: #ffffff;
    --blue: #0008ff;
  }

  html {
    font-family: "Palanquin", sans-serif;
    /* font-family: "Noto Serif", serif; */
    font-weight: 400;
    background-color: var(--background);
    color: var(--black);
  }

  .headline {
    font-family: "Sono", monospace;
    font-weight: 500;
    line-height: 100%;
  }

  .highlight {
    font-weight: 400;
    color: var(--blue);
  }

  body {
    margin: 0;
  }

  footer a {
    padding: 3% 0;
    text-decoration: none;
    color: var(--black);
  }
  a {
    text-decoration: underline;
    color: var(--black);
    text-decoration-thickness: 4%;
    text-decoration-color: var(--light-black);
  }

  .project{
    text-decoration: none;
  }

  h1,
  h2,
  h3 {
    /* font-family: Healtheweb; */
    font-weight: 100;
    font-family: "Crimson Pro";
    max-width: 95%;
    line-height: 125%;
    letter-spacing: -1px;
  }

  p {
    font-size: 1.1rem;
    letter-spacing: -2%;
    max-width: 75%;
    line-height: 155%;
    margin: 1% 0 3.5% 0;
  }

  h1 {
    font-weight: 250;
    line-height: 110%;
    font-size: 4.5rem;
    letter-spacing: -1px;
    margin: 0;
  }

  .project-titles {
    margin: 3% 0 7% 0;
  }

  .lightblack {
    color: var(--light-black);
  }

  .design-tags {
    padding: 0.3%;
    margin: 1% 1% 1% 0;
    border: 0.5px solid var(--blue);
  }

  h2 {
    /* font-family: Pilcrow; */
    color: var(--light-black);
    font-weight: 300;
    font-size: 3rem;
    margin: 3% 0;
    /* position: sticky; */
  }

  .stack {
    /* position: sticky; */
    background-color: var(--background);
    padding: 0.1rem 0 0 0;
    margin: 0;
    top: 0;
    border-bottom: 1px solid var(--blue);
    z-index: 999;
    width: 100%;
  }

  h3 {
    color: var(--black);
    font-weight: 350;
    font-size: 1.8rem;
    margin: 4% 0 2%;
  }

  ul {
    list-style-type: none;
    margin: 1%;
    padding: 0;
    width: 18%;
    position: fixed;
    /* background-color: rgb(255, 255, 157); */
    border-radius: 15px;
    height: 100%;
    /* overflow: scroll; */
  }

  img {
    display: inline-block;
    width: 85%;
  }

  .img-header {
    width: 100%;
  }

  hr {
    border: 0.5px solid var(--blue);
  }

  li a,
  li h3 {
    display: block;
    padding: 0.3rem;
    font-weight: 450;
    font-size: 1rem;
    text-decoration: none;
  }

  li a.active {
    font-weight: 500;
    /* background-color: blue; */
    color: var(--blue);
  }

  li a:hover:not(.active) {
    /* color: var(--grey); */
    text-decoration: var(--blue) underline;
    /* background-color: var(--grey);
    color: var(--white); */
  }

  .grid-twocolumn {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: fit-content(20%);
    grid-column-gap: 0.1em;
    align-content: center;
  }

  .flex-twocolumn {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
  }

  .grid-threecol {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0.1em;
  }

  .flex-threecol {
    display: flex;
    align-items: center;
  }

  .blue {
    font-family: "Crimson Pro";
    line-height: 75%;
    max-width: 50%;
    font-size: 3rem;
    font-weight: 250;
    margin: 10% 0 20%;
  }

  .bluetext {
    color: var(--blue);
    font-weight: 500;
  }

  .pilcrow {
    font-family: "Crimson Pro";
    font-size: 1.3rem;
  }

  .callout{
    background-color: var(--blue);
    color: var(--white);
    padding: 5%;
  }
  
  .callout-inverted{
    border: 1.5px solid var(--blue);
    padding: 5%;
  }
  
  .wide{
    font-size: 1rem;
    font-weight: 400;
    max-width: 100%;
    margin: 0.5%;
  }
</style>
