---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>

  <body>
    <!-- <nav>
      <a href="/">Erika Wang</a>
      <div class="nav-right">
         <a href="/">Work</a>
        <a href="about">About</a>
        <a href="/">Resume</a>
      </div>
    </nav> -->

    <slot />

    <footer>
      © Erika Wang 2024 | Built with <a
        style="text-decoration: underline;"
        href="https://astro.build/">Astro</a
      >
    </footer>
  </body>

  <style is:global>
    /* @import url("https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600&display=swap"); */
    @import url("https://fonts.googleapis.com/css2?family=Gelasio:wght@600&family=Hanken+Grotesk:wght@350&display=swap");
    :root {
      --accent: 124, 58, 237;
      --accent-gradient: linear-gradient(
        45deg,
        rgb(var(--accent)),
        #da62c4 30%,
        white 60%
      );
    }
    html {
      font-family: "Hanken Grotesk", sans-serif;
      /* font-family: "Martel Sans", sans-serif; */
      background-color: #f6f6f6;
      color: #c32828;
    }
    h1 {
      font-family: "Gelasio", serif;
    }

    code {
      font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
        DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
    }

    a {
      color: #c32828;
      text-decoration: none;
    }
    a:hover {
      font-weight: 800;
      text-decoration: underline;
    }
    p {
      color: #333;
      margin: 1% 0 4%;
      font-size: 0.9rem;
      font-weight: 300;
      line-height: 1.6;
      letter-spacing: -1em;
    }

    img {
      max-width: 100%;
    }
    hr {
      margin: 5% 0;
    }
    nav {
      position: sticky;
      top: 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      margin: 0;
      padding: 0rem 0.5rem;
      font-size: 1rem;
      background-color: #f6f6f6b3;
    }
    .nav-right > a {
      padding-left: 1.2rem;
    }
    nav > a,
    .nav-right > a {
      font-size: 1rem;
      text-decoration: none;
      line-height: 1.4;
      opacity: 0.9;
    }
    nav > a:hover,
    .nav-right > a:hover {
      text-decoration: underline;
    }
    footer {
      font-size: small;
      font-weight: 100;
      margin: 15% 0 1% 0;
      width: 100%;
      text-align: center;
    }

    @media only screen and (min-width: 768px) {
      a:hover {
        font-weight: 800;
        text-decoration: underline;
      }
      p {
        font-size: 1.1rem;
        color: #333;
        padding: 0 8%;
        margin: 1% 0 4%;
        font-weight: 300;
        line-height: 1.6;
        letter-spacing: -0.005em;
      }
      hr {
        margin: 5% 0;
      }
      nav {
        padding: 1.5rem 1.8rem;
        font-size: 1.1rem;
      }
      .nav-right > a {
        padding-left: 2rem;
      }
      footer {
        margin: 2% 0 1% 0;
      }
    }
  </style>
</html>
