---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/Ellipse.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>

  <body>
    <nav>
      <a href="/">Erika Wang</a>
      <div class="nav-right">
        <!-- <a href="/">Work</a> -->
        <a href="/about">About</a>
        <!-- <a href="/">Resume</a> -->
      </div>
    </nav>

    <main>
      <slot />
    </main>

    <footer>
      © Erika Wang 2023 | Built with <a
        style="text-decoration: underline;"
        href="https://astro.build/">Astro</a
      >
    </footer>
  </body>

  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
  />
  <script
    is:inline
    src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
  <script is:inline>
    new Swiper(".swiper", {
      centeredSlides: true,
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
    });
  </script>

  <style is:global>
    /* @import url("https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600&display=swap"); */
    @import url("https://fonts.googleapis.com/css2?family=Gelasio:wght@600&family=Hanken+Grotesk:wght@350&display=swap");
    :root {
      --accent: 124, 58, 237;
      --accent-gradient: linear-gradient(
        45deg,
        rgb(var(--accent)),
        #da62c4 30%,
        white 60%
      );
    }
    swiper-container {
      width: 100%;
      height: 100%;
    }

    swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    html {
      font-family: "Hanken Grotesk", sans-serif;
      /* font-family: "Martel Sans", sans-serif; */
      background-color: #f6f6f6;
      color: #c32828;
    }

    main {
      margin: auto;
      padding: 1rem;
      max-width: 110ch;
    }

    h1 {
      font-family: "Gelasio", serif;
      font-size: 3.5rem;
      font-weight: 800;
      /* margin: 0; */
    }

    h2 {
      font-size: 2rem;

      font-family: "Gelasio", serif;
      font-weight: 250;
      /* padding: 0 8%; */
      line-height: 150%;
      margin-top: 4%;
      margin-bottom: 0;
    }
    ul,
    ol {
      font-size: 1.3rem;
      padding: 0%;
    }

    li {
      margin: 2% 6%;
    }

    h3 {
      color: #333;
      line-height: 1.55;
      letter-spacing: -0.005em;
    }
    .back {
      /* position: sticky; */
      bottom: 0.2rem;
      left: 1rem;
      background-color: #f6f6f6b3;
    }

    code {
      font-family:
        Menlo,
        Monaco,
        Lucida Console,
        Liberation Mono,
        DejaVu Sans Mono,
        Bitstream Vera Sans Mono,
        Courier New,
        monospace;
    }

    a {
      color: #c32828;
      text-decoration: none;
    }
    a:hover {
      font-weight: 800;
      text-decoration: underline;
    }
    p {
      max-width: 90ch;
      color: #333;
      /* margin: 1% 0 4%; */
      font-size: 1rem;
      font-weight: 300;
      line-height: 1.5;
      margin-bottom: 5%;
    }

    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      border: 1px solid #222;
    }

    hr {
      margin: 5% 0;
    }

    nav {
      position: sticky;
      top: 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      margin: 0;
      padding: 0rem 0.5rem;
      font-size: 1rem;
      background-color: #f6f6f6b3;
    }
    .nav-right > a {
      padding-left: 1.2rem;
    }
    nav > a,
    .nav-right > a {
      font-size: 1rem;
      text-decoration: none;
      line-height: 1.4;
      opacity: 0.9;
    }
    nav > a:hover,
    .nav-right > a:hover {
      text-decoration: underline;
    }
    footer {
      font-size: small;
      font-weight: 100;
      margin: 15% 0 1% 0;
      width: 100%;
      text-align: center;
    }
    .details {
      padding: 1% 2%;
      margin: 2% 0;
    }
    .prototype {
      padding: 0.5% 2%;
      /* margin: 0 8%; */
      color: white;
      background-color: #c32828;
    }
    .sansserif {
      font-family: "Hanken Grotesk", sans-serif;
      /* font-family: "Gelasio", serif; */
      font-size: 2rem;
    }
    ul,
    ol {
      font-size: 1.2rem;
      margin-bottom: 6%;
    }

    @media only screen and (min-width: 768px) {
      ul,
      ol {
        font-size: 1.3rem;
        padding: 0 8% 1%;
      }
      h1 {
        padding: 0 8%;
      }
      h2 {
        padding: 0 8%;
      }
      a:hover {
        font-weight: 800;
        text-decoration: underline;
      }
      p {
        font-size: 1.1rem;
        color: #333;
        padding: 0 8%;
        /* margin: 1% 0 4%; */
        font-weight: 300;
        line-height: 1.6;
        letter-spacing: -0.005em;
      }
      hr {
        margin: 5% 0;
      }
      nav {
        padding: 1.5rem 1.8rem;
        font-size: 1.1rem;
      }
      .nav-right > a {
        padding-left: 2rem;
      }
      footer {
        margin: 2% 0 1% 0;
      }
      .grid-threecol {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 0.1em;
      }
      .grid-twocol {
        padding: 0 4%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 0.1em;
      }
      .details {
        padding: 1% 4% 2%;
        margin: 2% 0;
      }
      .prototype {
        margin: 0 8%;
      }
      .sansserif {
        padding: 1% 8% 0;
      }
    }
  </style>
</html>
